branches/00129-Bb9.1.SP9/TestClients/DotNetProxy/bbIDLA/Web References/BBGroupService/BBGroupWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://bbgrpws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BBGroupWebServiceService" targetNamespace="http://bbgrpws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBGroupWebService?xsd=1" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBGroupWebService?xsd=2" namespace="http://bbgrpws/" />
    </xsd:schema>
  </types>
  <message name="deleteGroup">
    <part name="parameters" element="tns:deleteGroup" />
  </message>
  <message name="deleteGroupResponse">
    <part name="parameters" element="tns:deleteGroupResponse" />
  </message>
  <message name="WebServiceException">
    <part name="fault" element="tns:WebServiceException" />
  </message>
  <message name="addGivenUserToGivenGroup">
    <part name="parameters" element="tns:addGivenUserToGivenGroup" />
  </message>
  <message name="addGivenUserToGivenGroupResponse">
    <part name="parameters" element="tns:addGivenUserToGivenGroupResponse" />
  </message>
  <message name="addGivenUserToGivenGroupXML">
    <part name="parameters" element="tns:addGivenUserToGivenGroupXML" />
  </message>
  <message name="addGivenUserToGivenGroupXMLResponse">
    <part name="parameters" element="tns:addGivenUserToGivenGroupXMLResponse" />
  </message>
  <message name="addGroupToGivenCourse">
    <part name="parameters" element="tns:addGroupToGivenCourse" />
  </message>
  <message name="addGroupToGivenCourseResponse">
    <part name="parameters" element="tns:addGroupToGivenCourseResponse" />
  </message>
  <message name="addGroupToGivenCourseXML">
    <part name="parameters" element="tns:addGroupToGivenCourseXML" />
  </message>
  <message name="addGroupToGivenCourseXMLResponse">
    <part name="parameters" element="tns:addGroupToGivenCourseXMLResponse" />
  </message>
  <message name="deleteGivenUserFromGivenGroup">
    <part name="parameters" element="tns:deleteGivenUserFromGivenGroup" />
  </message>
  <message name="deleteGivenUserFromGivenGroupResponse">
    <part name="parameters" element="tns:deleteGivenUserFromGivenGroupResponse" />
  </message>
  <message name="deleteGivenUserFromGivenGroupXML">
    <part name="parameters" element="tns:deleteGivenUserFromGivenGroupXML" />
  </message>
  <message name="deleteGivenUserFromGivenGroupXMLResponse">
    <part name="parameters" element="tns:deleteGivenUserFromGivenGroupXMLResponse" />
  </message>
  <message name="deleteGroupXML">
    <part name="parameters" element="tns:deleteGroupXML" />
  </message>
  <message name="deleteGroupXMLResponse">
    <part name="parameters" element="tns:deleteGroupXMLResponse" />
  </message>
  <message name="getGroupDetailsForGivenCourseId">
    <part name="parameters" element="tns:getGroupDetailsForGivenCourseId" />
  </message>
  <message name="getGroupDetailsForGivenCourseIdResponse">
    <part name="parameters" element="tns:getGroupDetailsForGivenCourseIdResponse" />
  </message>
  <message name="getGroupDetailsForGivenCourseIdWithNamedElements">
    <part name="parameters" element="tns:getGroupDetailsForGivenCourseIdWithNamedElements" />
  </message>
  <message name="getGroupDetailsForGivenCourseIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getGroupDetailsForGivenCourseIdWithNamedElementsResponse" />
  </message>
  <message name="getGroupDetailsForGivenCourseIdXML">
    <part name="parameters" element="tns:getGroupDetailsForGivenCourseIdXML" />
  </message>
  <message name="getGroupDetailsForGivenCourseIdXMLResponse">
    <part name="parameters" element="tns:getGroupDetailsForGivenCourseIdXMLResponse" />
  </message>
  <message name="getGroupDetailsForGivenGroupBbId">
    <part name="parameters" element="tns:getGroupDetailsForGivenGroupBbId" />
  </message>
  <message name="getGroupDetailsForGivenGroupBbIdResponse">
    <part name="parameters" element="tns:getGroupDetailsForGivenGroupBbIdResponse" />
  </message>
  <message name="getGroupDetailsForGivenGroupBbIdWithNamedElements">
    <part name="parameters" element="tns:getGroupDetailsForGivenGroupBbIdWithNamedElements" />
  </message>
  <message name="getGroupDetailsForGivenGroupBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getGroupDetailsForGivenGroupBbIdWithNamedElementsResponse" />
  </message>
  <message name="getGroupDetailsForGivenGroupBbIdXML">
    <part name="parameters" element="tns:getGroupDetailsForGivenGroupBbIdXML" />
  </message>
  <message name="getGroupDetailsForGivenGroupBbIdXMLResponse">
    <part name="parameters" element="tns:getGroupDetailsForGivenGroupBbIdXMLResponse" />
  </message>
  <message name="getGroupMembersForGivenGroupBbId">
    <part name="parameters" element="tns:getGroupMembersForGivenGroupBbId" />
  </message>
  <message name="getGroupMembersForGivenGroupBbIdResponse">
    <part name="parameters" element="tns:getGroupMembersForGivenGroupBbIdResponse" />
  </message>
  <message name="getGroupMemberDetailsForGivenGroupBbIdWithNamedElements">
    <part name="parameters" element="tns:getGroupMemberDetailsForGivenGroupBbIdWithNamedElements" />
  </message>
  <message name="getGroupMemberDetailsForGivenGroupBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getGroupMemberDetailsForGivenGroupBbIdWithNamedElementsResponse" />
  </message>
  <message name="getGroupMemberDetailsForGivenGroupBbIdXML">
    <part name="parameters" element="tns:getGroupMemberDetailsForGivenGroupBbIdXML" />
  </message>
  <message name="getGroupMemberDetailsForGivenGroupBbIdXMLResponse">
    <part name="parameters" element="tns:getGroupMemberDetailsForGivenGroupBbIdXMLResponse" />
  </message>
  <message name="modifyGroup">
    <part name="parameters" element="tns:modifyGroup" />
  </message>
  <message name="modifyGroupResponse">
    <part name="parameters" element="tns:modifyGroupResponse" />
  </message>
  <message name="modifyGroupXML">
    <part name="parameters" element="tns:modifyGroupXML" />
  </message>
  <message name="modifyGroupXMLResponse">
    <part name="parameters" element="tns:modifyGroupXMLResponse" />
  </message>
  <portType name="BBGroupWebService">
    <operation name="deleteGroup">
      <input message="tns:deleteGroup" />
      <output message="tns:deleteGroupResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="addGivenUserToGivenGroup">
      <input message="tns:addGivenUserToGivenGroup" />
      <output message="tns:addGivenUserToGivenGroupResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="addGivenUserToGivenGroupXML">
      <input message="tns:addGivenUserToGivenGroupXML" />
      <output message="tns:addGivenUserToGivenGroupXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="addGroupToGivenCourse">
      <input message="tns:addGroupToGivenCourse" />
      <output message="tns:addGroupToGivenCourseResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="addGroupToGivenCourseXML">
      <input message="tns:addGroupToGivenCourseXML" />
      <output message="tns:addGroupToGivenCourseXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteGivenUserFromGivenGroup">
      <input message="tns:deleteGivenUserFromGivenGroup" />
      <output message="tns:deleteGivenUserFromGivenGroupResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteGivenUserFromGivenGroupXML">
      <input message="tns:deleteGivenUserFromGivenGroupXML" />
      <output message="tns:deleteGivenUserFromGivenGroupXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteGroupXML">
      <input message="tns:deleteGroupXML" />
      <output message="tns:deleteGroupXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupDetailsForGivenCourseId">
      <input message="tns:getGroupDetailsForGivenCourseId" />
      <output message="tns:getGroupDetailsForGivenCourseIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupDetailsForGivenCourseIdWithNamedElements">
      <input message="tns:getGroupDetailsForGivenCourseIdWithNamedElements" />
      <output message="tns:getGroupDetailsForGivenCourseIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupDetailsForGivenCourseIdXML">
      <input message="tns:getGroupDetailsForGivenCourseIdXML" />
      <output message="tns:getGroupDetailsForGivenCourseIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupDetailsForGivenGroupBbId">
      <input message="tns:getGroupDetailsForGivenGroupBbId" />
      <output message="tns:getGroupDetailsForGivenGroupBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupDetailsForGivenGroupBbIdWithNamedElements">
      <input message="tns:getGroupDetailsForGivenGroupBbIdWithNamedElements" />
      <output message="tns:getGroupDetailsForGivenGroupBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupDetailsForGivenGroupBbIdXML">
      <input message="tns:getGroupDetailsForGivenGroupBbIdXML" />
      <output message="tns:getGroupDetailsForGivenGroupBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupMembersForGivenGroupBbId">
      <input message="tns:getGroupMembersForGivenGroupBbId" />
      <output message="tns:getGroupMembersForGivenGroupBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupMemberDetailsForGivenGroupBbIdWithNamedElements">
      <input message="tns:getGroupMemberDetailsForGivenGroupBbIdWithNamedElements" />
      <output message="tns:getGroupMemberDetailsForGivenGroupBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGroupMemberDetailsForGivenGroupBbIdXML">
      <input message="tns:getGroupMemberDetailsForGivenGroupBbIdXML" />
      <output message="tns:getGroupMemberDetailsForGivenGroupBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="modifyGroup">
      <input message="tns:modifyGroup" />
      <output message="tns:modifyGroupResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="modifyGroupXML">
      <input message="tns:modifyGroupXML" />
      <output message="tns:modifyGroupXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
  </portType>
  <binding name="BBGroupWebServicePortBinding" type="tns:BBGroupWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="deleteGroup">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="addGivenUserToGivenGroup">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="addGivenUserToGivenGroupXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="addGroupToGivenCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="addGroupToGivenCourseXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteGivenUserFromGivenGroup">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteGivenUserFromGivenGroupXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteGroupXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupDetailsForGivenCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupDetailsForGivenCourseIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupDetailsForGivenCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupDetailsForGivenGroupBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupDetailsForGivenGroupBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupDetailsForGivenGroupBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupMembersForGivenGroupBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupMemberDetailsForGivenGroupBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGroupMemberDetailsForGivenGroupBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="modifyGroup">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="modifyGroupXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="BBGroupWebServiceService">
    <port name="BBGroupWebServicePort" binding="tns:BBGroupWebServicePortBinding">
      <soap:address location="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBGroupWebService" />
    </port>
  </service>
</definitions>