branches/00129-Bb9.1.SP9/TestClients/webservices_amnl/App_WebReferences/bbgbws/BBGradebookWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://bbgbws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BBGradebookWebServiceService" targetNamespace="http://bbgbws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBGradebookWebService?xsd=1" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBGradebookWebService?xsd=2" namespace="http://bbgbws/" />
    </xsd:schema>
  </types>
  <message name="addLineitemToGivenCourseId">
    <part name="parameters" element="tns:addLineitemToGivenCourseId" />
  </message>
  <message name="addLineitemToGivenCourseIdResponse">
    <part name="parameters" element="tns:addLineitemToGivenCourseIdResponse" />
  </message>
  <message name="WebServiceException">
    <part name="fault" element="tns:WebServiceException" />
  </message>
  <message name="addLineitemToGivenCourseIdXML">
    <part name="parameters" element="tns:addLineitemToGivenCourseIdXML" />
  </message>
  <message name="addLineitemToGivenCourseIdXMLResponse">
    <part name="parameters" element="tns:addLineitemToGivenCourseIdXMLResponse" />
  </message>
  <message name="deleteGivenAttemptByAttemptBbId">
    <part name="parameters" element="tns:deleteGivenAttemptByAttemptBbId" />
  </message>
  <message name="deleteGivenAttemptByAttemptBbIdResponse">
    <part name="parameters" element="tns:deleteGivenAttemptByAttemptBbIdResponse" />
  </message>
  <message name="deleteGivenAttemptByAttemptBbIdXML">
    <part name="parameters" element="tns:deleteGivenAttemptByAttemptBbIdXML" />
  </message>
  <message name="deleteGivenAttemptByAttemptBbIdXMLResponse">
    <part name="parameters" element="tns:deleteGivenAttemptByAttemptBbIdXMLResponse" />
  </message>
  <message name="deleteOutcomeDefinitionByOutcomeDefBbId">
    <part name="parameters" element="tns:deleteOutcomeDefinitionByOutcomeDefBbId" />
  </message>
  <message name="deleteOutcomeDefinitionByOutcomeDefBbIdResponse">
    <part name="parameters" element="tns:deleteOutcomeDefinitionByOutcomeDefBbIdResponse" />
  </message>
  <message name="deleteLineItemByLineItemBbId">
    <part name="parameters" element="tns:deleteLineItemByLineItemBbId" />
  </message>
  <message name="deleteLineItemByLineItemBbIdResponse">
    <part name="parameters" element="tns:deleteLineItemByLineItemBbIdResponse" />
  </message>
  <message name="deleteLineItemByLineItemBbIdXML">
    <part name="parameters" element="tns:deleteLineItemByLineItemBbIdXML" />
  </message>
  <message name="deleteLineItemByLineItemBbIdXMLResponse">
    <part name="parameters" element="tns:deleteLineItemByLineItemBbIdXMLResponse" />
  </message>
  <message name="deleteOutcomeDefinitionByOutcomeDefBbIdXML">
    <part name="parameters" element="tns:deleteOutcomeDefinitionByOutcomeDefBbIdXML" />
  </message>
  <message name="deleteOutcomeDefinitionByOutcomeDefBbIdXMLResponse">
    <part name="parameters" element="tns:deleteOutcomeDefinitionByOutcomeDefBbIdXMLResponse" />
  </message>
  <message name="getAllLineItemsForCourseId">
    <part name="parameters" element="tns:getAllLineItemsForCourseId" />
  </message>
  <message name="getAllLineItemsForCourseIdResponse">
    <part name="parameters" element="tns:getAllLineItemsForCourseIdResponse" />
  </message>
  <message name="getAllLineItemsForCourseIdWithNamedElements">
    <part name="parameters" element="tns:getAllLineItemsForCourseIdWithNamedElements" />
  </message>
  <message name="getAllLineItemsForCourseIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllLineItemsForCourseIdWithNamedElementsResponse" />
  </message>
  <message name="getAllLineItemsForCourseIdWithNamedElementsAndParams">
    <part name="parameters" element="tns:getAllLineItemsForCourseIdWithNamedElementsAndParams" />
  </message>
  <message name="getAllLineItemsForCourseIdWithNamedElementsAndParamsResponse">
    <part name="parameters" element="tns:getAllLineItemsForCourseIdWithNamedElementsAndParamsResponse" />
  </message>
  <message name="getLineitemDetailsForGivenLineitemBbIdWithNamedElements">
    <part name="parameters" element="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElements" />
  </message>
  <message name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsResponse" />
  </message>
  <message name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParams">
    <part name="parameters" element="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParams" />
  </message>
  <message name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParamsResponse">
    <part name="parameters" element="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParamsResponse" />
  </message>
  <message name="getAllLineItemsForCourseIdXML">
    <part name="parameters" element="tns:getAllLineItemsForCourseIdXML" />
  </message>
  <message name="getAllLineItemsForCourseIdXMLResponse">
    <part name="parameters" element="tns:getAllLineItemsForCourseIdXMLResponse" />
  </message>
  <message name="getAllOutcomeDefinitionsForGivenCourse">
    <part name="parameters" element="tns:getAllOutcomeDefinitionsForGivenCourse" />
  </message>
  <message name="getAllOutcomeDefinitionsForGivenCourseResponse">
    <part name="parameters" element="tns:getAllOutcomeDefinitionsForGivenCourseResponse" />
  </message>
  <message name="getAllOutcomeDefinitionsForGivenCourseWithNamedElements">
    <part name="parameters" element="tns:getAllOutcomeDefinitionsForGivenCourseWithNamedElements" />
  </message>
  <message name="getAllOutcomeDefinitionsForGivenCourseWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllOutcomeDefinitionsForGivenCourseWithNamedElementsResponse" />
  </message>
  <message name="getAllOutcomeDefinitionsForGivenCourseXML">
    <part name="parameters" element="tns:getAllOutcomeDefinitionsForGivenCourseXML" />
  </message>
  <message name="getAllOutcomeDefinitionsForGivenCourseXMLResponse">
    <part name="parameters" element="tns:getAllOutcomeDefinitionsForGivenCourseXMLResponse" />
  </message>
  <message name="getAllOutcomesForGivenOutcomeDefBbIdWithNamedElements">
    <part name="parameters" element="tns:getAllOutcomesForGivenOutcomeDefBbIdWithNamedElements" />
  </message>
  <message name="getAllOutcomesForGivenOutcomeDefBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllOutcomesForGivenOutcomeDefBbIdWithNamedElementsResponse" />
  </message>
  <message name="getAllOutcomesForGivenOutcomeDefBbIdXML">
    <part name="parameters" element="tns:getAllOutcomesForGivenOutcomeDefBbIdXML" />
  </message>
  <message name="getAllOutcomesForGivenOutcomeDefBbIdXMLResponse">
    <part name="parameters" element="tns:getAllOutcomesForGivenOutcomeDefBbIdXMLResponse" />
  </message>
  <message name="getAllScoreDetailsForGivenLineItemBbIdWithNamedElements">
    <part name="parameters" element="tns:getAllScoreDetailsForGivenLineItemBbIdWithNamedElements" />
  </message>
  <message name="getAllScoreDetailsForGivenLineItemBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllScoreDetailsForGivenLineItemBbIdWithNamedElementsResponse" />
  </message>
  <message name="getAllScoreDetailsForGivenLineItemBbIdXML">
    <part name="parameters" element="tns:getAllScoreDetailsForGivenLineItemBbIdXML" />
  </message>
  <message name="getAllScoreDetailsForGivenLineItemBbIdXMLResponse">
    <part name="parameters" element="tns:getAllScoreDetailsForGivenLineItemBbIdXMLResponse" />
  </message>
  <message name="getAllScoresForGivenLineItemBbId">
    <part name="parameters" element="tns:getAllScoresForGivenLineItemBbId" />
  </message>
  <message name="getAllScoresForGivenLineItemBbIdResponse">
    <part name="parameters" element="tns:getAllScoresForGivenLineItemBbIdResponse" />
  </message>
  <message name="getAttemptsByGivenOutcomeDefBbId">
    <part name="parameters" element="tns:getAttemptsByGivenOutcomeDefBbId" />
  </message>
  <message name="getAttemptsByGivenOutcomeDefBbIdResponse">
    <part name="parameters" element="tns:getAttemptsByGivenOutcomeDefBbIdResponse" />
  </message>
  <message name="getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElements">
    <part name="parameters" element="tns:getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElements" />
  </message>
  <message name="getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElementsResponse" />
  </message>
  <message name="getAttemptDetailsByGivenOutcomeDefBbIdXML">
    <part name="parameters" element="tns:getAttemptDetailsByGivenOutcomeDefBbIdXML" />
  </message>
  <message name="getAttemptDetailsByGivenOutcomeDefBbIdXMLResponse">
    <part name="parameters" element="tns:getAttemptDetailsByGivenOutcomeDefBbIdXMLResponse" />
  </message>
  <message name="getGradebookSettingsForGivenCourseId">
    <part name="parameters" element="tns:getGradebookSettingsForGivenCourseId" />
  </message>
  <message name="getGradebookSettingsForGivenCourseIdResponse">
    <part name="parameters" element="tns:getGradebookSettingsForGivenCourseIdResponse" />
  </message>
  <message name="getGradebookSettingsForGivenCourseIdWithNamedElements">
    <part name="parameters" element="tns:getGradebookSettingsForGivenCourseIdWithNamedElements" />
  </message>
  <message name="getGradebookSettingsForGivenCourseIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getGradebookSettingsForGivenCourseIdWithNamedElementsResponse" />
  </message>
  <message name="getGradebookSettingsForGivenCourseIdXML">
    <part name="parameters" element="tns:getGradebookSettingsForGivenCourseIdXML" />
  </message>
  <message name="getGradebookSettingsForGivenCourseIdXMLResponse">
    <part name="parameters" element="tns:getGradebookSettingsForGivenCourseIdXMLResponse" />
  </message>
  <message name="getLineitemDetailsForGivenLineitemBbIdXML">
    <part name="parameters" element="tns:getLineitemDetailsForGivenLineitemBbIdXML" />
  </message>
  <message name="getLineitemDetailsForGivenLineitemBbIdXMLResponse">
    <part name="parameters" element="tns:getLineitemDetailsForGivenLineitemBbIdXMLResponse" />
  </message>
  <message name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElements">
    <part name="parameters" element="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElements" />
  </message>
  <message name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElementsResponse" />
  </message>
  <message name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXML">
    <part name="parameters" element="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXML" />
  </message>
  <message name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXMLResponse">
    <part name="parameters" element="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXMLResponse" />
  </message>
  <message name="getScoreDetailsForGivenScoreBbIdWithNamedElements">
    <part name="parameters" element="tns:getScoreDetailsForGivenScoreBbIdWithNamedElements" />
  </message>
  <message name="getScoreDetailsForGivenScoreBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getScoreDetailsForGivenScoreBbIdWithNamedElementsResponse" />
  </message>
  <message name="getScoreDetailsForGivenScoreBbIdXML">
    <part name="parameters" element="tns:getScoreDetailsForGivenScoreBbIdXML" />
  </message>
  <message name="getScoreDetailsForGivenScoreBbIdXMLResponse">
    <part name="parameters" element="tns:getScoreDetailsForGivenScoreBbIdXMLResponse" />
  </message>
  <message name="getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElements">
    <part name="parameters" element="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElements" />
  </message>
  <message name="getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElementsResponse" />
  </message>
  <message name="getScoreDetailsForGivenUserIdAndLineItemBbIdXML">
    <part name="parameters" element="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdXML" />
  </message>
  <message name="getScoreDetailsForGivenUserIdAndLineItemBbIdXMLResponse">
    <part name="parameters" element="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdXMLResponse" />
  </message>
  <message name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElements">
    <part name="parameters" element="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElements" />
  </message>
  <message name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElementsResponse" />
  </message>
  <message name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXML">
    <part name="parameters" element="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXML" />
  </message>
  <message name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXMLResponse">
    <part name="parameters" element="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXMLResponse" />
  </message>
  <message name="getScoreForGivenCourseMembershipBbIdAndLineItemBbId">
    <part name="parameters" element="tns:getScoreForGivenCourseMembershipBbIdAndLineItemBbId" />
  </message>
  <message name="getScoreForGivenCourseMembershipBbIdAndLineItemBbIdResponse">
    <part name="parameters" element="tns:getScoreForGivenCourseMembershipBbIdAndLineItemBbIdResponse" />
  </message>
  <message name="getScoreForGivenUserIdAndLineItemBbId">
    <part name="parameters" element="tns:getScoreForGivenUserIdAndLineItemBbId" />
  </message>
  <message name="getScoreForGivenUserIdAndLineItemBbIdResponse">
    <part name="parameters" element="tns:getScoreForGivenUserIdAndLineItemBbIdResponse" />
  </message>
  <message name="getOutcomeDetailsFromOutcomeBbIdWithNamedElements">
    <part name="parameters" element="tns:getOutcomeDetailsFromOutcomeBbIdWithNamedElements" />
  </message>
  <message name="getOutcomeDetailsFromOutcomeBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getOutcomeDetailsFromOutcomeBbIdWithNamedElementsResponse" />
  </message>
  <message name="getOutcomeDetailsFromOutcomeBbIdXML">
    <part name="parameters" element="tns:getOutcomeDetailsFromOutcomeBbIdXML" />
  </message>
  <message name="getOutcomeDetailsFromOutcomeBbIdXMLResponse">
    <part name="parameters" element="tns:getOutcomeDetailsFromOutcomeBbIdXMLResponse" />
  </message>
  <message name="setLineItemWeightByLineItemBbId">
    <part name="parameters" element="tns:setLineItemWeightByLineItemBbId" />
  </message>
  <message name="setLineItemWeightByLineItemBbIdResponse">
    <part name="parameters" element="tns:setLineItemWeightByLineItemBbIdResponse" />
  </message>
  <message name="setLineItemWeightByLineItemBbIdXML">
    <part name="parameters" element="tns:setLineItemWeightByLineItemBbIdXML" />
  </message>
  <message name="setLineItemWeightByLineItemBbIdXMLResponse">
    <part name="parameters" element="tns:setLineItemWeightByLineItemBbIdXMLResponse" />
  </message>
  <message name="setWeightByItemOrCategoryForGradebookInGivenCourseId">
    <part name="parameters" element="tns:setWeightByItemOrCategoryForGradebookInGivenCourseId" />
  </message>
  <message name="setWeightByItemOrCategoryForGradebookInGivenCourseIdResponse">
    <part name="parameters" element="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdResponse" />
  </message>
  <message name="setWeightByItemOrCategoryForGradebookInGivenCourseIdXML">
    <part name="parameters" element="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdXML" />
  </message>
  <message name="setWeightByItemOrCategoryForGradebookInGivenCourseIdXMLResponse">
    <part name="parameters" element="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdXMLResponse" />
  </message>
  <portType name="BBGradebookWebService">
    <operation name="addLineitemToGivenCourseId">
      <input message="tns:addLineitemToGivenCourseId" />
      <output message="tns:addLineitemToGivenCourseIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="addLineitemToGivenCourseIdXML">
      <input message="tns:addLineitemToGivenCourseIdXML" />
      <output message="tns:addLineitemToGivenCourseIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteGivenAttemptByAttemptBbId">
      <input message="tns:deleteGivenAttemptByAttemptBbId" />
      <output message="tns:deleteGivenAttemptByAttemptBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteGivenAttemptByAttemptBbIdXML">
      <input message="tns:deleteGivenAttemptByAttemptBbIdXML" />
      <output message="tns:deleteGivenAttemptByAttemptBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteOutcomeDefinitionByOutcomeDefBbId">
      <input message="tns:deleteOutcomeDefinitionByOutcomeDefBbId" />
      <output message="tns:deleteOutcomeDefinitionByOutcomeDefBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteLineItemByLineItemBbId">
      <input message="tns:deleteLineItemByLineItemBbId" />
      <output message="tns:deleteLineItemByLineItemBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteLineItemByLineItemBbIdXML">
      <input message="tns:deleteLineItemByLineItemBbIdXML" />
      <output message="tns:deleteLineItemByLineItemBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteOutcomeDefinitionByOutcomeDefBbIdXML">
      <input message="tns:deleteOutcomeDefinitionByOutcomeDefBbIdXML" />
      <output message="tns:deleteOutcomeDefinitionByOutcomeDefBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllLineItemsForCourseId">
      <input message="tns:getAllLineItemsForCourseId" />
      <output message="tns:getAllLineItemsForCourseIdResponse" />
    </operation>
    <operation name="getAllLineItemsForCourseIdWithNamedElements">
      <input message="tns:getAllLineItemsForCourseIdWithNamedElements" />
      <output message="tns:getAllLineItemsForCourseIdWithNamedElementsResponse" />
    </operation>
    <operation name="getAllLineItemsForCourseIdWithNamedElementsAndParams">
      <input message="tns:getAllLineItemsForCourseIdWithNamedElementsAndParams" />
      <output message="tns:getAllLineItemsForCourseIdWithNamedElementsAndParamsResponse" />
    </operation>
    <operation name="getLineitemDetailsForGivenLineitemBbIdWithNamedElements">
      <input message="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElements" />
      <output message="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParams">
      <input message="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParams" />
      <output message="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParamsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllLineItemsForCourseIdXML">
      <input message="tns:getAllLineItemsForCourseIdXML" />
      <output message="tns:getAllLineItemsForCourseIdXMLResponse" />
    </operation>
    <operation name="getAllOutcomeDefinitionsForGivenCourse">
      <input message="tns:getAllOutcomeDefinitionsForGivenCourse" />
      <output message="tns:getAllOutcomeDefinitionsForGivenCourseResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllOutcomeDefinitionsForGivenCourseWithNamedElements">
      <input message="tns:getAllOutcomeDefinitionsForGivenCourseWithNamedElements" />
      <output message="tns:getAllOutcomeDefinitionsForGivenCourseWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllOutcomeDefinitionsForGivenCourseXML">
      <input message="tns:getAllOutcomeDefinitionsForGivenCourseXML" />
      <output message="tns:getAllOutcomeDefinitionsForGivenCourseXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllOutcomesForGivenOutcomeDefBbIdWithNamedElements">
      <input message="tns:getAllOutcomesForGivenOutcomeDefBbIdWithNamedElements" />
      <output message="tns:getAllOutcomesForGivenOutcomeDefBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllOutcomesForGivenOutcomeDefBbIdXML">
      <input message="tns:getAllOutcomesForGivenOutcomeDefBbIdXML" />
      <output message="tns:getAllOutcomesForGivenOutcomeDefBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllScoreDetailsForGivenLineItemBbIdWithNamedElements">
      <input message="tns:getAllScoreDetailsForGivenLineItemBbIdWithNamedElements" />
      <output message="tns:getAllScoreDetailsForGivenLineItemBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllScoreDetailsForGivenLineItemBbIdXML">
      <input message="tns:getAllScoreDetailsForGivenLineItemBbIdXML" />
      <output message="tns:getAllScoreDetailsForGivenLineItemBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllScoresForGivenLineItemBbId">
      <input message="tns:getAllScoresForGivenLineItemBbId" />
      <output message="tns:getAllScoresForGivenLineItemBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAttemptsByGivenOutcomeDefBbId">
      <input message="tns:getAttemptsByGivenOutcomeDefBbId" />
      <output message="tns:getAttemptsByGivenOutcomeDefBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElements">
      <input message="tns:getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElements" />
      <output message="tns:getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAttemptDetailsByGivenOutcomeDefBbIdXML">
      <input message="tns:getAttemptDetailsByGivenOutcomeDefBbIdXML" />
      <output message="tns:getAttemptDetailsByGivenOutcomeDefBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGradebookSettingsForGivenCourseId">
      <input message="tns:getGradebookSettingsForGivenCourseId" />
      <output message="tns:getGradebookSettingsForGivenCourseIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGradebookSettingsForGivenCourseIdWithNamedElements">
      <input message="tns:getGradebookSettingsForGivenCourseIdWithNamedElements" />
      <output message="tns:getGradebookSettingsForGivenCourseIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getGradebookSettingsForGivenCourseIdXML">
      <input message="tns:getGradebookSettingsForGivenCourseIdXML" />
      <output message="tns:getGradebookSettingsForGivenCourseIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getLineitemDetailsForGivenLineitemBbIdXML">
      <input message="tns:getLineitemDetailsForGivenLineitemBbIdXML" />
      <output message="tns:getLineitemDetailsForGivenLineitemBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElements">
      <input message="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElements" />
      <output message="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXML">
      <input message="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXML" />
      <output message="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getScoreDetailsForGivenScoreBbIdWithNamedElements">
      <input message="tns:getScoreDetailsForGivenScoreBbIdWithNamedElements" />
      <output message="tns:getScoreDetailsForGivenScoreBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getScoreDetailsForGivenScoreBbIdXML">
      <input message="tns:getScoreDetailsForGivenScoreBbIdXML" />
      <output message="tns:getScoreDetailsForGivenScoreBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElements">
      <input message="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElements" />
      <output message="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getScoreDetailsForGivenUserIdAndLineItemBbIdXML">
      <input message="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdXML" />
      <output message="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElements">
      <input message="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElements" />
      <output message="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXML">
      <input message="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXML" />
      <output message="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getScoreForGivenCourseMembershipBbIdAndLineItemBbId">
      <input message="tns:getScoreForGivenCourseMembershipBbIdAndLineItemBbId" />
      <output message="tns:getScoreForGivenCourseMembershipBbIdAndLineItemBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getScoreForGivenUserIdAndLineItemBbId">
      <input message="tns:getScoreForGivenUserIdAndLineItemBbId" />
      <output message="tns:getScoreForGivenUserIdAndLineItemBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getOutcomeDetailsFromOutcomeBbIdWithNamedElements">
      <input message="tns:getOutcomeDetailsFromOutcomeBbIdWithNamedElements" />
      <output message="tns:getOutcomeDetailsFromOutcomeBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getOutcomeDetailsFromOutcomeBbIdXML">
      <input message="tns:getOutcomeDetailsFromOutcomeBbIdXML" />
      <output message="tns:getOutcomeDetailsFromOutcomeBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="setLineItemWeightByLineItemBbId">
      <input message="tns:setLineItemWeightByLineItemBbId" />
      <output message="tns:setLineItemWeightByLineItemBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="setLineItemWeightByLineItemBbIdXML">
      <input message="tns:setLineItemWeightByLineItemBbIdXML" />
      <output message="tns:setLineItemWeightByLineItemBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="setWeightByItemOrCategoryForGradebookInGivenCourseId">
      <input message="tns:setWeightByItemOrCategoryForGradebookInGivenCourseId" />
      <output message="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="setWeightByItemOrCategoryForGradebookInGivenCourseIdXML">
      <input message="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdXML" />
      <output message="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
  </portType>
  <binding name="BBGradebookWebServicePortBinding" type="tns:BBGradebookWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="addLineitemToGivenCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="addLineitemToGivenCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteGivenAttemptByAttemptBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteGivenAttemptByAttemptBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteOutcomeDefinitionByOutcomeDefBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteLineItemByLineItemBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteLineItemByLineItemBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteOutcomeDefinitionByOutcomeDefBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLineItemsForCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllLineItemsForCourseIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllLineItemsForCourseIdWithNamedElementsAndParams">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLineitemDetailsForGivenLineitemBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParams">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLineItemsForCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllOutcomeDefinitionsForGivenCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllOutcomeDefinitionsForGivenCourseWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllOutcomeDefinitionsForGivenCourseXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllOutcomesForGivenOutcomeDefBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllOutcomesForGivenOutcomeDefBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllScoreDetailsForGivenLineItemBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllScoreDetailsForGivenLineItemBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllScoresForGivenLineItemBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAttemptsByGivenOutcomeDefBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAttemptDetailsByGivenOutcomeDefBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGradebookSettingsForGivenCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGradebookSettingsForGivenCourseIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGradebookSettingsForGivenCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getLineitemDetailsForGivenLineitemBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getScoreDetailsForGivenScoreBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getScoreDetailsForGivenScoreBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getScoreDetailsForGivenUserIdAndLineItemBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getScoreForGivenCourseMembershipBbIdAndLineItemBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getScoreForGivenUserIdAndLineItemBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getOutcomeDetailsFromOutcomeBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getOutcomeDetailsFromOutcomeBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="setLineItemWeightByLineItemBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="setLineItemWeightByLineItemBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="setWeightByItemOrCategoryForGradebookInGivenCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="setWeightByItemOrCategoryForGradebookInGivenCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="BBGradebookWebServiceService">
    <port name="BBGradebookWebServicePort" binding="tns:BBGradebookWebServicePortBinding">
      <soap:address location="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBGradebookWebService" />
    </port>
  </service>
</definitions>