branches/00100-Bb9.1.SP5/TestClients/DotNetProxy/bbIDLA/Web References/BBCalendarService/BBCalendarWebService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ncl.ac.uk/BBCalendarWebService" xmlns:ns1="http://jaxb.dev.java.net/array" targetNamespace="http://www.ncl.ac.uk/BBCalendarWebService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBCalendarWebService?xsd=2" namespace="http://jaxb.dev.java.net/array" />
  <xs:element name="addCalendarEntry" type="tns:addCalendarEntry" />
  <xs:element name="addCalendarEntryResponse" type="tns:addCalendarEntryResponse" />
  <xs:element name="deleteCalendarEntryByCalendarEntryBbId" type="tns:deleteCalendarEntryByCalendarEntryBbId" />
  <xs:element name="deleteCalendarEntryByCalendarEntryBbIdResponse" type="tns:deleteCalendarEntryByCalendarEntryBbIdResponse" />
  <xs:element name="getAllCourseCalendarEntriesForGivenCourseId" type="tns:getAllCourseCalendarEntriesForGivenCourseId" />
  <xs:element name="getAllCourseCalendarEntriesForGivenCourseIdResponse" type="tns:getAllCourseCalendarEntriesForGivenCourseIdResponse" />
  <xs:element name="getAllCourseCalendarEntriesForGivenUserId" type="tns:getAllCourseCalendarEntriesForGivenUserId" />
  <xs:element name="getAllCourseCalendarEntriesForGivenUserIdResponse" type="tns:getAllCourseCalendarEntriesForGivenUserIdResponse" />
  <xs:element name="getCourseCalendarEntriesWithinDatesForGivenCourseId" type="tns:getCourseCalendarEntriesWithinDatesForGivenCourseId" />
  <xs:element name="getCourseCalendarEntriesWithinDatesForGivenCourseIdResponse" type="tns:getCourseCalendarEntriesWithinDatesForGivenCourseIdResponse" />
  <xs:element name="getCourseCalendarEntriesWithinDatesForGivenUserId" type="tns:getCourseCalendarEntriesWithinDatesForGivenUserId" />
  <xs:element name="getCourseCalendarEntriesWithinDatesForGivenUserIdResponse" type="tns:getCourseCalendarEntriesWithinDatesForGivenUserIdResponse" />
  <xs:element name="getPersonalCalendarEntriesWithinDatesForGivenUserId" type="tns:getPersonalCalendarEntriesWithinDatesForGivenUserId" />
  <xs:element name="getPersonalCalendarEntriesWithinDatesForGivenUserIdResponse" type="tns:getPersonalCalendarEntriesWithinDatesForGivenUserIdResponse" />
  <xs:complexType name="getAllCourseCalendarEntriesForGivenUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllCourseCalendarEntriesForGivenUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCourseCalendarEntriesWithinDatesForGivenCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element name="startDay" type="xs:int" />
      <xs:element name="startMonth" type="xs:int" />
      <xs:element name="startYear" type="xs:int" />
      <xs:element name="endDay" type="xs:int" />
      <xs:element name="endMonth" type="xs:int" />
      <xs:element name="endYear" type="xs:int" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCourseCalendarEntriesWithinDatesForGivenCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addCalendarEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseID" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element name="startDay" type="xs:int" />
      <xs:element name="startMonth" type="xs:int" />
      <xs:element name="startYear" type="xs:int" />
      <xs:element name="startHour" type="xs:int" />
      <xs:element name="startMinute" type="xs:int" />
      <xs:element name="startSecond" type="xs:int" />
      <xs:element name="endDay" type="xs:int" />
      <xs:element name="endMonth" type="xs:int" />
      <xs:element name="endYear" type="xs:int" />
      <xs:element name="endHour" type="xs:int" />
      <xs:element name="endMinute" type="xs:int" />
      <xs:element name="endSecond" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addCalendarEntryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCalendarEntryByCalendarEntryBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="calendarEntryBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteCalendarEntryByCalendarEntryBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllCourseCalendarEntriesForGivenCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllCourseCalendarEntriesForGivenCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCourseCalendarEntriesWithinDatesForGivenUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element name="startDay" type="xs:int" />
      <xs:element name="startMonth" type="xs:int" />
      <xs:element name="startYear" type="xs:int" />
      <xs:element name="endDay" type="xs:int" />
      <xs:element name="endMonth" type="xs:int" />
      <xs:element name="endYear" type="xs:int" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCourseCalendarEntriesWithinDatesForGivenUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPersonalCalendarEntriesWithinDatesForGivenUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element name="startDay" type="xs:int" />
      <xs:element name="startMonth" type="xs:int" />
      <xs:element name="startYear" type="xs:int" />
      <xs:element name="endDay" type="xs:int" />
      <xs:element name="endMonth" type="xs:int" />
      <xs:element name="endYear" type="xs:int" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPersonalCalendarEntriesWithinDatesForGivenUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>