trunk/TestClients/VS2005/App_WebReferences/bbws/BbWebservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="BbWebservices" targetNamespace="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://bbtestserver:80/webapps/IDLA-BbWebservices-bb_bb60/BbWebservices?xsd=1" namespace="http://www.ncl.ac.uk/BbWsFaultException" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://bbtestserver:80/webapps/IDLA-BbWebservices-bb_bb60/BbWebservices?xsd=2" namespace="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices" />
    </xsd:schema>
  </types>
  <message name="userLoadRecordByBatchUid">
    <part name="parameters" element="tns:userLoadRecordByBatchUid" />
  </message>
  <message name="userLoadRecordByBatchUidResponse">
    <part name="parameters" element="tns:userLoadRecordByBatchUidResponse" />
  </message>
  <message name="BbWsFault">
    <part xmlns:ns1="http://www.ncl.ac.uk/BbWsFaultException" name="fault" element="ns1:BbWsFaultException" />
  </message>
  <message name="userLoadListByTemplate">
    <part name="parameters" element="tns:userLoadListByTemplate" />
  </message>
  <message name="userLoadListByTemplateResponse">
    <part name="parameters" element="tns:userLoadListByTemplateResponse" />
  </message>
  <message name="userInsertRecordByBatchUid">
    <part name="parameters" element="tns:userInsertRecordByBatchUid" />
  </message>
  <message name="userInsertRecordByBatchUidResponse">
    <part name="parameters" element="tns:userInsertRecordByBatchUidResponse" />
  </message>
  <message name="userUpdateRecordByBatchUid">
    <part name="parameters" element="tns:userUpdateRecordByBatchUid" />
  </message>
  <message name="userUpdateRecordByBatchUidResponse">
    <part name="parameters" element="tns:userUpdateRecordByBatchUidResponse" />
  </message>
  <message name="userPersistRecordByBatchUid">
    <part name="parameters" element="tns:userPersistRecordByBatchUid" />
  </message>
  <message name="userPersistRecordByBatchUidResponse">
    <part name="parameters" element="tns:userPersistRecordByBatchUidResponse" />
  </message>
  <message name="userDeleteRecordByBatchUid">
    <part name="parameters" element="tns:userDeleteRecordByBatchUid" />
  </message>
  <message name="userDeleteRecordByBatchUidResponse">
    <part name="parameters" element="tns:userDeleteRecordByBatchUidResponse" />
  </message>
  <message name="userPersistListByBatchUid">
    <part name="parameters" element="tns:userPersistListByBatchUid" />
  </message>
  <message name="userPersistListByBatchUidResponse">
    <part name="parameters" element="tns:userPersistListByBatchUidResponse" />
  </message>
  <message name="userDeleteListByBatchUid">
    <part name="parameters" element="tns:userDeleteListByBatchUid" />
  </message>
  <message name="userDeleteListByBatchUidResponse">
    <part name="parameters" element="tns:userDeleteListByBatchUidResponse" />
  </message>
  <message name="userLoadRecordById">
    <part name="parameters" element="tns:userLoadRecordById" />
  </message>
  <message name="userLoadRecordByIdResponse">
    <part name="parameters" element="tns:userLoadRecordByIdResponse" />
  </message>
  <message name="userLoadRecordByName">
    <part name="parameters" element="tns:userLoadRecordByName" />
  </message>
  <message name="userLoadRecordByNameResponse">
    <part name="parameters" element="tns:userLoadRecordByNameResponse" />
  </message>
  <message name="userInsertRecordById">
    <part name="parameters" element="tns:userInsertRecordById" />
  </message>
  <message name="userInsertRecordByIdResponse">
    <part name="parameters" element="tns:userInsertRecordByIdResponse" />
  </message>
  <message name="userUpdateRecordById">
    <part name="parameters" element="tns:userUpdateRecordById" />
  </message>
  <message name="userUpdateRecordByIdResponse">
    <part name="parameters" element="tns:userUpdateRecordByIdResponse" />
  </message>
  <message name="userPersistRecordById">
    <part name="parameters" element="tns:userPersistRecordById" />
  </message>
  <message name="userPersistRecordByIdResponse">
    <part name="parameters" element="tns:userPersistRecordByIdResponse" />
  </message>
  <message name="userDeleteRecordById">
    <part name="parameters" element="tns:userDeleteRecordById" />
  </message>
  <message name="userDeleteRecordByIdResponse">
    <part name="parameters" element="tns:userDeleteRecordByIdResponse" />
  </message>
  <message name="userLoadListById">
    <part name="parameters" element="tns:userLoadListById" />
  </message>
  <message name="userLoadListByIdResponse">
    <part name="parameters" element="tns:userLoadListByIdResponse" />
  </message>
  <message name="userInsertListById">
    <part name="parameters" element="tns:userInsertListById" />
  </message>
  <message name="userInsertListByIdResponse">
    <part name="parameters" element="tns:userInsertListByIdResponse" />
  </message>
  <message name="userUpdateListById">
    <part name="parameters" element="tns:userUpdateListById" />
  </message>
  <message name="userUpdateListByIdResponse">
    <part name="parameters" element="tns:userUpdateListByIdResponse" />
  </message>
  <message name="userPersistListById">
    <part name="parameters" element="tns:userPersistListById" />
  </message>
  <message name="userPersistListByIdResponse">
    <part name="parameters" element="tns:userPersistListByIdResponse" />
  </message>
  <message name="userDeleteListById">
    <part name="parameters" element="tns:userDeleteListById" />
  </message>
  <message name="userDeleteListByIdResponse">
    <part name="parameters" element="tns:userDeleteListByIdResponse" />
  </message>
  <message name="userLoadListByEmailAddressFamilyNameGivenName">
    <part name="parameters" element="tns:userLoadListByEmailAddressFamilyNameGivenName" />
  </message>
  <message name="userLoadListByEmailAddressFamilyNameGivenNameResponse">
    <part name="parameters" element="tns:userLoadListByEmailAddressFamilyNameGivenNameResponse" />
  </message>
  <message name="userLoadListBySearchByUserName">
    <part name="parameters" element="tns:userLoadListBySearchByUserName" />
  </message>
  <message name="userLoadListBySearchByUserNameResponse">
    <part name="parameters" element="tns:userLoadListBySearchByUserNameResponse" />
  </message>
  <message name="userLoadListObservedByObserverId">
    <part name="parameters" element="tns:userLoadListObservedByObserverId" />
  </message>
  <message name="userLoadListObservedByObserverIdResponse">
    <part name="parameters" element="tns:userLoadListObservedByObserverIdResponse" />
  </message>
  <message name="userLoadListByCourseId">
    <part name="parameters" element="tns:userLoadListByCourseId" />
  </message>
  <message name="userLoadListByCourseIdResponse">
    <part name="parameters" element="tns:userLoadListByCourseIdResponse" />
  </message>
  <message name="userLoadListByGroupId">
    <part name="parameters" element="tns:userLoadListByGroupId" />
  </message>
  <message name="userLoadListByGroupIdResponse">
    <part name="parameters" element="tns:userLoadListByGroupIdResponse" />
  </message>
  <message name="courseMembershipLoadRecordById">
    <part name="parameters" element="tns:courseMembershipLoadRecordById" />
  </message>
  <message name="courseMembershipLoadRecordByIdResponse">
    <part name="parameters" element="tns:courseMembershipLoadRecordByIdResponse" />
  </message>
  <message name="courseMembershipLoadListById">
    <part name="parameters" element="tns:courseMembershipLoadListById" />
  </message>
  <message name="courseMembershipLoadListByIdResponse">
    <part name="parameters" element="tns:courseMembershipLoadListByIdResponse" />
  </message>
  <message name="courseMembershipLoadRecordByCourseAndUserId">
    <part name="parameters" element="tns:courseMembershipLoadRecordByCourseAndUserId" />
  </message>
  <message name="courseMembershipLoadRecordByCourseAndUserIdResponse">
    <part name="parameters" element="tns:courseMembershipLoadRecordByCourseAndUserIdResponse" />
  </message>
  <message name="courseMembershipLoadListByUserId">
    <part name="parameters" element="tns:courseMembershipLoadListByUserId" />
  </message>
  <message name="courseMembershipLoadListByUserIdResponse">
    <part name="parameters" element="tns:courseMembershipLoadListByUserIdResponse" />
  </message>
  <message name="courseMembershipLoadListByCourseId">
    <part name="parameters" element="tns:courseMembershipLoadListByCourseId" />
  </message>
  <message name="courseMembershipLoadListByCourseIdResponse">
    <part name="parameters" element="tns:courseMembershipLoadListByCourseIdResponse" />
  </message>
  <message name="courseMembershipLoadListByCourseIdWithUserInfo">
    <part name="parameters" element="tns:courseMembershipLoadListByCourseIdWithUserInfo" />
  </message>
  <message name="courseMembershipLoadListByCourseIdWithUserInfoResponse">
    <part name="parameters" element="tns:courseMembershipLoadListByCourseIdWithUserInfoResponse" />
  </message>
  <message name="courseMembershipLoadListByCourseIdAndRole">
    <part name="parameters" element="tns:courseMembershipLoadListByCourseIdAndRole" />
  </message>
  <message name="courseMembershipLoadListByCourseIdAndRoleResponse">
    <part name="parameters" element="tns:courseMembershipLoadListByCourseIdAndRoleResponse" />
  </message>
  <message name="courseMembershipInsertRecordById">
    <part name="parameters" element="tns:courseMembershipInsertRecordById" />
  </message>
  <message name="courseMembershipInsertRecordByIdResponse">
    <part name="parameters" element="tns:courseMembershipInsertRecordByIdResponse" />
  </message>
  <message name="courseMembershipUpdateRecordById">
    <part name="parameters" element="tns:courseMembershipUpdateRecordById" />
  </message>
  <message name="courseMembershipUpdateRecordByIdResponse">
    <part name="parameters" element="tns:courseMembershipUpdateRecordByIdResponse" />
  </message>
  <message name="courseMembershipPersistRecordById">
    <part name="parameters" element="tns:courseMembershipPersistRecordById" />
  </message>
  <message name="courseMembershipPersistRecordByIdResponse">
    <part name="parameters" element="tns:courseMembershipPersistRecordByIdResponse" />
  </message>
  <message name="courseMembershipDeleteRecordById">
    <part name="parameters" element="tns:courseMembershipDeleteRecordById" />
  </message>
  <message name="courseMembershipDeleteRecordByIdResponse">
    <part name="parameters" element="tns:courseMembershipDeleteRecordByIdResponse" />
  </message>
  <message name="courseMembershipInsertListById">
    <part name="parameters" element="tns:courseMembershipInsertListById" />
  </message>
  <message name="courseMembershipInsertListByIdResponse">
    <part name="parameters" element="tns:courseMembershipInsertListByIdResponse" />
  </message>
  <message name="courseMembershipUpdateListById">
    <part name="parameters" element="tns:courseMembershipUpdateListById" />
  </message>
  <message name="courseMembershipUpdateListByIdResponse">
    <part name="parameters" element="tns:courseMembershipUpdateListByIdResponse" />
  </message>
  <message name="courseMembershipPersistListById">
    <part name="parameters" element="tns:courseMembershipPersistListById" />
  </message>
  <message name="courseMembershipPersistListByIdResponse">
    <part name="parameters" element="tns:courseMembershipPersistListByIdResponse" />
  </message>
  <message name="courseMembershipDeleteListById">
    <part name="parameters" element="tns:courseMembershipDeleteListById" />
  </message>
  <message name="courseMembershipDeleteListByIdResponse">
    <part name="parameters" element="tns:courseMembershipDeleteListByIdResponse" />
  </message>
  <message name="courseMembershipLoadRecordByCourseAndUserBatchId">
    <part name="parameters" element="tns:courseMembershipLoadRecordByCourseAndUserBatchId" />
  </message>
  <message name="courseMembershipLoadRecordByCourseAndUserBatchIdResponse">
    <part name="parameters" element="tns:courseMembershipLoadRecordByCourseAndUserBatchIdResponse" />
  </message>
  <message name="courseMembershipLoadListByTemplate">
    <part name="parameters" element="tns:courseMembershipLoadListByTemplate" />
  </message>
  <message name="courseMembershipLoadListByTemplateResponse">
    <part name="parameters" element="tns:courseMembershipLoadListByTemplateResponse" />
  </message>
  <message name="userLoadListByPrimaryPortalRoleId">
    <part name="parameters" element="tns:userLoadListByPrimaryPortalRoleId" />
  </message>
  <message name="userLoadListByPrimaryPortalRoleIdResponse">
    <part name="parameters" element="tns:userLoadListByPrimaryPortalRoleIdResponse" />
  </message>
  <message name="portalRoleLoadRecordById">
    <part name="parameters" element="tns:portalRoleLoadRecordById" />
  </message>
  <message name="portalRoleLoadRecordByIdResponse">
    <part name="parameters" element="tns:portalRoleLoadRecordByIdResponse" />
  </message>
  <message name="portalRoleLoadRecordByRoleId">
    <part name="parameters" element="tns:portalRoleLoadRecordByRoleId" />
  </message>
  <message name="portalRoleLoadRecordByRoleIdResponse">
    <part name="parameters" element="tns:portalRoleLoadRecordByRoleIdResponse" />
  </message>
  <message name="portalRoleLoadRecordByRoleName">
    <part name="parameters" element="tns:portalRoleLoadRecordByRoleName" />
  </message>
  <message name="portalRoleLoadRecordByRoleNameResponse">
    <part name="parameters" element="tns:portalRoleLoadRecordByRoleNameResponse" />
  </message>
  <message name="portalRoleLoadRecordDefault">
    <part name="parameters" element="tns:portalRoleLoadRecordDefault" />
  </message>
  <message name="portalRoleLoadRecordDefaultResponse">
    <part name="parameters" element="tns:portalRoleLoadRecordDefaultResponse" />
  </message>
  <message name="portalRoleLoadListRemovable">
    <part name="parameters" element="tns:portalRoleLoadListRemovable" />
  </message>
  <message name="portalRoleLoadListRemovableResponse">
    <part name="parameters" element="tns:portalRoleLoadListRemovableResponse" />
  </message>
  <message name="portalRoleLoadListAll">
    <part name="parameters" element="tns:portalRoleLoadListAll" />
  </message>
  <message name="portalRoleLoadListAllResponse">
    <part name="parameters" element="tns:portalRoleLoadListAllResponse" />
  </message>
  <message name="portalRoleLoadListAvailable">
    <part name="parameters" element="tns:portalRoleLoadListAvailable" />
  </message>
  <message name="portalRoleLoadListAvailableResponse">
    <part name="parameters" element="tns:portalRoleLoadListAvailableResponse" />
  </message>
  <message name="portalRoleLoadRecordPrimaryRoleByUserId">
    <part name="parameters" element="tns:portalRoleLoadRecordPrimaryRoleByUserId" />
  </message>
  <message name="portalRoleLoadRecordPrimaryRoleByUserIdResponse">
    <part name="parameters" element="tns:portalRoleLoadRecordPrimaryRoleByUserIdResponse" />
  </message>
  <message name="portalRoleLoadListAllByUserId">
    <part name="parameters" element="tns:portalRoleLoadListAllByUserId" />
  </message>
  <message name="portalRoleLoadListAllByUserIdResponse">
    <part name="parameters" element="tns:portalRoleLoadListAllByUserIdResponse" />
  </message>
  <message name="portalRoleLoadListSecondaryRolesByUserId">
    <part name="parameters" element="tns:portalRoleLoadListSecondaryRolesByUserId" />
  </message>
  <message name="portalRoleLoadListSecondaryRolesByUserIdResponse">
    <part name="parameters" element="tns:portalRoleLoadListSecondaryRolesByUserIdResponse" />
  </message>
  <message name="portalRoleInsertRecordById">
    <part name="parameters" element="tns:portalRoleInsertRecordById" />
  </message>
  <message name="portalRoleInsertRecordByIdResponse">
    <part name="parameters" element="tns:portalRoleInsertRecordByIdResponse" />
  </message>
  <message name="portalRoleUpdateRecordById">
    <part name="parameters" element="tns:portalRoleUpdateRecordById" />
  </message>
  <message name="portalRoleUpdateRecordByIdResponse">
    <part name="parameters" element="tns:portalRoleUpdateRecordByIdResponse" />
  </message>
  <message name="portalRolePersistRecordById">
    <part name="parameters" element="tns:portalRolePersistRecordById" />
  </message>
  <message name="portalRolePersistRecordByIdResponse">
    <part name="parameters" element="tns:portalRolePersistRecordByIdResponse" />
  </message>
  <message name="portalRoleDeleteRecordById">
    <part name="parameters" element="tns:portalRoleDeleteRecordById" />
  </message>
  <message name="portalRoleDeleteRecordByIdResponse">
    <part name="parameters" element="tns:portalRoleDeleteRecordByIdResponse" />
  </message>
  <message name="observerAssociationLoadListByTemplate">
    <part name="parameters" element="tns:observerAssociationLoadListByTemplate" />
  </message>
  <message name="observerAssociationLoadListByTemplateResponse">
    <part name="parameters" element="tns:observerAssociationLoadListByTemplateResponse" />
  </message>
  <message name="observerAssociationLoadRecordByObserverAndUsersBatchUid">
    <part name="parameters" element="tns:observerAssociationLoadRecordByObserverAndUsersBatchUid" />
  </message>
  <message name="observerAssociationLoadRecordByObserverAndUsersBatchUidResponse">
    <part name="parameters" element="tns:observerAssociationLoadRecordByObserverAndUsersBatchUidResponse" />
  </message>
  <message name="observerAssociationInsertRecordByObserverAndUsersBatchUid">
    <part name="parameters" element="tns:observerAssociationInsertRecordByObserverAndUsersBatchUid" />
  </message>
  <message name="observerAssociationInsertRecordByObserverAndUsersBatchUidResponse">
    <part name="parameters" element="tns:observerAssociationInsertRecordByObserverAndUsersBatchUidResponse" />
  </message>
  <message name="observerAssociationDeleteRecordByObserverAndUsersBatchUid">
    <part name="parameters" element="tns:observerAssociationDeleteRecordByObserverAndUsersBatchUid" />
  </message>
  <message name="observerAssociationDeleteRecordByObserverAndUsersBatchUidResponse">
    <part name="parameters" element="tns:observerAssociationDeleteRecordByObserverAndUsersBatchUidResponse" />
  </message>
  <message name="observerAssociationLoadListByObserverAndUsersBatchUid">
    <part name="parameters" element="tns:observerAssociationLoadListByObserverAndUsersBatchUid" />
  </message>
  <message name="observerAssociationLoadListByObserverAndUsersBatchUidResponse">
    <part name="parameters" element="tns:observerAssociationLoadListByObserverAndUsersBatchUidResponse" />
  </message>
  <message name="observerAssociationInsertListByObserverAndUsersBatchUid">
    <part name="parameters" element="tns:observerAssociationInsertListByObserverAndUsersBatchUid" />
  </message>
  <message name="observerAssociationInsertListByObserverAndUsersBatchUidResponse">
    <part name="parameters" element="tns:observerAssociationInsertListByObserverAndUsersBatchUidResponse" />
  </message>
  <message name="observerAssociationDeleteListByObserverAndUsersBatchUid">
    <part name="parameters" element="tns:observerAssociationDeleteListByObserverAndUsersBatchUid" />
  </message>
  <message name="observerAssociationDeleteListByObserverAndUsersBatchUidResponse">
    <part name="parameters" element="tns:observerAssociationDeleteListByObserverAndUsersBatchUidResponse" />
  </message>
  <portType name="BbWebservices">
    <operation name="userLoadRecordByBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordByBatchUidRequest" message="tns:userLoadRecordByBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordByBatchUidResponse" message="tns:userLoadRecordByBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordByBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadListByTemplate">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByTemplateRequest" message="tns:userLoadListByTemplate" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByTemplateResponse" message="tns:userLoadListByTemplateResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByTemplate/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userInsertRecordByBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertRecordByBatchUidRequest" message="tns:userInsertRecordByBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertRecordByBatchUidResponse" message="tns:userInsertRecordByBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertRecordByBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userUpdateRecordByBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateRecordByBatchUidRequest" message="tns:userUpdateRecordByBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateRecordByBatchUidResponse" message="tns:userUpdateRecordByBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateRecordByBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userPersistRecordByBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistRecordByBatchUidRequest" message="tns:userPersistRecordByBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistRecordByBatchUidResponse" message="tns:userPersistRecordByBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistRecordByBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userDeleteRecordByBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteRecordByBatchUidRequest" message="tns:userDeleteRecordByBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteRecordByBatchUidResponse" message="tns:userDeleteRecordByBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteRecordByBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userPersistListByBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistListByBatchUidRequest" message="tns:userPersistListByBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistListByBatchUidResponse" message="tns:userPersistListByBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistListByBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userDeleteListByBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteListByBatchUidRequest" message="tns:userDeleteListByBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteListByBatchUidResponse" message="tns:userDeleteListByBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteListByBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordByIdRequest" message="tns:userLoadRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordByIdResponse" message="tns:userLoadRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadRecordByName">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordByNameRequest" message="tns:userLoadRecordByName" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordByNameResponse" message="tns:userLoadRecordByNameResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadRecordByName/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userInsertRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertRecordByIdRequest" message="tns:userInsertRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertRecordByIdResponse" message="tns:userInsertRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userUpdateRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateRecordByIdRequest" message="tns:userUpdateRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateRecordByIdResponse" message="tns:userUpdateRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userPersistRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistRecordByIdRequest" message="tns:userPersistRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistRecordByIdResponse" message="tns:userPersistRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userDeleteRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteRecordByIdRequest" message="tns:userDeleteRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteRecordByIdResponse" message="tns:userDeleteRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByIdRequest" message="tns:userLoadListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByIdResponse" message="tns:userLoadListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userInsertListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertListByIdRequest" message="tns:userInsertListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertListByIdResponse" message="tns:userInsertListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userInsertListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userUpdateListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateListByIdRequest" message="tns:userUpdateListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateListByIdResponse" message="tns:userUpdateListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userUpdateListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userPersistListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistListByIdRequest" message="tns:userPersistListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistListByIdResponse" message="tns:userPersistListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userPersistListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userDeleteListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteListByIdRequest" message="tns:userDeleteListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteListByIdResponse" message="tns:userDeleteListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userDeleteListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadListByEmailAddressFamilyNameGivenName">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByEmailAddressFamilyNameGivenNameRequest" message="tns:userLoadListByEmailAddressFamilyNameGivenName" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByEmailAddressFamilyNameGivenNameResponse" message="tns:userLoadListByEmailAddressFamilyNameGivenNameResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByEmailAddressFamilyNameGivenName/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadListBySearchByUserName">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListBySearchByUserNameRequest" message="tns:userLoadListBySearchByUserName" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListBySearchByUserNameResponse" message="tns:userLoadListBySearchByUserNameResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListBySearchByUserName/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadListObservedByObserverId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListObservedByObserverIdRequest" message="tns:userLoadListObservedByObserverId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListObservedByObserverIdResponse" message="tns:userLoadListObservedByObserverIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListObservedByObserverId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadListByCourseId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByCourseIdRequest" message="tns:userLoadListByCourseId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByCourseIdResponse" message="tns:userLoadListByCourseIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByCourseId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadListByGroupId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByGroupIdRequest" message="tns:userLoadListByGroupId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByGroupIdResponse" message="tns:userLoadListByGroupIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByGroupId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordByIdRequest" message="tns:courseMembershipLoadRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordByIdResponse" message="tns:courseMembershipLoadRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByIdRequest" message="tns:courseMembershipLoadListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByIdResponse" message="tns:courseMembershipLoadListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadRecordByCourseAndUserId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordByCourseAndUserIdRequest" message="tns:courseMembershipLoadRecordByCourseAndUserId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordByCourseAndUserIdResponse" message="tns:courseMembershipLoadRecordByCourseAndUserIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordByCourseAndUserId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadListByUserId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByUserIdRequest" message="tns:courseMembershipLoadListByUserId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByUserIdResponse" message="tns:courseMembershipLoadListByUserIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByUserId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadListByCourseId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseIdRequest" message="tns:courseMembershipLoadListByCourseId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseIdResponse" message="tns:courseMembershipLoadListByCourseIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadListByCourseIdWithUserInfo">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseIdWithUserInfoRequest" message="tns:courseMembershipLoadListByCourseIdWithUserInfo" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseIdWithUserInfoResponse" message="tns:courseMembershipLoadListByCourseIdWithUserInfoResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseIdWithUserInfo/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadListByCourseIdAndRole">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseIdAndRoleRequest" message="tns:courseMembershipLoadListByCourseIdAndRole" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseIdAndRoleResponse" message="tns:courseMembershipLoadListByCourseIdAndRoleResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByCourseIdAndRole/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipInsertRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipInsertRecordByIdRequest" message="tns:courseMembershipInsertRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipInsertRecordByIdResponse" message="tns:courseMembershipInsertRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipInsertRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipUpdateRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipUpdateRecordByIdRequest" message="tns:courseMembershipUpdateRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipUpdateRecordByIdResponse" message="tns:courseMembershipUpdateRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipUpdateRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipPersistRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipPersistRecordByIdRequest" message="tns:courseMembershipPersistRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipPersistRecordByIdResponse" message="tns:courseMembershipPersistRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipPersistRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipDeleteRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipDeleteRecordByIdRequest" message="tns:courseMembershipDeleteRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipDeleteRecordByIdResponse" message="tns:courseMembershipDeleteRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipDeleteRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipInsertListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipInsertListByIdRequest" message="tns:courseMembershipInsertListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipInsertListByIdResponse" message="tns:courseMembershipInsertListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipInsertListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipUpdateListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipUpdateListByIdRequest" message="tns:courseMembershipUpdateListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipUpdateListByIdResponse" message="tns:courseMembershipUpdateListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipUpdateListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipPersistListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipPersistListByIdRequest" message="tns:courseMembershipPersistListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipPersistListByIdResponse" message="tns:courseMembershipPersistListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipPersistListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipDeleteListById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipDeleteListByIdRequest" message="tns:courseMembershipDeleteListById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipDeleteListByIdResponse" message="tns:courseMembershipDeleteListByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipDeleteListById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadRecordByCourseAndUserBatchId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordByCourseAndUserBatchIdRequest" message="tns:courseMembershipLoadRecordByCourseAndUserBatchId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordByCourseAndUserBatchIdResponse" message="tns:courseMembershipLoadRecordByCourseAndUserBatchIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadRecordByCourseAndUserBatchId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="courseMembershipLoadListByTemplate">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByTemplateRequest" message="tns:courseMembershipLoadListByTemplate" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByTemplateResponse" message="tns:courseMembershipLoadListByTemplateResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/courseMembershipLoadListByTemplate/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="userLoadListByPrimaryPortalRoleId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByPrimaryPortalRoleIdRequest" message="tns:userLoadListByPrimaryPortalRoleId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByPrimaryPortalRoleIdResponse" message="tns:userLoadListByPrimaryPortalRoleIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/userLoadListByPrimaryPortalRoleId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordByIdRequest" message="tns:portalRoleLoadRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordByIdResponse" message="tns:portalRoleLoadRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadRecordByRoleId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordByRoleIdRequest" message="tns:portalRoleLoadRecordByRoleId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordByRoleIdResponse" message="tns:portalRoleLoadRecordByRoleIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordByRoleId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadRecordByRoleName">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordByRoleNameRequest" message="tns:portalRoleLoadRecordByRoleName" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordByRoleNameResponse" message="tns:portalRoleLoadRecordByRoleNameResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordByRoleName/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadRecordDefault">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordDefaultRequest" message="tns:portalRoleLoadRecordDefault" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordDefaultResponse" message="tns:portalRoleLoadRecordDefaultResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordDefault/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadListRemovable">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListRemovableRequest" message="tns:portalRoleLoadListRemovable" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListRemovableResponse" message="tns:portalRoleLoadListRemovableResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListRemovable/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadListAll">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAllRequest" message="tns:portalRoleLoadListAll" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAllResponse" message="tns:portalRoleLoadListAllResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAll/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadListAvailable">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAvailableRequest" message="tns:portalRoleLoadListAvailable" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAvailableResponse" message="tns:portalRoleLoadListAvailableResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAvailable/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadRecordPrimaryRoleByUserId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordPrimaryRoleByUserIdRequest" message="tns:portalRoleLoadRecordPrimaryRoleByUserId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordPrimaryRoleByUserIdResponse" message="tns:portalRoleLoadRecordPrimaryRoleByUserIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadRecordPrimaryRoleByUserId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadListAllByUserId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAllByUserIdRequest" message="tns:portalRoleLoadListAllByUserId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAllByUserIdResponse" message="tns:portalRoleLoadListAllByUserIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListAllByUserId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleLoadListSecondaryRolesByUserId">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListSecondaryRolesByUserIdRequest" message="tns:portalRoleLoadListSecondaryRolesByUserId" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListSecondaryRolesByUserIdResponse" message="tns:portalRoleLoadListSecondaryRolesByUserIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleLoadListSecondaryRolesByUserId/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleInsertRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleInsertRecordByIdRequest" message="tns:portalRoleInsertRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleInsertRecordByIdResponse" message="tns:portalRoleInsertRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleInsertRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleUpdateRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleUpdateRecordByIdRequest" message="tns:portalRoleUpdateRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleUpdateRecordByIdResponse" message="tns:portalRoleUpdateRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleUpdateRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRolePersistRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRolePersistRecordByIdRequest" message="tns:portalRolePersistRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRolePersistRecordByIdResponse" message="tns:portalRolePersistRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRolePersistRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="portalRoleDeleteRecordById">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleDeleteRecordByIdRequest" message="tns:portalRoleDeleteRecordById" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleDeleteRecordByIdResponse" message="tns:portalRoleDeleteRecordByIdResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/portalRoleDeleteRecordById/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="observerAssociationLoadListByTemplate">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadListByTemplateRequest" message="tns:observerAssociationLoadListByTemplate" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadListByTemplateResponse" message="tns:observerAssociationLoadListByTemplateResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadListByTemplate/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="observerAssociationLoadRecordByObserverAndUsersBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadRecordByObserverAndUsersBatchUidRequest" message="tns:observerAssociationLoadRecordByObserverAndUsersBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadRecordByObserverAndUsersBatchUidResponse" message="tns:observerAssociationLoadRecordByObserverAndUsersBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadRecordByObserverAndUsersBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="observerAssociationInsertRecordByObserverAndUsersBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationInsertRecordByObserverAndUsersBatchUidRequest" message="tns:observerAssociationInsertRecordByObserverAndUsersBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationInsertRecordByObserverAndUsersBatchUidResponse" message="tns:observerAssociationInsertRecordByObserverAndUsersBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationInsertRecordByObserverAndUsersBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="observerAssociationDeleteRecordByObserverAndUsersBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationDeleteRecordByObserverAndUsersBatchUidRequest" message="tns:observerAssociationDeleteRecordByObserverAndUsersBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationDeleteRecordByObserverAndUsersBatchUidResponse" message="tns:observerAssociationDeleteRecordByObserverAndUsersBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationDeleteRecordByObserverAndUsersBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="observerAssociationLoadListByObserverAndUsersBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadListByObserverAndUsersBatchUidRequest" message="tns:observerAssociationLoadListByObserverAndUsersBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadListByObserverAndUsersBatchUidResponse" message="tns:observerAssociationLoadListByObserverAndUsersBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationLoadListByObserverAndUsersBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="observerAssociationInsertListByObserverAndUsersBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationInsertListByObserverAndUsersBatchUidRequest" message="tns:observerAssociationInsertListByObserverAndUsersBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationInsertListByObserverAndUsersBatchUidResponse" message="tns:observerAssociationInsertListByObserverAndUsersBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationInsertListByObserverAndUsersBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
    <operation name="observerAssociationDeleteListByObserverAndUsersBatchUid">
      <input wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationDeleteListByObserverAndUsersBatchUidRequest" message="tns:observerAssociationDeleteListByObserverAndUsersBatchUid" />
      <output wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationDeleteListByObserverAndUsersBatchUidResponse" message="tns:observerAssociationDeleteListByObserverAndUsersBatchUidResponse" />
      <fault wsam:Action="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices/BbWebservices/observerAssociationDeleteListByObserverAndUsersBatchUid/Fault/BbWsFault" name="BbWsFault" message="tns:BbWsFault" />
    </operation>
  </portType>
  <binding name="BbWebservicesPortBinding" type="tns:BbWebservices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="userLoadRecordByBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadListByTemplate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userInsertRecordByBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userUpdateRecordByBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userPersistRecordByBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userDeleteRecordByBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userPersistListByBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userDeleteListByBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadRecordByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userInsertRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userUpdateRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userPersistRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userDeleteRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userInsertListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userUpdateListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userPersistListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userDeleteListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadListByEmailAddressFamilyNameGivenName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadListBySearchByUserName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadListObservedByObserverId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadListByCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadListByGroupId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadRecordByCourseAndUserId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadListByUserId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadListByCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadListByCourseIdWithUserInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadListByCourseIdAndRole">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipInsertRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipUpdateRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipPersistRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipDeleteRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipInsertListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipUpdateListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipPersistListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipDeleteListById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadRecordByCourseAndUserBatchId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="courseMembershipLoadListByTemplate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="userLoadListByPrimaryPortalRoleId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadRecordByRoleId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadRecordByRoleName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadRecordDefault">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadListRemovable">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadListAll">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadListAvailable">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadRecordPrimaryRoleByUserId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadListAllByUserId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleLoadListSecondaryRolesByUserId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleInsertRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleUpdateRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRolePersistRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="portalRoleDeleteRecordById">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="observerAssociationLoadListByTemplate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="observerAssociationLoadRecordByObserverAndUsersBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="observerAssociationInsertRecordByObserverAndUsersBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="observerAssociationDeleteRecordByObserverAndUsersBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="observerAssociationLoadListByObserverAndUsersBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="observerAssociationInsertListByObserverAndUsersBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
    <operation name="observerAssociationDeleteListByObserverAndUsersBatchUid">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BbWsFault">
        <soap:fault use="literal" name="BbWsFault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="BbWebservices">
    <port name="BbWebservicesPort" binding="tns:BbWebservicesPortBinding">
      <soap:address location="http://bbtestserver:80/webapps/IDLA-BbWebservices-bb_bb60/BbWebservices" />
    </port>
  </service>
</definitions>