branches/00129-Bb9.1.SP9/TestClients/DotNetProxy/bbIDLA/Web References/BBUserService/BBUserWebService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ncl.ac.uk/BBUserWebService" xmlns:ns1="http://jaxb.dev.java.net/array" targetNamespace="http://www.ncl.ac.uk/BBUserWebService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBUserWebService?xsd=2" namespace="http://jaxb.dev.java.net/array" />
  <xs:element name="WebServiceException" type="tns:WebServiceException" />
  <xs:element name="addDefaultStudent" type="tns:addDefaultStudent" />
  <xs:element name="addDefaultStudentResponse" type="tns:addDefaultStudentResponse" />
  <xs:element name="addDefaultStudentXML" type="tns:addDefaultStudentXML" />
  <xs:element name="addDefaultStudentXMLResponse" type="tns:addDefaultStudentXMLResponse" />
  <xs:element name="addUser" type="tns:addUser" />
  <xs:element name="addUserResponse" type="tns:addUserResponse" />
  <xs:element name="addUserXML" type="tns:addUserXML" />
  <xs:element name="addUserXMLResponse" type="tns:addUserXMLResponse" />
  <xs:element name="deleteUserByUserBbId" type="tns:deleteUserByUserBbId" />
  <xs:element name="deleteUserByUserBbIdResponse" type="tns:deleteUserByUserBbIdResponse" />
  <xs:element name="deleteUserByUserBbIdXML" type="tns:deleteUserByUserBbIdXML" />
  <xs:element name="deleteUserByUserBbIdXMLResponse" type="tns:deleteUserByUserBbIdXMLResponse" />
  <xs:element name="deleteUserByUserId" type="tns:deleteUserByUserId" />
  <xs:element name="deleteUserByUserIdResponse" type="tns:deleteUserByUserIdResponse" />
  <xs:element name="deleteUserByUserIdXML" type="tns:deleteUserByUserIdXML" />
  <xs:element name="deleteUserByUserIdXMLResponse" type="tns:deleteUserByUserIdXMLResponse" />
  <xs:element name="doesUserExist" type="tns:doesUserExist" />
  <xs:element name="doesUserExistResponse" type="tns:doesUserExistResponse" />
  <xs:element name="doesUserExistXML" type="tns:doesUserExistXML" />
  <xs:element name="doesUserExistXMLResponse" type="tns:doesUserExistXMLResponse" />
  <xs:element name="getAllUserIDsNoDetails" type="tns:getAllUserIDsNoDetails" />
  <xs:element name="getAllUserIDsNoDetailsResponse" type="tns:getAllUserIDsNoDetailsResponse" />
  <xs:element name="getAllUserIDsNoDetailsWithNamedElements" type="tns:getAllUserIDsNoDetailsWithNamedElements" />
  <xs:element name="getAllUserIDsNoDetailsWithNamedElementsResponse" type="tns:getAllUserIDsNoDetailsWithNamedElementsResponse" />
  <xs:element name="getAllUserIDsNoDetailsXML" type="tns:getAllUserIDsNoDetailsXML" />
  <xs:element name="getAllUserIDsNoDetailsXMLResponse" type="tns:getAllUserIDsNoDetailsXMLResponse" />
  <xs:element name="getEnrolledStudentsForGivenCourseIDWithNamedElements" type="tns:getEnrolledStudentsForGivenCourseIDWithNamedElements" />
  <xs:element name="getEnrolledStudentsForGivenCourseIDWithNamedElementsResponse" type="tns:getEnrolledStudentsForGivenCourseIDWithNamedElementsResponse" />
  <xs:element name="getEnrolledStudentsForGivenCourseIDXML" type="tns:getEnrolledStudentsForGivenCourseIDXML" />
  <xs:element name="getEnrolledStudentsForGivenCourseIDXMLResponse" type="tns:getEnrolledStudentsForGivenCourseIDXMLResponse" />
  <xs:element name="getEnrolledUserDetailsForGivenCourseWithNamedElements" type="tns:getEnrolledUserDetailsForGivenCourseWithNamedElements" />
  <xs:element name="getEnrolledUserDetailsForGivenCourseWithNamedElementsResponse" type="tns:getEnrolledUserDetailsForGivenCourseWithNamedElementsResponse" />
  <xs:element name="getEnrolledUserDetailsForGivenCourseXML" type="tns:getEnrolledUserDetailsForGivenCourseXML" />
  <xs:element name="getEnrolledUserDetailsForGivenCourseXMLResponse" type="tns:getEnrolledUserDetailsForGivenCourseXMLResponse" />
  <xs:element name="getEnrolledUsersForGivenCourse" type="tns:getEnrolledUsersForGivenCourse" />
  <xs:element name="getEnrolledUsersForGivenCourseResponse" type="tns:getEnrolledUsersForGivenCourseResponse" />
  <xs:element name="getEnrollmentsByBatchUIDandCourseIDPattern" type="tns:getEnrollmentsByBatchUIDandCourseIDPattern" />
  <xs:element name="getEnrollmentsByBatchUIDandCourseIDPatternResponse" type="tns:getEnrollmentsByBatchUIDandCourseIDPatternResponse" />
  <xs:element name="getSecondaryPortalRolesForGivenUserId" type="tns:getSecondaryPortalRolesForGivenUserId" />
  <xs:element name="getSecondaryPortalRolesForGivenUserIdResponse" type="tns:getSecondaryPortalRolesForGivenUserIdResponse" />
  <xs:element name="getSecondaryPortalRolesForGivenUserIdWithNamedElements" type="tns:getSecondaryPortalRolesForGivenUserIdWithNamedElements" />
  <xs:element name="getSecondaryPortalRolesForGivenUserIdWithNamedElementsResponse" type="tns:getSecondaryPortalRolesForGivenUserIdWithNamedElementsResponse" />
  <xs:element name="getSecondaryPortalRolesForGivenUserIdXML" type="tns:getSecondaryPortalRolesForGivenUserIdXML" />
  <xs:element name="getSecondaryPortalRolesForGivenUserIdXMLResponse" type="tns:getSecondaryPortalRolesForGivenUserIdXMLResponse" />
  <xs:element name="getSecondarySystemRolesForGivenUserId" type="tns:getSecondarySystemRolesForGivenUserId" />
  <xs:element name="getSecondarySystemRolesForGivenUserIdResponse" type="tns:getSecondarySystemRolesForGivenUserIdResponse" />
  <xs:element name="getSecondarySystemRolesForGivenUserIdWithNamedElements" type="tns:getSecondarySystemRolesForGivenUserIdWithNamedElements" />
  <xs:element name="getSecondarySystemRolesForGivenUserIdWithNamedElementsResponse" type="tns:getSecondarySystemRolesForGivenUserIdWithNamedElementsResponse" />
  <xs:element name="getSecondarySystemRolesForGivenUserIdXML" type="tns:getSecondarySystemRolesForGivenUserIdXML" />
  <xs:element name="getSecondarySystemRolesForGivenUserIdXMLResponse" type="tns:getSecondarySystemRolesForGivenUserIdXMLResponse" />
  <xs:element name="getUserDetails" type="tns:getUserDetails" />
  <xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse" />
  <xs:element name="getUserDetailsWithNamedElements" type="tns:getUserDetailsWithNamedElements" />
  <xs:element name="getUserDetailsWithNamedElementsResponse" type="tns:getUserDetailsWithNamedElementsResponse" />
  <xs:element name="getUserDetailsXML" type="tns:getUserDetailsXML" />
  <xs:element name="getUserDetailsXMLResponse" type="tns:getUserDetailsXMLResponse" />
  <xs:element name="getUserRoleInCourse" type="tns:getUserRoleInCourse" />
  <xs:element name="getUserRoleInCourseResponse" type="tns:getUserRoleInCourseResponse" />
  <xs:element name="getUserRoleInCourseWithNamedElements" type="tns:getUserRoleInCourseWithNamedElements" />
  <xs:element name="getUserRoleInCourseWithNamedElementsResponse" type="tns:getUserRoleInCourseWithNamedElementsResponse" />
  <xs:element name="getUserRoleInCourseXML" type="tns:getUserRoleInCourseXML" />
  <xs:element name="getUserRoleInCourseXMLResponse" type="tns:getUserRoleInCourseXMLResponse" />
  <xs:element name="isUserInCourse" type="tns:isUserInCourse" />
  <xs:element name="isUserInCourseResponse" type="tns:isUserInCourseResponse" />
  <xs:element name="isUserInCourseXML" type="tns:isUserInCourseXML" />
  <xs:element name="isUserInCourseXMLResponse" type="tns:isUserInCourseXMLResponse" />
  <xs:element name="setOrModifySecondaryPortalRolesForGivenUserId" type="tns:setOrModifySecondaryPortalRolesForGivenUserId" />
  <xs:element name="setOrModifySecondaryPortalRolesForGivenUserIdResponse" type="tns:setOrModifySecondaryPortalRolesForGivenUserIdResponse" />
  <xs:element name="setOrModifySecondaryPortalRolesForGivenUserIdXML" type="tns:setOrModifySecondaryPortalRolesForGivenUserIdXML" />
  <xs:element name="setOrModifySecondaryPortalRolesForGivenUserIdXMLResponse" type="tns:setOrModifySecondaryPortalRolesForGivenUserIdXMLResponse" />
  <xs:complexType name="deleteUserByUserBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserByUserBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WebServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledUserDetailsForGivenCourseXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledUserDetailsForGivenCourseXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledUserDetailsForGivenCourseWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledUserDetailsForGivenCourseWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="batchUid" type="xs:string" />
          <xs:element minOccurs="0" name="birthDate" type="xs:string" />
          <xs:element minOccurs="0" name="businessFax" type="xs:string" />
          <xs:element minOccurs="0" name="businessPhone1" type="xs:string" />
          <xs:element minOccurs="0" name="businessPhone2" type="xs:string" />
          <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="cdRomDriveMac" type="xs:string" />
          <xs:element minOccurs="0" name="cdRomDrivePC" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="company" type="xs:string" />
          <xs:element minOccurs="0" name="country" type="xs:string" />
          <xs:element minOccurs="0" name="county" type="xs:string" />
          <xs:element minOccurs="0" name="dataSourceBbId" type="xs:string" />
          <xs:element minOccurs="0" name="department" type="xs:string" />
          <xs:element minOccurs="0" name="educationLevel" type="xs:string" />
          <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
          <xs:element minOccurs="0" name="familyName" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" name="givenName" type="xs:string" />
          <xs:element minOccurs="0" name="homeFax" type="xs:string" />
          <xs:element minOccurs="0" name="homePhone1" type="xs:string" />
          <xs:element minOccurs="0" name="homePhone2" type="xs:string" />
          <xs:element minOccurs="0" name="isAvailable" type="xs:string" />
          <xs:element minOccurs="0" name="isInfoPublic" type="xs:string" />
          <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
          <xs:element minOccurs="0" name="lastLogin" type="xs:string" />
          <xs:element minOccurs="0" name="locale" type="xs:string" />
          <xs:element minOccurs="0" name="middleName" type="xs:string" />
          <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
          <xs:element minOccurs="0" name="modifiedDate" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="portalRoleId" type="xs:string" />
          <xs:element minOccurs="0" name="portalRoleName" type="xs:string" />
          <xs:element minOccurs="0" name="postCode" type="xs:string" />
          <xs:element minOccurs="0" name="showAddContactInfo" type="xs:string" />
          <xs:element minOccurs="0" name="showAddressInfo" type="xs:string" />
          <xs:element minOccurs="0" name="showEmailInfo" type="xs:string" />
          <xs:element minOccurs="0" name="showWorkInfo" type="xs:string" />
          <xs:element minOccurs="0" name="street1" type="xs:string" />
          <xs:element minOccurs="0" name="street2" type="xs:string" />
          <xs:element minOccurs="0" name="studentId" type="xs:string" />
          <xs:element minOccurs="0" name="systemRole" type="xs:string" />
          <xs:element minOccurs="0" name="systemRoleId" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="webPage" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="bbWsDataDetails" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="bbId" type="xs:string" />
      <xs:element minOccurs="0" name="bbWsBoolResult" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bbWsDataLog" nillable="true" type="tns:bbWsDataLogRecord" />
      <xs:element minOccurs="0" name="bbWsTextResult" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bbWsDataLogRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="apiPass" type="xs:string" />
      <xs:element minOccurs="0" name="apiUsed" type="xs:string" />
      <xs:element minOccurs="0" name="bbValue" type="xs:string" />
      <xs:element minOccurs="0" name="dateTime" type="xs:string" />
      <xs:element minOccurs="0" name="fieldName" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="recordId" type="xs:string" />
      <xs:element minOccurs="0" name="severityLevel" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
      <xs:element minOccurs="0" name="wsValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserRoleInCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserRoleInCourseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isUserInCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isUserInCourseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledUsersForGivenCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledUsersForGivenCourseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetailsWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetailsWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="batchUId" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
      <xs:element minOccurs="0" name="studentId" type="xs:string" />
      <xs:element minOccurs="0" name="userPwd" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="birthYear" type="xs:string" />
      <xs:element minOccurs="0" name="birthMonth" type="xs:string" />
      <xs:element minOccurs="0" name="birthDay" type="xs:string" />
      <xs:element minOccurs="0" name="eduLevel" type="xs:string" />
      <xs:element minOccurs="0" name="company" type="xs:string" />
      <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
      <xs:element minOccurs="0" name="department" type="xs:string" />
      <xs:element minOccurs="0" name="street1" type="xs:string" />
      <xs:element minOccurs="0" name="street2" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="stateOrProvince" type="xs:string" />
      <xs:element minOccurs="0" name="zipOrPostCode" type="xs:string" />
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element minOccurs="0" name="website" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone" type="xs:string" />
      <xs:element minOccurs="0" name="workPhone" type="xs:string" />
      <xs:element minOccurs="0" name="workFax" type="xs:string" />
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
      <xs:element minOccurs="0" name="portalRole" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="secPortalRole" type="xs:string" />
      <xs:element minOccurs="0" name="systemRole" type="xs:string" />
      <xs:element minOccurs="0" name="available" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondarySystemRolesForGivenUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondarySystemRolesForGivenUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUserIDsNoDetailsWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUserIDsNoDetailsWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUserIDsNoDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUserIDsNoDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserByUserBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserByUserBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledStudentsForGivenCourseIDWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledStudentsForGivenCourseIDWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setOrModifySecondaryPortalRolesForGivenUserIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setOrModifySecondaryPortalRolesForGivenUserIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetailsXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserDetailsXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUserIDsNoDetailsXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUserIDsNoDetailsXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrollmentsByBatchUIDandCourseIDPattern">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userBatchUid" type="xs:string" />
      <xs:element minOccurs="0" name="regex" type="xs:string" />
      <xs:element minOccurs="0" name="isMemberOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrollmentsByBatchUIDandCourseIDPatternResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserByUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserByUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addDefaultStudentXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
      <xs:element minOccurs="0" name="studentId" type="xs:string" />
      <xs:element minOccurs="0" name="studentPassword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addDefaultStudentXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserRoleInCourseXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserRoleInCourseXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="batchUId" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
      <xs:element minOccurs="0" name="studentId" type="xs:string" />
      <xs:element minOccurs="0" name="userPwd" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="xs:string" />
      <xs:element minOccurs="0" name="birthYear" type="xs:string" />
      <xs:element minOccurs="0" name="birthMonth" type="xs:string" />
      <xs:element minOccurs="0" name="birthDay" type="xs:string" />
      <xs:element minOccurs="0" name="eduLevel" type="xs:string" />
      <xs:element minOccurs="0" name="company" type="xs:string" />
      <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
      <xs:element minOccurs="0" name="department" type="xs:string" />
      <xs:element minOccurs="0" name="street1" type="xs:string" />
      <xs:element minOccurs="0" name="street2" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="stateOrProvince" type="xs:string" />
      <xs:element minOccurs="0" name="zipOrPostCode" type="xs:string" />
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element minOccurs="0" name="website" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone" type="xs:string" />
      <xs:element minOccurs="0" name="workPhone" type="xs:string" />
      <xs:element minOccurs="0" name="workFax" type="xs:string" />
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
      <xs:element minOccurs="0" name="portalRole" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="secPortalRole" type="xs:string" />
      <xs:element minOccurs="0" name="systemRole" type="xs:string" />
      <xs:element minOccurs="0" name="available" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addUserXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondaryPortalRolesForGivenUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondaryPortalRolesForGivenUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondarySystemRolesForGivenUserIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondarySystemRolesForGivenUserIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isUserInCourseXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isUserInCourseXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doesUserExist">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doesUserExistResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondarySystemRolesForGivenUserIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondarySystemRolesForGivenUserIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:role" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="role">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="roleId" type="xs:string" />
          <xs:element minOccurs="0" name="roleName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getSecondaryPortalRolesForGivenUserIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondaryPortalRolesForGivenUserIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserByUserIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteUserByUserIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserRoleInCourseWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserRoleInCourseWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:role" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doesUserExistXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doesUserExistXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondaryPortalRolesForGivenUserIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSecondaryPortalRolesForGivenUserIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:role" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setOrModifySecondaryPortalRolesForGivenUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setOrModifySecondaryPortalRolesForGivenUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addDefaultStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="middleName" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
      <xs:element minOccurs="0" name="studentId" type="xs:string" />
      <xs:element minOccurs="0" name="studentPassword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addDefaultStudentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledStudentsForGivenCourseIDXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEnrolledStudentsForGivenCourseIDXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>