TestClients/AutoTestClient/App_WebReferences/bbws/BbWebservices0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices" targetNamespace="http://projects.oscelot.org/gf/project/wservices_idla/BbWebservices" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WebServiceException" type="tns:WebServiceException" />
  <xs:element name="courseCopyRecordByBatchUid" type="tns:courseCopyRecordByBatchUid" />
  <xs:element name="courseCopyRecordByBatchUidResponse" type="tns:courseCopyRecordByBatchUidResponse" />
  <xs:element name="courseCopyRecordById" type="tns:courseCopyRecordById" />
  <xs:element name="courseCopyRecordByIdResponse" type="tns:courseCopyRecordByIdResponse" />
  <xs:element name="courseDeleteRecordByBatchUid" type="tns:courseDeleteRecordByBatchUid" />
  <xs:element name="courseDeleteRecordByBatchUidResponse" type="tns:courseDeleteRecordByBatchUidResponse" />
  <xs:element name="courseDeleteRecordById" type="tns:courseDeleteRecordById" />
  <xs:element name="courseDeleteRecordByIdResponse" type="tns:courseDeleteRecordByIdResponse" />
  <xs:element name="courseInsertRecordByBatchUid" type="tns:courseInsertRecordByBatchUid" />
  <xs:element name="courseInsertRecordByBatchUidResponse" type="tns:courseInsertRecordByBatchUidResponse" />
  <xs:element name="courseInsertRecordById" type="tns:courseInsertRecordById" />
  <xs:element name="courseInsertRecordByIdResponse" type="tns:courseInsertRecordByIdResponse" />
  <xs:element name="courseLoadListByTemplate" type="tns:courseLoadListByTemplate" />
  <xs:element name="courseLoadListByTemplateResponse" type="tns:courseLoadListByTemplateResponse" />
  <xs:element name="courseLoadRecordByBatchUid" type="tns:courseLoadRecordByBatchUid" />
  <xs:element name="courseLoadRecordByBatchUidResponse" type="tns:courseLoadRecordByBatchUidResponse" />
  <xs:element name="courseLoadRecordByCourseId" type="tns:courseLoadRecordByCourseId" />
  <xs:element name="courseLoadRecordByCourseIdResponse" type="tns:courseLoadRecordByCourseIdResponse" />
  <xs:element name="courseLoadRecordById" type="tns:courseLoadRecordById" />
  <xs:element name="courseLoadRecordByIdResponse" type="tns:courseLoadRecordByIdResponse" />
  <xs:element name="courseMembershipDeleteListById" type="tns:courseMembershipDeleteListById" />
  <xs:element name="courseMembershipDeleteListByIdResponse" type="tns:courseMembershipDeleteListByIdResponse" />
  <xs:element name="courseMembershipDeleteRecordById" type="tns:courseMembershipDeleteRecordById" />
  <xs:element name="courseMembershipDeleteRecordByIdResponse" type="tns:courseMembershipDeleteRecordByIdResponse" />
  <xs:element name="courseMembershipInsertListById" type="tns:courseMembershipInsertListById" />
  <xs:element name="courseMembershipInsertListByIdResponse" type="tns:courseMembershipInsertListByIdResponse" />
  <xs:element name="courseMembershipInsertRecordById" type="tns:courseMembershipInsertRecordById" />
  <xs:element name="courseMembershipInsertRecordByIdResponse" type="tns:courseMembershipInsertRecordByIdResponse" />
  <xs:element name="courseMembershipLoadListByCourseId" type="tns:courseMembershipLoadListByCourseId" />
  <xs:element name="courseMembershipLoadListByCourseIdAndRole" type="tns:courseMembershipLoadListByCourseIdAndRole" />
  <xs:element name="courseMembershipLoadListByCourseIdAndRoleResponse" type="tns:courseMembershipLoadListByCourseIdAndRoleResponse" />
  <xs:element name="courseMembershipLoadListByCourseIdResponse" type="tns:courseMembershipLoadListByCourseIdResponse" />
  <xs:element name="courseMembershipLoadListByCourseIdWithUserInfo" type="tns:courseMembershipLoadListByCourseIdWithUserInfo" />
  <xs:element name="courseMembershipLoadListByCourseIdWithUserInfoResponse" type="tns:courseMembershipLoadListByCourseIdWithUserInfoResponse" />
  <xs:element name="courseMembershipLoadListById" type="tns:courseMembershipLoadListById" />
  <xs:element name="courseMembershipLoadListByIdResponse" type="tns:courseMembershipLoadListByIdResponse" />
  <xs:element name="courseMembershipLoadListByTemplate" type="tns:courseMembershipLoadListByTemplate" />
  <xs:element name="courseMembershipLoadListByTemplateResponse" type="tns:courseMembershipLoadListByTemplateResponse" />
  <xs:element name="courseMembershipLoadListByUserId" type="tns:courseMembershipLoadListByUserId" />
  <xs:element name="courseMembershipLoadListByUserIdResponse" type="tns:courseMembershipLoadListByUserIdResponse" />
  <xs:element name="courseMembershipLoadRecordByCourseAndUserBatchId" type="tns:courseMembershipLoadRecordByCourseAndUserBatchId" />
  <xs:element name="courseMembershipLoadRecordByCourseAndUserBatchIdResponse" type="tns:courseMembershipLoadRecordByCourseAndUserBatchIdResponse" />
  <xs:element name="courseMembershipLoadRecordByCourseAndUserId" type="tns:courseMembershipLoadRecordByCourseAndUserId" />
  <xs:element name="courseMembershipLoadRecordByCourseAndUserIdResponse" type="tns:courseMembershipLoadRecordByCourseAndUserIdResponse" />
  <xs:element name="courseMembershipLoadRecordById" type="tns:courseMembershipLoadRecordById" />
  <xs:element name="courseMembershipLoadRecordByIdResponse" type="tns:courseMembershipLoadRecordByIdResponse" />
  <xs:element name="courseMembershipPersistListById" type="tns:courseMembershipPersistListById" />
  <xs:element name="courseMembershipPersistListByIdResponse" type="tns:courseMembershipPersistListByIdResponse" />
  <xs:element name="courseMembershipPersistRecordById" type="tns:courseMembershipPersistRecordById" />
  <xs:element name="courseMembershipPersistRecordByIdResponse" type="tns:courseMembershipPersistRecordByIdResponse" />
  <xs:element name="courseMembershipUpdateListById" type="tns:courseMembershipUpdateListById" />
  <xs:element name="courseMembershipUpdateListByIdResponse" type="tns:courseMembershipUpdateListByIdResponse" />
  <xs:element name="courseMembershipUpdateRecordById" type="tns:courseMembershipUpdateRecordById" />
  <xs:element name="courseMembershipUpdateRecordByIdResponse" type="tns:courseMembershipUpdateRecordByIdResponse" />
  <xs:element name="coursePersistRecordByBatchUid" type="tns:coursePersistRecordByBatchUid" />
  <xs:element name="coursePersistRecordByBatchUidResponse" type="tns:coursePersistRecordByBatchUidResponse" />
  <xs:element name="coursePersistRecordById" type="tns:coursePersistRecordById" />
  <xs:element name="coursePersistRecordByIdResponse" type="tns:coursePersistRecordByIdResponse" />
  <xs:element name="courseUpdateRecordByBatchUid" type="tns:courseUpdateRecordByBatchUid" />
  <xs:element name="courseUpdateRecordByBatchUidResponse" type="tns:courseUpdateRecordByBatchUidResponse" />
  <xs:element name="courseUpdateRecordById" type="tns:courseUpdateRecordById" />
  <xs:element name="courseUpdateRecordByIdResponse" type="tns:courseUpdateRecordByIdResponse" />
  <xs:element name="observerAssociationDeleteListByObserverAndUsersBatchUid" type="tns:observerAssociationDeleteListByObserverAndUsersBatchUid" />
  <xs:element name="observerAssociationDeleteListByObserverAndUsersBatchUidResponse" type="tns:observerAssociationDeleteListByObserverAndUsersBatchUidResponse" />
  <xs:element name="observerAssociationDeleteRecordByObserverAndUsersBatchUid" type="tns:observerAssociationDeleteRecordByObserverAndUsersBatchUid" />
  <xs:element name="observerAssociationDeleteRecordByObserverAndUsersBatchUidResponse" type="tns:observerAssociationDeleteRecordByObserverAndUsersBatchUidResponse" />
  <xs:element name="observerAssociationInsertListByObserverAndUsersBatchUid" type="tns:observerAssociationInsertListByObserverAndUsersBatchUid" />
  <xs:element name="observerAssociationInsertListByObserverAndUsersBatchUidResponse" type="tns:observerAssociationInsertListByObserverAndUsersBatchUidResponse" />
  <xs:element name="observerAssociationInsertRecordByObserverAndUsersBatchUid" type="tns:observerAssociationInsertRecordByObserverAndUsersBatchUid" />
  <xs:element name="observerAssociationInsertRecordByObserverAndUsersBatchUidResponse" type="tns:observerAssociationInsertRecordByObserverAndUsersBatchUidResponse" />
  <xs:element name="observerAssociationLoadListByObserverAndUsersBatchUid" type="tns:observerAssociationLoadListByObserverAndUsersBatchUid" />
  <xs:element name="observerAssociationLoadListByObserverAndUsersBatchUidResponse" type="tns:observerAssociationLoadListByObserverAndUsersBatchUidResponse" />
  <xs:element name="observerAssociationLoadListByTemplate" type="tns:observerAssociationLoadListByTemplate" />
  <xs:element name="observerAssociationLoadListByTemplateResponse" type="tns:observerAssociationLoadListByTemplateResponse" />
  <xs:element name="observerAssociationLoadRecordByObserverAndUsersBatchUid" type="tns:observerAssociationLoadRecordByObserverAndUsersBatchUid" />
  <xs:element name="observerAssociationLoadRecordByObserverAndUsersBatchUidResponse" type="tns:observerAssociationLoadRecordByObserverAndUsersBatchUidResponse" />
  <xs:element name="observerAssociationPersistListByObserverAndUsersBatchUid" type="tns:observerAssociationPersistListByObserverAndUsersBatchUid" />
  <xs:element name="observerAssociationPersistListByObserverAndUsersBatchUidResponse" type="tns:observerAssociationPersistListByObserverAndUsersBatchUidResponse" />
  <xs:element name="observerAssociationPersistRecordByObserverAndUsersBatchUid" type="tns:observerAssociationPersistRecordByObserverAndUsersBatchUid" />
  <xs:element name="observerAssociationPersistRecordByObserverAndUsersBatchUidResponse" type="tns:observerAssociationPersistRecordByObserverAndUsersBatchUidResponse" />
  <xs:element name="portalRoleDeleteRecordById" type="tns:portalRoleDeleteRecordById" />
  <xs:element name="portalRoleDeleteRecordByIdResponse" type="tns:portalRoleDeleteRecordByIdResponse" />
  <xs:element name="portalRoleInsertRecordById" type="tns:portalRoleInsertRecordById" />
  <xs:element name="portalRoleInsertRecordByIdResponse" type="tns:portalRoleInsertRecordByIdResponse" />
  <xs:element name="portalRoleLoadListAll" type="tns:portalRoleLoadListAll" />
  <xs:element name="portalRoleLoadListAllByUserId" type="tns:portalRoleLoadListAllByUserId" />
  <xs:element name="portalRoleLoadListAllByUserIdResponse" type="tns:portalRoleLoadListAllByUserIdResponse" />
  <xs:element name="portalRoleLoadListAllResponse" type="tns:portalRoleLoadListAllResponse" />
  <xs:element name="portalRoleLoadListAvailable" type="tns:portalRoleLoadListAvailable" />
  <xs:element name="portalRoleLoadListAvailableResponse" type="tns:portalRoleLoadListAvailableResponse" />
  <xs:element name="portalRoleLoadListRemovable" type="tns:portalRoleLoadListRemovable" />
  <xs:element name="portalRoleLoadListRemovableResponse" type="tns:portalRoleLoadListRemovableResponse" />
  <xs:element name="portalRoleLoadListSecondaryRolesByUserId" type="tns:portalRoleLoadListSecondaryRolesByUserId" />
  <xs:element name="portalRoleLoadListSecondaryRolesByUserIdResponse" type="tns:portalRoleLoadListSecondaryRolesByUserIdResponse" />
  <xs:element name="portalRoleLoadRecordById" type="tns:portalRoleLoadRecordById" />
  <xs:element name="portalRoleLoadRecordByIdResponse" type="tns:portalRoleLoadRecordByIdResponse" />
  <xs:element name="portalRoleLoadRecordByRoleId" type="tns:portalRoleLoadRecordByRoleId" />
  <xs:element name="portalRoleLoadRecordByRoleIdResponse" type="tns:portalRoleLoadRecordByRoleIdResponse" />
  <xs:element name="portalRoleLoadRecordByRoleName" type="tns:portalRoleLoadRecordByRoleName" />
  <xs:element name="portalRoleLoadRecordByRoleNameResponse" type="tns:portalRoleLoadRecordByRoleNameResponse" />
  <xs:element name="portalRoleLoadRecordDefault" type="tns:portalRoleLoadRecordDefault" />
  <xs:element name="portalRoleLoadRecordDefaultResponse" type="tns:portalRoleLoadRecordDefaultResponse" />
  <xs:element name="portalRoleLoadRecordPrimaryRoleByUserId" type="tns:portalRoleLoadRecordPrimaryRoleByUserId" />
  <xs:element name="portalRoleLoadRecordPrimaryRoleByUserIdResponse" type="tns:portalRoleLoadRecordPrimaryRoleByUserIdResponse" />
  <xs:element name="portalRoleMembershipDeleteListById" type="tns:portalRoleMembershipDeleteListById" />
  <xs:element name="portalRoleMembershipDeleteListByIdResponse" type="tns:portalRoleMembershipDeleteListByIdResponse" />
  <xs:element name="portalRoleMembershipDeleteListByUserAndPortalRoleBatchUid" type="tns:portalRoleMembershipDeleteListByUserAndPortalRoleBatchUid" />
  <xs:element name="portalRoleMembershipDeleteListByUserAndPortalRoleBatchUidResponse" type="tns:portalRoleMembershipDeleteListByUserAndPortalRoleBatchUidResponse" />
  <xs:element name="portalRoleMembershipDeleteListByUserId" type="tns:portalRoleMembershipDeleteListByUserId" />
  <xs:element name="portalRoleMembershipDeleteListByUserIdResponse" type="tns:portalRoleMembershipDeleteListByUserIdResponse" />
  <xs:element name="portalRoleMembershipDeleteRecordById" type="tns:portalRoleMembershipDeleteRecordById" />
  <xs:element name="portalRoleMembershipDeleteRecordByIdResponse" type="tns:portalRoleMembershipDeleteRecordByIdResponse" />
  <xs:element name="portalRoleMembershipDeleteRecordByUserAndPortalRoleBatchUid" type="tns:portalRoleMembershipDeleteRecordByUserAndPortalRoleBatchUid" />
  <xs:element name="portalRoleMembershipDeleteRecordByUserAndPortalRoleBatchUidResponse" type="tns:portalRoleMembershipDeleteRecordByUserAndPortalRoleBatchUidResponse" />
  <xs:element name="portalRoleMembershipDeleteRecordByUserIdAndPortalRoleId" type="tns:portalRoleMembershipDeleteRecordByUserIdAndPortalRoleId" />
  <xs:element name="portalRoleMembershipDeleteRecordByUserIdAndPortalRoleIdResponse" type="tns:portalRoleMembershipDeleteRecordByUserIdAndPortalRoleIdResponse" />
  <xs:element name="portalRoleMembershipInsertListById" type="tns:portalRoleMembershipInsertListById" />
  <xs:element name="portalRoleMembershipInsertListByIdResponse" type="tns:portalRoleMembershipInsertListByIdResponse" />
  <xs:element name="portalRoleMembershipInsertListByUserAndPortalRoleBatchUid" type="tns:portalRoleMembershipInsertListByUserAndPortalRoleBatchUid" />
  <xs:element name="portalRoleMembershipInsertListByUserAndPortalRoleBatchUidResponse" type="tns:portalRoleMembershipInsertListByUserAndPortalRoleBatchUidResponse" />
  <xs:element name="portalRoleMembershipInsertRecordById" type="tns:portalRoleMembershipInsertRecordById" />
  <xs:element name="portalRoleMembershipInsertRecordByIdResponse" type="tns:portalRoleMembershipInsertRecordByIdResponse" />
  <xs:element name="portalRoleMembershipInsertRecordByUserAndPortalRoleBatchUid" type="tns:portalRoleMembershipInsertRecordByUserAndPortalRoleBatchUid" />
  <xs:element name="portalRoleMembershipInsertRecordByUserAndPortalRoleBatchUidResponse" type="tns:portalRoleMembershipInsertRecordByUserAndPortalRoleBatchUidResponse" />
  <xs:element name="portalRoleMembershipLoadListById" type="tns:portalRoleMembershipLoadListById" />
  <xs:element name="portalRoleMembershipLoadListByIdResponse" type="tns:portalRoleMembershipLoadListByIdResponse" />
  <xs:element name="portalRoleMembershipLoadListByPortalRoleId" type="tns:portalRoleMembershipLoadListByPortalRoleId" />
  <xs:element name="portalRoleMembershipLoadListByPortalRoleIdResponse" type="tns:portalRoleMembershipLoadListByPortalRoleIdResponse" />
  <xs:element name="portalRoleMembershipLoadListByTemplate" type="tns:portalRoleMembershipLoadListByTemplate" />
  <xs:element name="portalRoleMembershipLoadListByTemplateResponse" type="tns:portalRoleMembershipLoadListByTemplateResponse" />
  <xs:element name="portalRoleMembershipLoadListByUserAndPortalRoleBatchUid" type="tns:portalRoleMembershipLoadListByUserAndPortalRoleBatchUid" />
  <xs:element name="portalRoleMembershipLoadListByUserAndPortalRoleBatchUidResponse" type="tns:portalRoleMembershipLoadListByUserAndPortalRoleBatchUidResponse" />
  <xs:element name="portalRoleMembershipLoadListByUserId" type="tns:portalRoleMembershipLoadListByUserId" />
  <xs:element name="portalRoleMembershipLoadListByUserIdResponse" type="tns:portalRoleMembershipLoadListByUserIdResponse" />
  <xs:element name="portalRoleMembershipLoadRecordById" type="tns:portalRoleMembershipLoadRecordById" />
  <xs:element name="portalRoleMembershipLoadRecordByIdResponse" type="tns:portalRoleMembershipLoadRecordByIdResponse" />
  <xs:element name="portalRoleMembershipLoadRecordByUserAndPortalRoleBatchUid" type="tns:portalRoleMembershipLoadRecordByUserAndPortalRoleBatchUid" />
  <xs:element name="portalRoleMembershipLoadRecordByUserAndPortalRoleBatchUidResponse" type="tns:portalRoleMembershipLoadRecordByUserAndPortalRoleBatchUidResponse" />
  <xs:element name="portalRoleMembershipLoadRecordByUserIdAndPortalRoleId" type="tns:portalRoleMembershipLoadRecordByUserIdAndPortalRoleId" />
  <xs:element name="portalRoleMembershipLoadRecordByUserIdAndPortalRoleIdResponse" type="tns:portalRoleMembershipLoadRecordByUserIdAndPortalRoleIdResponse" />
  <xs:element name="portalRoleMembershipPersistListById" type="tns:portalRoleMembershipPersistListById" />
  <xs:element name="portalRoleMembershipPersistListByIdResponse" type="tns:portalRoleMembershipPersistListByIdResponse" />
  <xs:element name="portalRoleMembershipPersistRecordById" type="tns:portalRoleMembershipPersistRecordById" />
  <xs:element name="portalRoleMembershipPersistRecordByIdResponse" type="tns:portalRoleMembershipPersistRecordByIdResponse" />
  <xs:element name="portalRolePersistRecordById" type="tns:portalRolePersistRecordById" />
  <xs:element name="portalRolePersistRecordByIdResponse" type="tns:portalRolePersistRecordByIdResponse" />
  <xs:element name="portalRoleUpdateRecordById" type="tns:portalRoleUpdateRecordById" />
  <xs:element name="portalRoleUpdateRecordByIdResponse" type="tns:portalRoleUpdateRecordByIdResponse" />
  <xs:element name="userDeleteListByBatchUid" type="tns:userDeleteListByBatchUid" />
  <xs:element name="userDeleteListByBatchUidResponse" type="tns:userDeleteListByBatchUidResponse" />
  <xs:element name="userDeleteListById" type="tns:userDeleteListById" />
  <xs:element name="userDeleteListByIdResponse" type="tns:userDeleteListByIdResponse" />
  <xs:element name="userDeleteRecordByBatchUid" type="tns:userDeleteRecordByBatchUid" />
  <xs:element name="userDeleteRecordByBatchUidResponse" type="tns:userDeleteRecordByBatchUidResponse" />
  <xs:element name="userDeleteRecordById" type="tns:userDeleteRecordById" />
  <xs:element name="userDeleteRecordByIdResponse" type="tns:userDeleteRecordByIdResponse" />
  <xs:element name="userInsertListById" type="tns:userInsertListById" />
  <xs:element name="userInsertListByIdResponse" type="tns:userInsertListByIdResponse" />
  <xs:element name="userInsertRecordByBatchUid" type="tns:userInsertRecordByBatchUid" />
  <xs:element name="userInsertRecordByBatchUidResponse" type="tns:userInsertRecordByBatchUidResponse" />
  <xs:element name="userInsertRecordById" type="tns:userInsertRecordById" />
  <xs:element name="userInsertRecordByIdResponse" type="tns:userInsertRecordByIdResponse" />
  <xs:element name="userLoadListAvailableObserversByCourseId" type="tns:userLoadListAvailableObserversByCourseId" />
  <xs:element name="userLoadListAvailableObserversByCourseIdResponse" type="tns:userLoadListAvailableObserversByCourseIdResponse" />
  <xs:element name="userLoadListByCourseId" type="tns:userLoadListByCourseId" />
  <xs:element name="userLoadListByCourseIdResponse" type="tns:userLoadListByCourseIdResponse" />
  <xs:element name="userLoadListByEmailAddressFamilyNameGivenName" type="tns:userLoadListByEmailAddressFamilyNameGivenName" />
  <xs:element name="userLoadListByEmailAddressFamilyNameGivenNameResponse" type="tns:userLoadListByEmailAddressFamilyNameGivenNameResponse" />
  <xs:element name="userLoadListByGroupId" type="tns:userLoadListByGroupId" />
  <xs:element name="userLoadListByGroupIdResponse" type="tns:userLoadListByGroupIdResponse" />
  <xs:element name="userLoadListById" type="tns:userLoadListById" />
  <xs:element name="userLoadListByIdResponse" type="tns:userLoadListByIdResponse" />
  <xs:element name="userLoadListByPrimaryPortalRoleId" type="tns:userLoadListByPrimaryPortalRoleId" />
  <xs:element name="userLoadListByPrimaryPortalRoleIdResponse" type="tns:userLoadListByPrimaryPortalRoleIdResponse" />
  <xs:element name="userLoadListBySearchByUserName" type="tns:userLoadListBySearchByUserName" />
  <xs:element name="userLoadListBySearchByUserNameResponse" type="tns:userLoadListBySearchByUserNameResponse" />
  <xs:element name="userLoadListByTemplate" type="tns:userLoadListByTemplate" />
  <xs:element name="userLoadListByTemplateResponse" type="tns:userLoadListByTemplateResponse" />
  <xs:element name="userLoadListObservedByObserverId" type="tns:userLoadListObservedByObserverId" />
  <xs:element name="userLoadListObservedByObserverIdResponse" type="tns:userLoadListObservedByObserverIdResponse" />
  <xs:element name="userLoadRecordByBatchUid" type="tns:userLoadRecordByBatchUid" />
  <xs:element name="userLoadRecordByBatchUidResponse" type="tns:userLoadRecordByBatchUidResponse" />
  <xs:element name="userLoadRecordById" type="tns:userLoadRecordById" />
  <xs:element name="userLoadRecordByIdResponse" type="tns:userLoadRecordByIdResponse" />
  <xs:element name="userLoadRecordByName" type="tns:userLoadRecordByName" />
  <xs:element name="userLoadRecordByNameResponse" type="tns:userLoadRecordByNameResponse" />
  <xs:element name="userPersistListByBatchUid" type="tns:userPersistListByBatchUid" />
  <xs:element name="userPersistListByBatchUidResponse" type="tns:userPersistListByBatchUidResponse" />
  <xs:element name="userPersistListById" type="tns:userPersistListById" />
  <xs:element name="userPersistListByIdResponse" type="tns:userPersistListByIdResponse" />
  <xs:element name="userPersistRecordByBatchUid" type="tns:userPersistRecordByBatchUid" />
  <xs:element name="userPersistRecordByBatchUidResponse" type="tns:userPersistRecordByBatchUidResponse" />
  <xs:element name="userPersistRecordById" type="tns:userPersistRecordById" />
  <xs:element name="userPersistRecordByIdResponse" type="tns:userPersistRecordByIdResponse" />
  <xs:element name="userUpdateListById" type="tns:userUpdateListById" />
  <xs:element name="userUpdateListByIdResponse" type="tns:userUpdateListByIdResponse" />
  <xs:element name="userUpdateRecordByBatchUid" type="tns:userUpdateRecordByBatchUid" />
  <xs:element name="userUpdateRecordByBatchUidResponse" type="tns:userUpdateRecordByBatchUidResponse" />
  <xs:element name="userUpdateRecordById" type="tns:userUpdateRecordById" />
  <xs:element name="userUpdateRecordByIdResponse" type="tns:userUpdateRecordByIdResponse" />
  <xs:complexType name="observerAssociationDeleteListByObserverAndUsersBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bbWsParams">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="apiToUseList" nillable="true" type="tns:apiToUse" />
      <xs:element minOccurs="0" name="dataFieldErrorThrowSeverity" type="xs:string" />
      <xs:element minOccurs="0" name="dataLogSeverity" type="xs:string" />
      <xs:element minOccurs="0" name="dataRecordErrorThrowSeverity" type="xs:string" />
      <xs:element minOccurs="0" name="dataVerbosity" type="xs:string" />
      <xs:element minOccurs="0" name="datePattern" type="xs:string" />
      <xs:element minOccurs="0" name="errorValueTag" type="xs:string" />
      <xs:element minOccurs="0" name="missFieldTag" type="xs:string" />
      <xs:element minOccurs="0" name="nullValueTag" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="timePattern" type="xs:string" />
      <xs:element minOccurs="0" name="warnValueTag" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="apiToUse">
    <xs:sequence>
      <xs:element minOccurs="0" name="apiTag" type="xs:string" />
      <xs:element minOccurs="0" name="innerClassOverride" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataSourceBatchUid" type="xs:string" />
          <xs:element minOccurs="0" name="dataSourceId" type="xs:string" />
          <xs:element minOccurs="0" name="observerBatchUid" type="xs:string" />
          <xs:element minOccurs="0" name="observerBbId" type="xs:string" />
          <xs:element minOccurs="0" name="rowStatus" type="xs:string" />
          <xs:element minOccurs="0" name="usersBatchUid" type="xs:string" />
          <xs:element minOccurs="0" name="usersBbId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="bbWsDataDetails" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="bbId" type="xs:string" />
      <xs:element minOccurs="0" name="bbWsBoolResult" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bbWsDataLog" nillable="true" type="tns:bbWsDataLogRecord" />
      <xs:element minOccurs="0" name="bbWsTextResult" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bbWsDataLogRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="apiPass" type="xs:string" />
      <xs:element minOccurs="0" name="apiUsed" type="xs:string" />
      <xs:element minOccurs="0" name="bbValue" type="xs:string" />
      <xs:element minOccurs="0" name="dateTime" type="xs:string" />
      <xs:element minOccurs="0" name="fieldName" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="recordId" type="xs:string" />
      <xs:element minOccurs="0" name="severityLevel" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
      <xs:element minOccurs="0" name="wsValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationDeleteListByObserverAndUsersBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WebServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bbWsFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dataLog" nillable="true" type="tns:bbWsDataLogRecord" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="batchUid" type="xs:string" />
          <xs:element minOccurs="0" name="birthDate" type="xs:string" />
          <xs:element minOccurs="0" name="businessFax" type="xs:string" />
          <xs:element minOccurs="0" name="businessPhone1" type="xs:string" />
          <xs:element minOccurs="0" name="businessPhone2" type="xs:string" />
          <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="cdRomDriveMac" type="xs:string" />
          <xs:element minOccurs="0" name="cdRomDrivePC" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="company" type="xs:string" />
          <xs:element minOccurs="0" name="country" type="xs:string" />
          <xs:element minOccurs="0" name="county" type="xs:string" />
          <xs:element minOccurs="0" name="dataSourceBbId" type="xs:string" />
          <xs:element minOccurs="0" name="department" type="xs:string" />
          <xs:element minOccurs="0" name="educationLevel" type="xs:string" />
          <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
          <xs:element minOccurs="0" name="familyName" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" name="givenName" type="xs:string" />
          <xs:element minOccurs="0" name="homeFax" type="xs:string" />
          <xs:element minOccurs="0" name="homePhone1" type="xs:string" />
          <xs:element minOccurs="0" name="homePhone2" type="xs:string" />
          <xs:element minOccurs="0" name="isAvailable" type="xs:string" />
          <xs:element minOccurs="0" name="isInfoPublic" type="xs:string" />
          <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
          <xs:element minOccurs="0" name="lastLogin" type="xs:string" />
          <xs:element minOccurs="0" name="locale" type="xs:string" />
          <xs:element minOccurs="0" name="middleName" type="xs:string" />
          <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
          <xs:element minOccurs="0" name="modifiedDate" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="portalRoleId" type="xs:string" />
          <xs:element minOccurs="0" name="portalRoleName" type="xs:string" />
          <xs:element minOccurs="0" name="postCode" type="xs:string" />
          <xs:element minOccurs="0" name="showAddContactInfo" type="xs:string" />
          <xs:element minOccurs="0" name="showAddressInfo" type="xs:string" />
          <xs:element minOccurs="0" name="showEmailInfo" type="xs:string" />
          <xs:element minOccurs="0" name="showWorkInfo" type="xs:string" />
          <xs:element minOccurs="0" name="street1" type="xs:string" />
          <xs:element minOccurs="0" name="street2" type="xs:string" />
          <xs:element minOccurs="0" name="studentId" type="xs:string" />
          <xs:element minOccurs="0" name="systemRole" type="xs:string" />
          <xs:element minOccurs="0" name="systemRoleId" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="webPage" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="userLoadRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipPersistRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="available" type="xs:string" />
          <xs:element minOccurs="0" name="cartridgeAccess" type="xs:string" />
          <xs:element minOccurs="0" name="childCourseId" type="xs:string" />
          <xs:element minOccurs="0" name="courseBatchUid" type="xs:string" />
          <xs:element minOccurs="0" name="courseBbId" type="xs:string" />
          <xs:element minOccurs="0" name="dataSourceBbId" type="xs:string" />
          <xs:element minOccurs="0" name="enrollmentDate" type="xs:string" />
          <xs:element minOccurs="0" name="introduction" type="xs:string" />
          <xs:element minOccurs="0" name="lastAccessDate" type="xs:string" />
          <xs:element minOccurs="0" name="modifiedDate" type="xs:string" />
          <xs:element minOccurs="0" name="notes" type="xs:string" />
          <xs:element minOccurs="0" name="personalInfo" type="xs:string" />
          <xs:element minOccurs="0" name="role" type="xs:string" />
          <xs:element minOccurs="0" name="userBatchUid" type="xs:string" />
          <xs:element minOccurs="0" name="userBbId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="courseMembershipPersistRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseLoadRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:abstractCourseDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="absoluteLimit" type="xs:string" />
          <xs:element minOccurs="0" name="allowGuests" type="xs:string" />
          <xs:element minOccurs="0" name="allowObservers" type="xs:string" />
          <xs:element minOccurs="0" name="bannerImageFile" type="xs:string" />
          <xs:element minOccurs="0" name="batchUid" type="xs:string" />
          <xs:element minOccurs="0" name="buttonStyleId" type="xs:string" />
          <xs:element minOccurs="0" name="cartridgeId" type="xs:string" />
          <xs:element minOccurs="0" name="classificationId" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="durationType" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="enrollmentAccessCode" type="xs:string" />
          <xs:element minOccurs="0" name="enrollmentEndDate" type="xs:string" />
          <xs:element minOccurs="0" name="enrollmentStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="enrollmentType" type="xs:string" />
          <xs:element minOccurs="0" name="institution" type="xs:string" />
          <xs:element minOccurs="0" name="isLocaleEnforced" type="xs:string" />
          <xs:element minOccurs="0" name="isLockedOut" type="xs:string" />
          <xs:element minOccurs="0" name="isNavigationCollapsible" type="xs:string" />
          <xs:element minOccurs="0" name="locale" type="xs:string" />
          <xs:element minOccurs="0" name="modifiedDate" type="xs:string" />
          <xs:element minOccurs="0" name="navigationBackgroundColor" type="xs:string" />
          <xs:element minOccurs="0" name="navigationForegroundColor" type="xs:string" />
          <xs:element minOccurs="0" name="navigationStyle" type="xs:string" />
          <xs:element minOccurs="0" name="numberOfDaysOfUse" type="xs:string" />
          <xs:element minOccurs="0" name="paceType" type="xs:string" />
          <xs:element minOccurs="0" name="serviceLevelType" type="xs:string" />
          <xs:element minOccurs="0" name="softLimit" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="uploadLimit" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="abstractCourseDetails" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="courseId" type="xs:string" />
          <xs:element minOccurs="0" name="creationDate" type="xs:string" />
          <xs:element minOccurs="0" name="isAvailable" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="courseLoadRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadRecordByUserAndPortalRoleBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataSourceBatchUid" type="xs:string" />
          <xs:element minOccurs="0" name="portalRoleBatchUid" type="xs:string" />
          <xs:element minOccurs="0" name="portalRoleId" type="xs:string" />
          <xs:element minOccurs="0" name="recStatus" type="xs:string" />
          <xs:element minOccurs="0" name="rowStatus" type="xs:string" />
          <xs:element minOccurs="0" name="userBatchUid" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadRecordByUserAndPortalRoleBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDeleteRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDeleteRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordDefault">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:roleDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataSourceBbId" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="isGuest" type="xs:string" />
          <xs:element minOccurs="0" name="isRemovable" type="xs:string" />
          <xs:element minOccurs="0" name="isSelfSelectable" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="roleDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:role">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="role">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="roleId" type="xs:string" />
          <xs:element minOccurs="0" name="roleName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordDefaultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByTemplateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPersistListByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPersistListByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRolePersistRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRolePersistRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipPersistListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipPersistListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordByRoleName">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordByRoleNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseLoadRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseLoadRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipInsertListByUserAndPortalRoleBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipInsertListByUserAndPortalRoleBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationLoadListByTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationLoadListByTemplateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadRecordByCourseAndUserBatchId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadRecordByCourseAndUserBatchIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationPersistRecordByObserverAndUsersBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationPersistRecordByObserverAndUsersBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListAll">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListAllResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseInsertRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseInsertRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDeleteRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDeleteRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByGroupId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
      <xs:element minOccurs="0" name="inputGroupRecord" type="tns:groupDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bbWsDataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="available" type="xs:boolean" />
          <xs:element minOccurs="0" name="chatRoomsAvailable" type="xs:boolean" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="discussionBoardsAvailable" type="xs:boolean" />
          <xs:element minOccurs="0" name="emailAvailable" type="xs:boolean" />
          <xs:element minOccurs="0" name="modifiedDate" type="xs:string" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element minOccurs="0" name="transferAreaAvailable" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="userLoadListByGroupIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteRecordByUserAndPortalRoleBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteRecordByUserAndPortalRoleBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordByRoleId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordByRoleIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByEmailAddressFamilyNameGivenName">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByEmailAddressFamilyNameGivenNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByCourseIdAndRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByCourseIdAndRoleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPersistRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPersistRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseInsertRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseInsertRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userUpdateRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userUpdateRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleInsertRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleInsertRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coursePersistRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coursePersistRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipPersistListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipPersistListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDeleteListByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDeleteListByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordPrimaryRoleByUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
      <xs:element minOccurs="0" name="inputUserRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadRecordPrimaryRoleByUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipInsertListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipInsertListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListObservedByObserverId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListObservedByObserverIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coursePersistRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coursePersistRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteListByUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteListByUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationInsertListByObserverAndUsersBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationInsertListByObserverAndUsersBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByTemplateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleDeleteRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleDeleteRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListSecondaryRolesByUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
      <xs:element minOccurs="0" name="inputUserRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListSecondaryRolesByUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseCopyRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
      <xs:element minOccurs="0" name="inputTargetCourseRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseCopyRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipInsertRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipInsertRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListBySearchByUserName">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListBySearchByUserNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipPersistRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipPersistRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDeleteListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDeleteListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userInsertListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userInsertListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userInsertRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userInsertRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadRecordByUserIdAndPortalRoleId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadRecordByUserIdAndPortalRoleIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByUserAndPortalRoleBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByUserAndPortalRoleBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationLoadListByObserverAndUsersBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationLoadListByObserverAndUsersBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipInsertListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipInsertListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationPersistListByObserverAndUsersBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationPersistListByObserverAndUsersBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipDeleteRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipDeleteRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseUpdateRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseUpdateRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPersistRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPersistRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationDeleteRecordByObserverAndUsersBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationDeleteRecordByObserverAndUsersBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseLoadListByTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseLoadListByTemplateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipInsertRecordByUserAndPortalRoleBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipInsertRecordByUserAndPortalRoleBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseDeleteRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseDeleteRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPersistListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userPersistListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteListByUserAndPortalRoleBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteListByUserAndPortalRoleBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipDeleteListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipDeleteListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByCourseIdWithUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByCourseIdWithUserInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadRecordByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadRecordByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userUpdateRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userUpdateRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipInsertRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipInsertRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseLoadRecordByCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseLoadRecordByCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadRecordByCourseAndUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadRecordByCourseAndUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userInsertRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userInsertRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseDeleteRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseDeleteRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByPrimaryPortalRoleId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
      <xs:element minOccurs="0" name="inputRoleRecord" type="tns:roleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByPrimaryPortalRoleIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteRecordByUserIdAndPortalRoleId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteRecordByUserIdAndPortalRoleIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListAvailableObserversByCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
      <xs:element minOccurs="0" name="inputCourseRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListAvailableObserversByCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userUpdateListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userUpdateListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseUpdateRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseUpdateRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipUpdateListById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inputList" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipUpdateListByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseCopyRecordByBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseDetails" />
      <xs:element minOccurs="0" name="inputTargetCourseRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseCopyRecordByBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListAllByUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
      <xs:element minOccurs="0" name="inputUserRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListAllByUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipDeleteRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListAvailable">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListAvailableResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleUpdateRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleUpdateRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipUpdateRecordById">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipUpdateRecordByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationLoadRecordByObserverAndUsersBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationLoadRecordByObserverAndUsersBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListRemovable">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleLoadListRemovableResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByUserId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="courseMembershipLoadListByUserIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:courseMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByTemplateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationInsertRecordByObserverAndUsersBatchUid">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observerAssociationInsertRecordByObserverAndUsersBatchUidResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:observerAssociationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:userDetails" />
      <xs:element minOccurs="0" name="inputCourseRecord" type="tns:courseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userLoadListByCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:userDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByPortalRoleId">
    <xs:sequence>
      <xs:element minOccurs="0" name="params" type="tns:bbWsParams" />
      <xs:element minOccurs="0" name="inputRecord" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="portalRoleMembershipLoadListByPortalRoleIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:portalRoleMembershipDetails" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>