TestClients/DotNetProxy/bbIDLA/Web References/BBCourseService/BBCourseWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.ncl.ac.uk/BBCourseWebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BBCourseWebService" targetNamespace="http://www.ncl.ac.uk/BBCourseWebService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBCourseWebService?xsd=1" namespace="http://www.ncl.ac.uk/BBCourseWebService" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBCourseWebService?xsd=2" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
  </types>
  <message name="addCourse">
    <part name="parameters" element="tns:addCourse" />
  </message>
  <message name="addCourseResponse">
    <part name="parameters" element="tns:addCourseResponse" />
  </message>
  <message name="WebServiceException">
    <part name="fault" element="tns:WebServiceException" />
  </message>
  <message name="addCourseXML">
    <part name="parameters" element="tns:addCourseXML" />
  </message>
  <message name="addCourseXMLResponse">
    <part name="parameters" element="tns:addCourseXMLResponse" />
  </message>
  <message name="deleteCourseByCourseBbId">
    <part name="parameters" element="tns:deleteCourseByCourseBbId" />
  </message>
  <message name="deleteCourseByCourseBbIdResponse">
    <part name="parameters" element="tns:deleteCourseByCourseBbIdResponse" />
  </message>
  <message name="deleteCourseByCourseBbIdXML">
    <part name="parameters" element="tns:deleteCourseByCourseBbIdXML" />
  </message>
  <message name="deleteCourseByCourseBbIdXMLResponse">
    <part name="parameters" element="tns:deleteCourseByCourseBbIdXMLResponse" />
  </message>
  <message name="deleteCourseByCourseId">
    <part name="parameters" element="tns:deleteCourseByCourseId" />
  </message>
  <message name="deleteCourseByCourseIdResponse">
    <part name="parameters" element="tns:deleteCourseByCourseIdResponse" />
  </message>
  <message name="deleteCourseByCourseIdXML">
    <part name="parameters" element="tns:deleteCourseByCourseIdXML" />
  </message>
  <message name="deleteCourseByCourseIdXMLResponse">
    <part name="parameters" element="tns:deleteCourseByCourseIdXMLResponse" />
  </message>
  <message name="doesCourseExist">
    <part name="parameters" element="tns:doesCourseExist" />
  </message>
  <message name="doesCourseExistResponse">
    <part name="parameters" element="tns:doesCourseExistResponse" />
  </message>
  <message name="doesCourseExistXML">
    <part name="parameters" element="tns:doesCourseExistXML" />
  </message>
  <message name="doesCourseExistXMLResponse">
    <part name="parameters" element="tns:doesCourseExistXMLResponse" />
  </message>
  <message name="enrollGivenUserOnGivenCourse">
    <part name="parameters" element="tns:enrollGivenUserOnGivenCourse" />
  </message>
  <message name="enrollGivenUserOnGivenCourseResponse">
    <part name="parameters" element="tns:enrollGivenUserOnGivenCourseResponse" />
  </message>
  <message name="enrollGivenUserOnGivenCourseXML">
    <part name="parameters" element="tns:enrollGivenUserOnGivenCourseXML" />
  </message>
  <message name="enrollGivenUserOnGivenCourseXMLResponse">
    <part name="parameters" element="tns:enrollGivenUserOnGivenCourseXMLResponse" />
  </message>
  <message name="getAllCourseIDsNoDetails">
    <part name="parameters" element="tns:getAllCourseIDsNoDetails" />
  </message>
  <message name="getAllCourseIDsNoDetailsResponse">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsResponse" />
  </message>
  <message name="getAllCourseIDsNoDetailsWithNamedElements">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsWithNamedElements" />
  </message>
  <message name="getAllCourseIDsNoDetailsWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsWithNamedElementsResponse" />
  </message>
  <message name="getAllCourseIDsNoDetailsXML">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsXML" />
  </message>
  <message name="getAllCourseIDsNoDetailsXMLResponse">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsXMLResponse" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchString">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchString" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringResponse" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElementsResponse" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringXMLResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringXMLResponse" />
  </message>
  <message name="getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements">
    <part name="parameters" element="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements" />
  </message>
  <message name="getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElementsResponse" />
  </message>
  <message name="getAllCourseIDsWhereGivenUserIdIsAnInstructorXML">
    <part name="parameters" element="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorXML" />
  </message>
  <message name="getAllCourseIDsWhereGivenUserIdIsAnInstructorXMLResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorXMLResponse" />
  </message>
  <message name="getCourseDetails">
    <part name="parameters" element="tns:getCourseDetails" />
  </message>
  <message name="getCourseDetailsResponse">
    <part name="parameters" element="tns:getCourseDetailsResponse" />
  </message>
  <message name="getCourseDetailsWithNamedElements">
    <part name="parameters" element="tns:getCourseDetailsWithNamedElements" />
  </message>
  <message name="getCourseDetailsWithNamedElementsResponse">
    <part name="parameters" element="tns:getCourseDetailsWithNamedElementsResponse" />
  </message>
  <message name="getCourseDetailsXML">
    <part name="parameters" element="tns:getCourseDetailsXML" />
  </message>
  <message name="getCourseDetailsXMLResponse">
    <part name="parameters" element="tns:getCourseDetailsXMLResponse" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseId">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseId" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdResponse">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdResponse" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElementsResponse" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdXML">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdXML" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdXMLResponse">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdXMLResponse" />
  </message>
  <message name="getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements">
    <part name="parameters" element="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements" />
  </message>
  <message name="getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElementsResponse" />
  </message>
  <message name="getCourseMembershipDetailsForGivenCourseMembershipBbIdXML">
    <part name="parameters" element="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdXML" />
  </message>
  <message name="getCourseMembershipDetailsForGivenCourseMembershipBbIdXMLResponse">
    <part name="parameters" element="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdXMLResponse" />
  </message>
  <message name="getCourseQuotaDetails">
    <part name="parameters" element="tns:getCourseQuotaDetails" />
  </message>
  <message name="getCourseQuotaDetailsResponse">
    <part name="parameters" element="tns:getCourseQuotaDetailsResponse" />
  </message>
  <message name="getCourseQuotaDetailsWithNamedElements">
    <part name="parameters" element="tns:getCourseQuotaDetailsWithNamedElements" />
  </message>
  <message name="getCourseQuotaDetailsWithNamedElementsResponse">
    <part name="parameters" element="tns:getCourseQuotaDetailsWithNamedElementsResponse" />
  </message>
  <message name="getCourseQuotaDetailsXML">
    <part name="parameters" element="tns:getCourseQuotaDetailsXML" />
  </message>
  <message name="getCourseQuotaDetailsXMLResponse">
    <part name="parameters" element="tns:getCourseQuotaDetailsXMLResponse" />
  </message>
  <message name="getEnrolledCoursesForGivenUser">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUser" />
  </message>
  <message name="getEnrolledCoursesForGivenUserResponse">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserResponse" />
  </message>
  <message name="getEnrolledCoursesForGivenUserWithNamedElements">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserWithNamedElements" />
  </message>
  <message name="getEnrolledCoursesForGivenUserWithNamedElementsResponse">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserWithNamedElementsResponse" />
  </message>
  <message name="getEnrolledCoursesForGivenUserXML">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserXML" />
  </message>
  <message name="getEnrolledCoursesForGivenUserXMLResponse">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserXMLResponse" />
  </message>
  <message name="modifyCourseQuotaDetails">
    <part name="parameters" element="tns:modifyCourseQuotaDetails" />
  </message>
  <message name="modifyCourseQuotaDetailsResponse">
    <part name="parameters" element="tns:modifyCourseQuotaDetailsResponse" />
  </message>
  <message name="modifyCourseQuotaDetailsXML">
    <part name="parameters" element="tns:modifyCourseQuotaDetailsXML" />
  </message>
  <message name="modifyCourseQuotaDetailsXMLResponse">
    <part name="parameters" element="tns:modifyCourseQuotaDetailsXMLResponse" />
  </message>
  <message name="unEnrollGivenUserFromGivenCourse">
    <part name="parameters" element="tns:unEnrollGivenUserFromGivenCourse" />
  </message>
  <message name="unEnrollGivenUserFromGivenCourseResponse">
    <part name="parameters" element="tns:unEnrollGivenUserFromGivenCourseResponse" />
  </message>
  <message name="unEnrollGivenUserFromGivenCourseXML">
    <part name="parameters" element="tns:unEnrollGivenUserFromGivenCourseXML" />
  </message>
  <message name="unEnrollGivenUserFromGivenCourseXMLResponse">
    <part name="parameters" element="tns:unEnrollGivenUserFromGivenCourseXMLResponse" />
  </message>
  <message name="copyCourseExact">
    <part name="parameters" element="tns:copyCourseExact" />
  </message>
  <message name="copyCourseExactResponse">
    <part name="parameters" element="tns:copyCourseExactResponse" />
  </message>
  <message name="updateCourse">
    <part name="parameters" element="tns:updateCourse" />
  </message>
  <message name="updateCourseResponse">
    <part name="parameters" element="tns:updateCourseResponse" />
  </message>
  <portType name="BBCourseWebService">
    <operation name="addCourse">
      <input message="tns:addCourse" />
      <output message="tns:addCourseResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="addCourseXML">
      <input message="tns:addCourseXML" />
      <output message="tns:addCourseXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteCourseByCourseBbId">
      <input message="tns:deleteCourseByCourseBbId" />
      <output message="tns:deleteCourseByCourseBbIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteCourseByCourseBbIdXML">
      <input message="tns:deleteCourseByCourseBbIdXML" />
      <output message="tns:deleteCourseByCourseBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteCourseByCourseId">
      <input message="tns:deleteCourseByCourseId" />
      <output message="tns:deleteCourseByCourseIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="deleteCourseByCourseIdXML">
      <input message="tns:deleteCourseByCourseIdXML" />
      <output message="tns:deleteCourseByCourseIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="doesCourseExist">
      <input message="tns:doesCourseExist" />
      <output message="tns:doesCourseExistResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="doesCourseExistXML">
      <input message="tns:doesCourseExistXML" />
      <output message="tns:doesCourseExistXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="enrollGivenUserOnGivenCourse">
      <input message="tns:enrollGivenUserOnGivenCourse" />
      <output message="tns:enrollGivenUserOnGivenCourseResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="enrollGivenUserOnGivenCourseXML">
      <input message="tns:enrollGivenUserOnGivenCourseXML" />
      <output message="tns:enrollGivenUserOnGivenCourseXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllCourseIDsNoDetails">
      <input message="tns:getAllCourseIDsNoDetails" />
      <output message="tns:getAllCourseIDsNoDetailsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllCourseIDsNoDetailsWithNamedElements">
      <input message="tns:getAllCourseIDsNoDetailsWithNamedElements" />
      <output message="tns:getAllCourseIDsNoDetailsWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllCourseIDsNoDetailsXML">
      <input message="tns:getAllCourseIDsNoDetailsXML" />
      <output message="tns:getAllCourseIDsNoDetailsXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchString">
      <input message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchString" />
      <output message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements">
      <input message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements" />
      <output message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML">
      <input message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML" />
      <output message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements">
      <input message="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements" />
      <output message="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getAllCourseIDsWhereGivenUserIdIsAnInstructorXML">
      <input message="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorXML" />
      <output message="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseDetails">
      <input message="tns:getCourseDetails" />
      <output message="tns:getCourseDetailsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseDetailsWithNamedElements">
      <input message="tns:getCourseDetailsWithNamedElements" />
      <output message="tns:getCourseDetailsWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseDetailsXML">
      <input message="tns:getCourseDetailsXML" />
      <output message="tns:getCourseDetailsXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseId">
      <input message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseId" />
      <output message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements">
      <input message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements" />
      <output message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseIdXML">
      <input message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdXML" />
      <output message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements">
      <input message="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements" />
      <output message="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseMembershipDetailsForGivenCourseMembershipBbIdXML">
      <input message="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdXML" />
      <output message="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseQuotaDetails">
      <input message="tns:getCourseQuotaDetails" />
      <output message="tns:getCourseQuotaDetailsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseQuotaDetailsWithNamedElements">
      <input message="tns:getCourseQuotaDetailsWithNamedElements" />
      <output message="tns:getCourseQuotaDetailsWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getCourseQuotaDetailsXML">
      <input message="tns:getCourseQuotaDetailsXML" />
      <output message="tns:getCourseQuotaDetailsXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getEnrolledCoursesForGivenUser">
      <input message="tns:getEnrolledCoursesForGivenUser" />
      <output message="tns:getEnrolledCoursesForGivenUserResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getEnrolledCoursesForGivenUserWithNamedElements">
      <input message="tns:getEnrolledCoursesForGivenUserWithNamedElements" />
      <output message="tns:getEnrolledCoursesForGivenUserWithNamedElementsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="getEnrolledCoursesForGivenUserXML">
      <input message="tns:getEnrolledCoursesForGivenUserXML" />
      <output message="tns:getEnrolledCoursesForGivenUserXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="modifyCourseQuotaDetails">
      <input message="tns:modifyCourseQuotaDetails" />
      <output message="tns:modifyCourseQuotaDetailsResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="modifyCourseQuotaDetailsXML">
      <input message="tns:modifyCourseQuotaDetailsXML" />
      <output message="tns:modifyCourseQuotaDetailsXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="unEnrollGivenUserFromGivenCourse">
      <input message="tns:unEnrollGivenUserFromGivenCourse" />
      <output message="tns:unEnrollGivenUserFromGivenCourseResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="unEnrollGivenUserFromGivenCourseXML">
      <input message="tns:unEnrollGivenUserFromGivenCourseXML" />
      <output message="tns:unEnrollGivenUserFromGivenCourseXMLResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="copyCourseExact">
      <input message="tns:copyCourseExact" />
      <output message="tns:copyCourseExactResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="updateCourse">
      <input message="tns:updateCourse" />
      <output message="tns:updateCourseResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
  </portType>
  <binding name="BBCourseWebServicePortBinding" type="tns:BBCourseWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="addCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="addCourseXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteCourseByCourseBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteCourseByCourseBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteCourseByCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteCourseByCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="doesCourseExist">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="doesCourseExistXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="enrollGivenUserOnGivenCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="enrollGivenUserOnGivenCourseXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllCourseIDsNoDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllCourseIDsNoDetailsWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllCourseIDsNoDetailsXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchString">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllCourseIDsWhereGivenUserIdIsAnInstructorXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseDetailsWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseDetailsXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseMembershipDetailsForGivenCourseMembershipBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseQuotaDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseQuotaDetailsWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCourseQuotaDetailsXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getEnrolledCoursesForGivenUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getEnrolledCoursesForGivenUserWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getEnrolledCoursesForGivenUserXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="modifyCourseQuotaDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="modifyCourseQuotaDetailsXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="unEnrollGivenUserFromGivenCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="unEnrollGivenUserFromGivenCourseXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="copyCourseExact">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="updateCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="BBCourseWebService">
    <port name="BBCourseWebServicePort" binding="tns:BBCourseWebServicePortBinding">
      <soap:address location="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBCourseWebService" />
    </port>
  </service>
</definitions>