tags/TestClients_100518_#66/VS2005/App_WebReferences/bbcrsws/BBCourseWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://www.ncl.ac.uk/BBCourseWebService" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="BBCourseWebService" targetNamespace="http://www.ncl.ac.uk/BBCourseWebService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://bbtestserver:80/webapps/IDLA-BbWebservices-bb_bb60/BBCourseWebService?xsd=1" namespace="http://www.ncl.ac.uk/BBCourseWebService" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://bbtestserver:80/webapps/IDLA-BbWebservices-bb_bb60/BBCourseWebService?xsd=2" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
  </types>
  <message name="addCourse">
    <part name="parameters" element="tns:addCourse" />
  </message>
  <message name="addCourseResponse">
    <part name="parameters" element="tns:addCourseResponse" />
  </message>
  <message name="addCourseXML">
    <part name="parameters" element="tns:addCourseXML" />
  </message>
  <message name="addCourseXMLResponse">
    <part name="parameters" element="tns:addCourseXMLResponse" />
  </message>
  <message name="deleteCourseByCourseBbId">
    <part name="parameters" element="tns:deleteCourseByCourseBbId" />
  </message>
  <message name="deleteCourseByCourseBbIdResponse">
    <part name="parameters" element="tns:deleteCourseByCourseBbIdResponse" />
  </message>
  <message name="deleteCourseByCourseBbIdXML">
    <part name="parameters" element="tns:deleteCourseByCourseBbIdXML" />
  </message>
  <message name="deleteCourseByCourseBbIdXMLResponse">
    <part name="parameters" element="tns:deleteCourseByCourseBbIdXMLResponse" />
  </message>
  <message name="deleteCourseByCourseId">
    <part name="parameters" element="tns:deleteCourseByCourseId" />
  </message>
  <message name="deleteCourseByCourseIdResponse">
    <part name="parameters" element="tns:deleteCourseByCourseIdResponse" />
  </message>
  <message name="deleteCourseByCourseIdXML">
    <part name="parameters" element="tns:deleteCourseByCourseIdXML" />
  </message>
  <message name="deleteCourseByCourseIdXMLResponse">
    <part name="parameters" element="tns:deleteCourseByCourseIdXMLResponse" />
  </message>
  <message name="doesCourseExist">
    <part name="parameters" element="tns:doesCourseExist" />
  </message>
  <message name="doesCourseExistResponse">
    <part name="parameters" element="tns:doesCourseExistResponse" />
  </message>
  <message name="doesCourseExistXML">
    <part name="parameters" element="tns:doesCourseExistXML" />
  </message>
  <message name="doesCourseExistXMLResponse">
    <part name="parameters" element="tns:doesCourseExistXMLResponse" />
  </message>
  <message name="enrollGivenUserOnGivenCourse">
    <part name="parameters" element="tns:enrollGivenUserOnGivenCourse" />
  </message>
  <message name="enrollGivenUserOnGivenCourseResponse">
    <part name="parameters" element="tns:enrollGivenUserOnGivenCourseResponse" />
  </message>
  <message name="enrollGivenUserOnGivenCourseXML">
    <part name="parameters" element="tns:enrollGivenUserOnGivenCourseXML" />
  </message>
  <message name="enrollGivenUserOnGivenCourseXMLResponse">
    <part name="parameters" element="tns:enrollGivenUserOnGivenCourseXMLResponse" />
  </message>
  <message name="getAllCourseIDsNoDetails">
    <part name="parameters" element="tns:getAllCourseIDsNoDetails" />
  </message>
  <message name="getAllCourseIDsNoDetailsResponse">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsResponse" />
  </message>
  <message name="getAllCourseIDsNoDetailsWithNamedElements">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsWithNamedElements" />
  </message>
  <message name="getAllCourseIDsNoDetailsWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsWithNamedElementsResponse" />
  </message>
  <message name="getAllCourseIDsNoDetailsXML">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsXML" />
  </message>
  <message name="getAllCourseIDsNoDetailsXMLResponse">
    <part name="parameters" element="tns:getAllCourseIDsNoDetailsXMLResponse" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchString">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchString" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringResponse" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElementsResponse" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML" />
  </message>
  <message name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringXMLResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringXMLResponse" />
  </message>
  <message name="getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements">
    <part name="parameters" element="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements" />
  </message>
  <message name="getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElementsResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElementsResponse" />
  </message>
  <message name="getAllCourseIDsWhereGivenUserIdIsAnInstructorXML">
    <part name="parameters" element="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorXML" />
  </message>
  <message name="getAllCourseIDsWhereGivenUserIdIsAnInstructorXMLResponse">
    <part name="parameters" element="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorXMLResponse" />
  </message>
  <message name="getCourseDetails">
    <part name="parameters" element="tns:getCourseDetails" />
  </message>
  <message name="getCourseDetailsResponse">
    <part name="parameters" element="tns:getCourseDetailsResponse" />
  </message>
  <message name="getCourseDetailsWithNamedElements">
    <part name="parameters" element="tns:getCourseDetailsWithNamedElements" />
  </message>
  <message name="getCourseDetailsWithNamedElementsResponse">
    <part name="parameters" element="tns:getCourseDetailsWithNamedElementsResponse" />
  </message>
  <message name="getCourseDetailsXML">
    <part name="parameters" element="tns:getCourseDetailsXML" />
  </message>
  <message name="getCourseDetailsXMLResponse">
    <part name="parameters" element="tns:getCourseDetailsXMLResponse" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseId">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseId" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdResponse">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdResponse" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElementsResponse" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdXML">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdXML" />
  </message>
  <message name="getCourseMembershipBbIdForGivenUserIdAndCourseIdXMLResponse">
    <part name="parameters" element="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdXMLResponse" />
  </message>
  <message name="getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements">
    <part name="parameters" element="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements" />
  </message>
  <message name="getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElementsResponse">
    <part name="parameters" element="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElementsResponse" />
  </message>
  <message name="getCourseMembershipDetailsForGivenCourseMembershipBbIdXML">
    <part name="parameters" element="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdXML" />
  </message>
  <message name="getCourseMembershipDetailsForGivenCourseMembershipBbIdXMLResponse">
    <part name="parameters" element="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdXMLResponse" />
  </message>
  <message name="getCourseQuotaDetails">
    <part name="parameters" element="tns:getCourseQuotaDetails" />
  </message>
  <message name="getCourseQuotaDetailsResponse">
    <part name="parameters" element="tns:getCourseQuotaDetailsResponse" />
  </message>
  <message name="getCourseQuotaDetailsWithNamedElements">
    <part name="parameters" element="tns:getCourseQuotaDetailsWithNamedElements" />
  </message>
  <message name="getCourseQuotaDetailsWithNamedElementsResponse">
    <part name="parameters" element="tns:getCourseQuotaDetailsWithNamedElementsResponse" />
  </message>
  <message name="getCourseQuotaDetailsXML">
    <part name="parameters" element="tns:getCourseQuotaDetailsXML" />
  </message>
  <message name="getCourseQuotaDetailsXMLResponse">
    <part name="parameters" element="tns:getCourseQuotaDetailsXMLResponse" />
  </message>
  <message name="getEnrolledCoursesForGivenUser">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUser" />
  </message>
  <message name="getEnrolledCoursesForGivenUserResponse">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserResponse" />
  </message>
  <message name="getEnrolledCoursesForGivenUserWithNamedElements">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserWithNamedElements" />
  </message>
  <message name="getEnrolledCoursesForGivenUserWithNamedElementsResponse">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserWithNamedElementsResponse" />
  </message>
  <message name="getEnrolledCoursesForGivenUserXML">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserXML" />
  </message>
  <message name="getEnrolledCoursesForGivenUserXMLResponse">
    <part name="parameters" element="tns:getEnrolledCoursesForGivenUserXMLResponse" />
  </message>
  <message name="modifyCourseQuotaDetails">
    <part name="parameters" element="tns:modifyCourseQuotaDetails" />
  </message>
  <message name="modifyCourseQuotaDetailsResponse">
    <part name="parameters" element="tns:modifyCourseQuotaDetailsResponse" />
  </message>
  <message name="modifyCourseQuotaDetailsXML">
    <part name="parameters" element="tns:modifyCourseQuotaDetailsXML" />
  </message>
  <message name="modifyCourseQuotaDetailsXMLResponse">
    <part name="parameters" element="tns:modifyCourseQuotaDetailsXMLResponse" />
  </message>
  <message name="unEnrollGivenUserFromGivenCourse">
    <part name="parameters" element="tns:unEnrollGivenUserFromGivenCourse" />
  </message>
  <message name="unEnrollGivenUserFromGivenCourseResponse">
    <part name="parameters" element="tns:unEnrollGivenUserFromGivenCourseResponse" />
  </message>
  <message name="unEnrollGivenUserFromGivenCourseXML">
    <part name="parameters" element="tns:unEnrollGivenUserFromGivenCourseXML" />
  </message>
  <message name="unEnrollGivenUserFromGivenCourseXMLResponse">
    <part name="parameters" element="tns:unEnrollGivenUserFromGivenCourseXMLResponse" />
  </message>
  <message name="copyCourseExact">
    <part name="parameters" element="tns:copyCourseExact" />
  </message>
  <message name="copyCourseExactResponse">
    <part name="parameters" element="tns:copyCourseExactResponse" />
  </message>
  <message name="updateCourse">
    <part name="parameters" element="tns:updateCourse" />
  </message>
  <message name="updateCourseResponse">
    <part name="parameters" element="tns:updateCourseResponse" />
  </message>
  <portType name="BBCourseWebService">
    <operation name="addCourse">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/addCourseRequest" message="tns:addCourse" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/addCourseResponse" message="tns:addCourseResponse" />
    </operation>
    <operation name="addCourseXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/addCourseXMLRequest" message="tns:addCourseXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/addCourseXMLResponse" message="tns:addCourseXMLResponse" />
    </operation>
    <operation name="deleteCourseByCourseBbId">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/deleteCourseByCourseBbIdRequest" message="tns:deleteCourseByCourseBbId" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/deleteCourseByCourseBbIdResponse" message="tns:deleteCourseByCourseBbIdResponse" />
    </operation>
    <operation name="deleteCourseByCourseBbIdXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/deleteCourseByCourseBbIdXMLRequest" message="tns:deleteCourseByCourseBbIdXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/deleteCourseByCourseBbIdXMLResponse" message="tns:deleteCourseByCourseBbIdXMLResponse" />
    </operation>
    <operation name="deleteCourseByCourseId">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/deleteCourseByCourseIdRequest" message="tns:deleteCourseByCourseId" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/deleteCourseByCourseIdResponse" message="tns:deleteCourseByCourseIdResponse" />
    </operation>
    <operation name="deleteCourseByCourseIdXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/deleteCourseByCourseIdXMLRequest" message="tns:deleteCourseByCourseIdXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/deleteCourseByCourseIdXMLResponse" message="tns:deleteCourseByCourseIdXMLResponse" />
    </operation>
    <operation name="doesCourseExist">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/doesCourseExistRequest" message="tns:doesCourseExist" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/doesCourseExistResponse" message="tns:doesCourseExistResponse" />
    </operation>
    <operation name="doesCourseExistXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/doesCourseExistXMLRequest" message="tns:doesCourseExistXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/doesCourseExistXMLResponse" message="tns:doesCourseExistXMLResponse" />
    </operation>
    <operation name="enrollGivenUserOnGivenCourse">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/enrollGivenUserOnGivenCourseRequest" message="tns:enrollGivenUserOnGivenCourse" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/enrollGivenUserOnGivenCourseResponse" message="tns:enrollGivenUserOnGivenCourseResponse" />
    </operation>
    <operation name="enrollGivenUserOnGivenCourseXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/enrollGivenUserOnGivenCourseXMLRequest" message="tns:enrollGivenUserOnGivenCourseXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/enrollGivenUserOnGivenCourseXMLResponse" message="tns:enrollGivenUserOnGivenCourseXMLResponse" />
    </operation>
    <operation name="getAllCourseIDsNoDetails">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsNoDetailsRequest" message="tns:getAllCourseIDsNoDetails" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsNoDetailsResponse" message="tns:getAllCourseIDsNoDetailsResponse" />
    </operation>
    <operation name="getAllCourseIDsNoDetailsWithNamedElements">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsNoDetailsWithNamedElementsRequest" message="tns:getAllCourseIDsNoDetailsWithNamedElements" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsNoDetailsWithNamedElementsResponse" message="tns:getAllCourseIDsNoDetailsWithNamedElementsResponse" />
    </operation>
    <operation name="getAllCourseIDsNoDetailsXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsNoDetailsXMLRequest" message="tns:getAllCourseIDsNoDetailsXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsNoDetailsXMLResponse" message="tns:getAllCourseIDsNoDetailsXMLResponse" />
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchString">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereCourseIdContainsGivenSearchStringRequest" message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchString" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereCourseIdContainsGivenSearchStringResponse" message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringResponse" />
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElementsRequest" message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElementsResponse" message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElementsResponse" />
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereCourseIdContainsGivenSearchStringXMLRequest" message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereCourseIdContainsGivenSearchStringXMLResponse" message="tns:getAllCourseIDsWhereCourseIdContainsGivenSearchStringXMLResponse" />
    </operation>
    <operation name="getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElementsRequest" message="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElementsResponse" message="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElementsResponse" />
    </operation>
    <operation name="getAllCourseIDsWhereGivenUserIdIsAnInstructorXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereGivenUserIdIsAnInstructorXMLRequest" message="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getAllCourseIDsWhereGivenUserIdIsAnInstructorXMLResponse" message="tns:getAllCourseIDsWhereGivenUserIdIsAnInstructorXMLResponse" />
    </operation>
    <operation name="getCourseDetails">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseDetailsRequest" message="tns:getCourseDetails" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseDetailsResponse" message="tns:getCourseDetailsResponse" />
    </operation>
    <operation name="getCourseDetailsWithNamedElements">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseDetailsWithNamedElementsRequest" message="tns:getCourseDetailsWithNamedElements" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseDetailsWithNamedElementsResponse" message="tns:getCourseDetailsWithNamedElementsResponse" />
    </operation>
    <operation name="getCourseDetailsXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseDetailsXMLRequest" message="tns:getCourseDetailsXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseDetailsXMLResponse" message="tns:getCourseDetailsXMLResponse" />
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseId">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipBbIdForGivenUserIdAndCourseIdRequest" message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseId" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipBbIdForGivenUserIdAndCourseIdResponse" message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdResponse" />
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElementsRequest" message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElementsResponse" message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElementsResponse" />
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseIdXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipBbIdForGivenUserIdAndCourseIdXMLRequest" message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipBbIdForGivenUserIdAndCourseIdXMLResponse" message="tns:getCourseMembershipBbIdForGivenUserIdAndCourseIdXMLResponse" />
    </operation>
    <operation name="getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElementsRequest" message="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElementsResponse" message="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElementsResponse" />
    </operation>
    <operation name="getCourseMembershipDetailsForGivenCourseMembershipBbIdXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipDetailsForGivenCourseMembershipBbIdXMLRequest" message="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseMembershipDetailsForGivenCourseMembershipBbIdXMLResponse" message="tns:getCourseMembershipDetailsForGivenCourseMembershipBbIdXMLResponse" />
    </operation>
    <operation name="getCourseQuotaDetails">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseQuotaDetailsRequest" message="tns:getCourseQuotaDetails" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseQuotaDetailsResponse" message="tns:getCourseQuotaDetailsResponse" />
    </operation>
    <operation name="getCourseQuotaDetailsWithNamedElements">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseQuotaDetailsWithNamedElementsRequest" message="tns:getCourseQuotaDetailsWithNamedElements" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseQuotaDetailsWithNamedElementsResponse" message="tns:getCourseQuotaDetailsWithNamedElementsResponse" />
    </operation>
    <operation name="getCourseQuotaDetailsXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseQuotaDetailsXMLRequest" message="tns:getCourseQuotaDetailsXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getCourseQuotaDetailsXMLResponse" message="tns:getCourseQuotaDetailsXMLResponse" />
    </operation>
    <operation name="getEnrolledCoursesForGivenUser">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getEnrolledCoursesForGivenUserRequest" message="tns:getEnrolledCoursesForGivenUser" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getEnrolledCoursesForGivenUserResponse" message="tns:getEnrolledCoursesForGivenUserResponse" />
    </operation>
    <operation name="getEnrolledCoursesForGivenUserWithNamedElements">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getEnrolledCoursesForGivenUserWithNamedElementsRequest" message="tns:getEnrolledCoursesForGivenUserWithNamedElements" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getEnrolledCoursesForGivenUserWithNamedElementsResponse" message="tns:getEnrolledCoursesForGivenUserWithNamedElementsResponse" />
    </operation>
    <operation name="getEnrolledCoursesForGivenUserXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getEnrolledCoursesForGivenUserXMLRequest" message="tns:getEnrolledCoursesForGivenUserXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/getEnrolledCoursesForGivenUserXMLResponse" message="tns:getEnrolledCoursesForGivenUserXMLResponse" />
    </operation>
    <operation name="modifyCourseQuotaDetails">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/modifyCourseQuotaDetailsRequest" message="tns:modifyCourseQuotaDetails" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/modifyCourseQuotaDetailsResponse" message="tns:modifyCourseQuotaDetailsResponse" />
    </operation>
    <operation name="modifyCourseQuotaDetailsXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/modifyCourseQuotaDetailsXMLRequest" message="tns:modifyCourseQuotaDetailsXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/modifyCourseQuotaDetailsXMLResponse" message="tns:modifyCourseQuotaDetailsXMLResponse" />
    </operation>
    <operation name="unEnrollGivenUserFromGivenCourse">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/unEnrollGivenUserFromGivenCourseRequest" message="tns:unEnrollGivenUserFromGivenCourse" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/unEnrollGivenUserFromGivenCourseResponse" message="tns:unEnrollGivenUserFromGivenCourseResponse" />
    </operation>
    <operation name="unEnrollGivenUserFromGivenCourseXML">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/unEnrollGivenUserFromGivenCourseXMLRequest" message="tns:unEnrollGivenUserFromGivenCourseXML" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/unEnrollGivenUserFromGivenCourseXMLResponse" message="tns:unEnrollGivenUserFromGivenCourseXMLResponse" />
    </operation>
    <operation name="copyCourseExact">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/copyCourseExactRequest" message="tns:copyCourseExact" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/copyCourseExactResponse" message="tns:copyCourseExactResponse" />
    </operation>
    <operation name="updateCourse">
      <input wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/updateCourseRequest" message="tns:updateCourse" />
      <output wsam:Action="http://www.ncl.ac.uk/BBCourseWebService/BBCourseWebService/updateCourseResponse" message="tns:updateCourseResponse" />
    </operation>
  </portType>
  <binding name="BBCourseWebServicePortBinding" type="tns:BBCourseWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="addCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addCourseXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteCourseByCourseBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteCourseByCourseBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteCourseByCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteCourseByCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doesCourseExist">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doesCourseExistXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enrollGivenUserOnGivenCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enrollGivenUserOnGivenCourseXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCourseIDsNoDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCourseIDsNoDetailsWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCourseIDsNoDetailsXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchString">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCourseIDsWhereCourseIdContainsGivenSearchStringXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCourseIDsWhereGivenUserIdIsAnInstructorWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllCourseIDsWhereGivenUserIdIsAnInstructorXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseDetailsWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseDetailsXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseMembershipBbIdForGivenUserIdAndCourseIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseMembershipDetailsForGivenCourseMembershipBbIdWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseMembershipDetailsForGivenCourseMembershipBbIdXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseQuotaDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseQuotaDetailsWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseQuotaDetailsXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getEnrolledCoursesForGivenUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getEnrolledCoursesForGivenUserWithNamedElements">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getEnrolledCoursesForGivenUserXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modifyCourseQuotaDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modifyCourseQuotaDetailsXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="unEnrollGivenUserFromGivenCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="unEnrollGivenUserFromGivenCourseXML">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="copyCourseExact">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BBCourseWebService">
    <port name="BBCourseWebServicePort" binding="tns:BBCourseWebServicePortBinding">
      <soap:address location="http://bbtestserver:80/webapps/IDLA-BbWebservices-bb_bb60/BBCourseWebService" />
    </port>
  </service>
</definitions>