TestClients/DotNetProxy/bbIDLA/Web References/BBContentService/BBContentWebService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ncl.ac.uk/BBContentWebService" xmlns:ns1="http://jaxb.dev.java.net/array" targetNamespace="http://www.ncl.ac.uk/BBContentWebService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBContentWebService?xsd=2" namespace="http://jaxb.dev.java.net/array" />
  <xs:element name="deleteContentByContentBbId" type="tns:deleteContentByContentBbId" />
  <xs:element name="deleteContentByContentBbIdResponse" type="tns:deleteContentByContentBbIdResponse" />
  <xs:element name="getChildContentFromParentContentBbId" type="tns:getChildContentFromParentContentBbId" />
  <xs:element name="getChildContentFromParentContentBbIdResponse" type="tns:getChildContentFromParentContentBbIdResponse" />
  <xs:element name="getContentDetailsFromContentBbId" type="tns:getContentDetailsFromContentBbId" />
  <xs:element name="getContentDetailsFromContentBbIdResponse" type="tns:getContentDetailsFromContentBbIdResponse" />
  <xs:element name="getContentTocDetailsForGivenCourse" type="tns:getContentTocDetailsForGivenCourse" />
  <xs:element name="getContentTocDetailsForGivenCourseResponse" type="tns:getContentTocDetailsForGivenCourseResponse" />
  <xs:element name="getFileDetailsFromContentBbId" type="tns:getFileDetailsFromContentBbId" />
  <xs:element name="getFileDetailsFromContentBbIdResponse" type="tns:getFileDetailsFromContentBbIdResponse" />
  <xs:complexType name="getFileDetailsFromContentBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="contentBbId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFileDetailsFromContentBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContentDetailsFromContentBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="contentId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContentDetailsFromContentBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChildContentFromParentContentBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="parentContentBbId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChildContentFromParentContentBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContentTocDetailsForGivenCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContentTocDetailsForGivenCourseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteContentByContentBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="contentBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteContentByContentBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>