TestClients/DotNetProxy/bbIDLA/Web References/BBContentService/BBContentWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.ncl.ac.uk/BBContentWebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BBContentWebService" targetNamespace="http://www.ncl.ac.uk/BBContentWebService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBContentWebService?xsd=1" namespace="http://www.ncl.ac.uk/BBContentWebService" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBContentWebService?xsd=2" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
  </types>
  <message name="deleteContentByContentBbId">
    <part name="parameters" element="tns:deleteContentByContentBbId" />
  </message>
  <message name="deleteContentByContentBbIdResponse">
    <part name="parameters" element="tns:deleteContentByContentBbIdResponse" />
  </message>
  <message name="getContentTocDetailsForGivenCourse">
    <part name="parameters" element="tns:getContentTocDetailsForGivenCourse" />
  </message>
  <message name="getContentTocDetailsForGivenCourseResponse">
    <part name="parameters" element="tns:getContentTocDetailsForGivenCourseResponse" />
  </message>
  <message name="getChildContentFromParentContentBbId">
    <part name="parameters" element="tns:getChildContentFromParentContentBbId" />
  </message>
  <message name="getChildContentFromParentContentBbIdResponse">
    <part name="parameters" element="tns:getChildContentFromParentContentBbIdResponse" />
  </message>
  <message name="getContentDetailsFromContentBbId">
    <part name="parameters" element="tns:getContentDetailsFromContentBbId" />
  </message>
  <message name="getContentDetailsFromContentBbIdResponse">
    <part name="parameters" element="tns:getContentDetailsFromContentBbIdResponse" />
  </message>
  <message name="getFileDetailsFromContentBbId">
    <part name="parameters" element="tns:getFileDetailsFromContentBbId" />
  </message>
  <message name="getFileDetailsFromContentBbIdResponse">
    <part name="parameters" element="tns:getFileDetailsFromContentBbIdResponse" />
  </message>
  <portType name="BBContentWebService">
    <operation name="deleteContentByContentBbId">
      <input message="tns:deleteContentByContentBbId" />
      <output message="tns:deleteContentByContentBbIdResponse" />
    </operation>
    <operation name="getContentTocDetailsForGivenCourse">
      <input message="tns:getContentTocDetailsForGivenCourse" />
      <output message="tns:getContentTocDetailsForGivenCourseResponse" />
    </operation>
    <operation name="getChildContentFromParentContentBbId">
      <input message="tns:getChildContentFromParentContentBbId" />
      <output message="tns:getChildContentFromParentContentBbIdResponse" />
    </operation>
    <operation name="getContentDetailsFromContentBbId">
      <input message="tns:getContentDetailsFromContentBbId" />
      <output message="tns:getContentDetailsFromContentBbIdResponse" />
    </operation>
    <operation name="getFileDetailsFromContentBbId">
      <input message="tns:getFileDetailsFromContentBbId" />
      <output message="tns:getFileDetailsFromContentBbIdResponse" />
    </operation>
  </portType>
  <binding name="BBContentWebServicePortBinding" type="tns:BBContentWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="deleteContentByContentBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getContentTocDetailsForGivenCourse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getChildContentFromParentContentBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getContentDetailsFromContentBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getFileDetailsFromContentBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BBContentWebService">
    <port name="BBContentWebServicePort" binding="tns:BBContentWebServicePortBinding">
      <soap:address location="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBContentWebService" />
    </port>
  </service>
</definitions>