branches/00129-Bb9.1.SP9/TestClients/DotNetProxy/bbIDLA/Web References/BBDiscussionBoardService/BBDiscussionBoardWebService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bbdbws/" xmlns:ns1="http://jaxb.dev.java.net/array" targetNamespace="http://bbdbws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BBLEARN/BBDiscussionBoardWebService?xsd=1" namespace="http://jaxb.dev.java.net/array" />
  <xs:element name="addConference" type="tns:addConference" />
  <xs:element name="addConferenceResponse" type="tns:addConferenceResponse" />
  <xs:element name="addForumToGivenConferenceBbId" type="tns:addForumToGivenConferenceBbId" />
  <xs:element name="addForumToGivenConferenceBbIdResponse" type="tns:addForumToGivenConferenceBbIdResponse" />
  <xs:element name="addMessageToGivenForumBbIdOrMessageBbId" type="tns:addMessageToGivenForumBbIdOrMessageBbId" />
  <xs:element name="addMessageToGivenForumBbIdOrMessageBbIdResponse" type="tns:addMessageToGivenForumBbIdOrMessageBbIdResponse" />
  <xs:element name="deleteAllConferencesInGivenCourseBbId" type="tns:deleteAllConferencesInGivenCourseBbId" />
  <xs:element name="deleteAllConferencesInGivenCourseBbIdResponse" type="tns:deleteAllConferencesInGivenCourseBbIdResponse" />
  <xs:element name="deleteAllForumsInGivenConferenceBbId" type="tns:deleteAllForumsInGivenConferenceBbId" />
  <xs:element name="deleteAllForumsInGivenConferenceBbIdResponse" type="tns:deleteAllForumsInGivenConferenceBbIdResponse" />
  <xs:element name="deleteAllThreadsInGivenForumBbId" type="tns:deleteAllThreadsInGivenForumBbId" />
  <xs:element name="deleteAllThreadsInGivenForumBbIdResponse" type="tns:deleteAllThreadsInGivenForumBbIdResponse" />
  <xs:element name="deleteGivenConferenceAndSubForums" type="tns:deleteGivenConferenceAndSubForums" />
  <xs:element name="deleteGivenConferenceAndSubForumsResponse" type="tns:deleteGivenConferenceAndSubForumsResponse" />
  <xs:element name="deleteGivenForumAndSubThreads" type="tns:deleteGivenForumAndSubThreads" />
  <xs:element name="deleteGivenForumAndSubThreadsResponse" type="tns:deleteGivenForumAndSubThreadsResponse" />
  <xs:element name="deleteMessageAndAllSubMessages" type="tns:deleteMessageAndAllSubMessages" />
  <xs:element name="deleteMessageAndAllSubMessagesResponse" type="tns:deleteMessageAndAllSubMessagesResponse" />
  <xs:element name="getAllGroupConferenceDetailsForGivenCourseId" type="tns:getAllGroupConferenceDetailsForGivenCourseId" />
  <xs:element name="getAllGroupConferenceDetailsForGivenCourseIdResponse" type="tns:getAllGroupConferenceDetailsForGivenCourseIdResponse" />
  <xs:element name="getAllMessagesForGivenThreadInGivenForumBbId" type="tns:getAllMessagesForGivenThreadInGivenForumBbId" />
  <xs:element name="getAllMessagesForGivenThreadInGivenForumBbIdResponse" type="tns:getAllMessagesForGivenThreadInGivenForumBbIdResponse" />
  <xs:element name="getAllTypesOfConferencesForGivenCourseId" type="tns:getAllTypesOfConferencesForGivenCourseId" />
  <xs:element name="getAllTypesOfConferencesForGivenCourseIdResponse" type="tns:getAllTypesOfConferencesForGivenCourseIdResponse" />
  <xs:element name="getConferenceDetailsForGivenConferenceBbId" type="tns:getConferenceDetailsForGivenConferenceBbId" />
  <xs:element name="getConferenceDetailsForGivenConferenceBbIdResponse" type="tns:getConferenceDetailsForGivenConferenceBbIdResponse" />
  <xs:element name="getCourseConferenceDetailsForGivenCourseId" type="tns:getCourseConferenceDetailsForGivenCourseId" />
  <xs:element name="getCourseConferenceDetailsForGivenCourseIdResponse" type="tns:getCourseConferenceDetailsForGivenCourseIdResponse" />
  <xs:element name="getForumDetailsForGivenConferenceBbId" type="tns:getForumDetailsForGivenConferenceBbId" />
  <xs:element name="getForumDetailsForGivenConferenceBbIdResponse" type="tns:getForumDetailsForGivenConferenceBbIdResponse" />
  <xs:element name="getGroupConferenceDetailsForGivenGroupBbId" type="tns:getGroupConferenceDetailsForGivenGroupBbId" />
  <xs:element name="getGroupConferenceDetailsForGivenGroupBbIdResponse" type="tns:getGroupConferenceDetailsForGivenGroupBbIdResponse" />
  <xs:element name="getImmediateChildMessagesForGivenMessageBbId" type="tns:getImmediateChildMessagesForGivenMessageBbId" />
  <xs:element name="getImmediateChildMessagesForGivenMessageBbIdResponse" type="tns:getImmediateChildMessagesForGivenMessageBbIdResponse" />
  <xs:element name="getTopLevelMessageForGivenForumBbId" type="tns:getTopLevelMessageForGivenForumBbId" />
  <xs:element name="getTopLevelMessageForGivenForumBbIdResponse" type="tns:getTopLevelMessageForGivenForumBbIdResponse" />
  <xs:complexType name="getAllGroupConferenceDetailsForGivenCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllGroupConferenceDetailsForGivenCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGroupConferenceDetailsForGivenGroupBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="groupBbId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGroupConferenceDetailsForGivenGroupBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addForumToGivenConferenceBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="confBbId" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="descType" type="xs:string" />
      <xs:element minOccurs="0" name="available" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addForumToGivenConferenceBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAllThreadsInGivenForumBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="forumBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAllThreadsInGivenForumBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTopLevelMessageForGivenForumBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="forumBbID" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTopLevelMessageForGivenForumBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addMessageToGivenForumBbIdOrMessageBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="forumBbId" type="xs:string" />
      <xs:element minOccurs="0" name="parentMessageBbId" type="xs:string" />
      <xs:element minOccurs="0" name="subject" type="xs:string" />
      <xs:element minOccurs="0" name="body" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addMessageToGivenForumBbIdOrMessageBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllTypesOfConferencesForGivenCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseID" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllTypesOfConferencesForGivenCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteMessageAndAllSubMessages">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="messageBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteMessageAndAllSubMessagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMessagesForGivenThreadInGivenForumBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="threadTopLevelMessageBbId" type="xs:string" />
      <xs:element minOccurs="0" name="forumBbId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMessagesForGivenThreadInGivenForumBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addConference">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="groupBbId" type="xs:string" />
      <xs:element minOccurs="0" name="conferenceType" type="xs:string" />
      <xs:element minOccurs="0" name="available" type="xs:boolean" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addConferenceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getConferenceDetailsForGivenConferenceBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="confBbId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getConferenceDetailsForGivenConferenceBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGivenForumAndSubThreads">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="forumBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGivenForumAndSubThreadsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCourseConferenceDetailsForGivenCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCourseConferenceDetailsForGivenCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getForumDetailsForGivenConferenceBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="confBbIdD" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getForumDetailsForGivenConferenceBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAllConferencesInGivenCourseBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAllConferencesInGivenCourseBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGivenConferenceAndSubForums">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="confBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGivenConferenceAndSubForumsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getImmediateChildMessagesForGivenMessageBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="messageBbId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getImmediateChildMessagesForGivenMessageBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAllForumsInGivenConferenceBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="confBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteAllForumsInGivenConferenceBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>