branches/00129-Bb9.1.SP9/TestClients/DotNetProxy/bbIDLA/Web References/BBDiscussionBoardService/BBDiscussionBoardWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://bbdbws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BBDiscussionBoardWebServiceService" targetNamespace="http://bbdbws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBDiscussionBoardWebService?xsd=1" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBDiscussionBoardWebService?xsd=2" namespace="http://bbdbws/" />
    </xsd:schema>
  </types>
  <message name="getConferenceDetailsForGivenConferenceBbId">
    <part name="parameters" element="tns:getConferenceDetailsForGivenConferenceBbId" />
  </message>
  <message name="getConferenceDetailsForGivenConferenceBbIdResponse">
    <part name="parameters" element="tns:getConferenceDetailsForGivenConferenceBbIdResponse" />
  </message>
  <message name="getGroupConferenceDetailsForGivenGroupBbId">
    <part name="parameters" element="tns:getGroupConferenceDetailsForGivenGroupBbId" />
  </message>
  <message name="getGroupConferenceDetailsForGivenGroupBbIdResponse">
    <part name="parameters" element="tns:getGroupConferenceDetailsForGivenGroupBbIdResponse" />
  </message>
  <message name="getCourseConferenceDetailsForGivenCourseId">
    <part name="parameters" element="tns:getCourseConferenceDetailsForGivenCourseId" />
  </message>
  <message name="getCourseConferenceDetailsForGivenCourseIdResponse">
    <part name="parameters" element="tns:getCourseConferenceDetailsForGivenCourseIdResponse" />
  </message>
  <message name="getAllGroupConferenceDetailsForGivenCourseId">
    <part name="parameters" element="tns:getAllGroupConferenceDetailsForGivenCourseId" />
  </message>
  <message name="getAllGroupConferenceDetailsForGivenCourseIdResponse">
    <part name="parameters" element="tns:getAllGroupConferenceDetailsForGivenCourseIdResponse" />
  </message>
  <message name="getAllTypesOfConferencesForGivenCourseId">
    <part name="parameters" element="tns:getAllTypesOfConferencesForGivenCourseId" />
  </message>
  <message name="getAllTypesOfConferencesForGivenCourseIdResponse">
    <part name="parameters" element="tns:getAllTypesOfConferencesForGivenCourseIdResponse" />
  </message>
  <message name="getForumDetailsForGivenConferenceBbId">
    <part name="parameters" element="tns:getForumDetailsForGivenConferenceBbId" />
  </message>
  <message name="getForumDetailsForGivenConferenceBbIdResponse">
    <part name="parameters" element="tns:getForumDetailsForGivenConferenceBbIdResponse" />
  </message>
  <message name="getTopLevelMessageForGivenForumBbId">
    <part name="parameters" element="tns:getTopLevelMessageForGivenForumBbId" />
  </message>
  <message name="getTopLevelMessageForGivenForumBbIdResponse">
    <part name="parameters" element="tns:getTopLevelMessageForGivenForumBbIdResponse" />
  </message>
  <message name="getImmediateChildMessagesForGivenMessageBbId">
    <part name="parameters" element="tns:getImmediateChildMessagesForGivenMessageBbId" />
  </message>
  <message name="getImmediateChildMessagesForGivenMessageBbIdResponse">
    <part name="parameters" element="tns:getImmediateChildMessagesForGivenMessageBbIdResponse" />
  </message>
  <message name="getAllMessagesForGivenThreadInGivenForumBbId">
    <part name="parameters" element="tns:getAllMessagesForGivenThreadInGivenForumBbId" />
  </message>
  <message name="getAllMessagesForGivenThreadInGivenForumBbIdResponse">
    <part name="parameters" element="tns:getAllMessagesForGivenThreadInGivenForumBbIdResponse" />
  </message>
  <message name="addMessageToGivenForumBbIdOrMessageBbId">
    <part name="parameters" element="tns:addMessageToGivenForumBbIdOrMessageBbId" />
  </message>
  <message name="addMessageToGivenForumBbIdOrMessageBbIdResponse">
    <part name="parameters" element="tns:addMessageToGivenForumBbIdOrMessageBbIdResponse" />
  </message>
  <message name="deleteAllForumsInGivenConferenceBbId">
    <part name="parameters" element="tns:deleteAllForumsInGivenConferenceBbId" />
  </message>
  <message name="deleteAllForumsInGivenConferenceBbIdResponse">
    <part name="parameters" element="tns:deleteAllForumsInGivenConferenceBbIdResponse" />
  </message>
  <message name="deleteGivenForumAndSubThreads">
    <part name="parameters" element="tns:deleteGivenForumAndSubThreads" />
  </message>
  <message name="deleteGivenForumAndSubThreadsResponse">
    <part name="parameters" element="tns:deleteGivenForumAndSubThreadsResponse" />
  </message>
  <message name="deleteAllThreadsInGivenForumBbId">
    <part name="parameters" element="tns:deleteAllThreadsInGivenForumBbId" />
  </message>
  <message name="deleteAllThreadsInGivenForumBbIdResponse">
    <part name="parameters" element="tns:deleteAllThreadsInGivenForumBbIdResponse" />
  </message>
  <message name="deleteMessageAndAllSubMessages">
    <part name="parameters" element="tns:deleteMessageAndAllSubMessages" />
  </message>
  <message name="deleteMessageAndAllSubMessagesResponse">
    <part name="parameters" element="tns:deleteMessageAndAllSubMessagesResponse" />
  </message>
  <message name="addForumToGivenConferenceBbId">
    <part name="parameters" element="tns:addForumToGivenConferenceBbId" />
  </message>
  <message name="addForumToGivenConferenceBbIdResponse">
    <part name="parameters" element="tns:addForumToGivenConferenceBbIdResponse" />
  </message>
  <message name="addConference">
    <part name="parameters" element="tns:addConference" />
  </message>
  <message name="addConferenceResponse">
    <part name="parameters" element="tns:addConferenceResponse" />
  </message>
  <message name="deleteAllConferencesInGivenCourseBbId">
    <part name="parameters" element="tns:deleteAllConferencesInGivenCourseBbId" />
  </message>
  <message name="deleteAllConferencesInGivenCourseBbIdResponse">
    <part name="parameters" element="tns:deleteAllConferencesInGivenCourseBbIdResponse" />
  </message>
  <message name="deleteGivenConferenceAndSubForums">
    <part name="parameters" element="tns:deleteGivenConferenceAndSubForums" />
  </message>
  <message name="deleteGivenConferenceAndSubForumsResponse">
    <part name="parameters" element="tns:deleteGivenConferenceAndSubForumsResponse" />
  </message>
  <portType name="BBDiscussionBoardWebService">
    <operation name="getConferenceDetailsForGivenConferenceBbId">
      <input message="tns:getConferenceDetailsForGivenConferenceBbId" />
      <output message="tns:getConferenceDetailsForGivenConferenceBbIdResponse" />
    </operation>
    <operation name="getGroupConferenceDetailsForGivenGroupBbId">
      <input message="tns:getGroupConferenceDetailsForGivenGroupBbId" />
      <output message="tns:getGroupConferenceDetailsForGivenGroupBbIdResponse" />
    </operation>
    <operation name="getCourseConferenceDetailsForGivenCourseId">
      <input message="tns:getCourseConferenceDetailsForGivenCourseId" />
      <output message="tns:getCourseConferenceDetailsForGivenCourseIdResponse" />
    </operation>
    <operation name="getAllGroupConferenceDetailsForGivenCourseId">
      <input message="tns:getAllGroupConferenceDetailsForGivenCourseId" />
      <output message="tns:getAllGroupConferenceDetailsForGivenCourseIdResponse" />
    </operation>
    <operation name="getAllTypesOfConferencesForGivenCourseId">
      <input message="tns:getAllTypesOfConferencesForGivenCourseId" />
      <output message="tns:getAllTypesOfConferencesForGivenCourseIdResponse" />
    </operation>
    <operation name="getForumDetailsForGivenConferenceBbId">
      <input message="tns:getForumDetailsForGivenConferenceBbId" />
      <output message="tns:getForumDetailsForGivenConferenceBbIdResponse" />
    </operation>
    <operation name="getTopLevelMessageForGivenForumBbId">
      <input message="tns:getTopLevelMessageForGivenForumBbId" />
      <output message="tns:getTopLevelMessageForGivenForumBbIdResponse" />
    </operation>
    <operation name="getImmediateChildMessagesForGivenMessageBbId">
      <input message="tns:getImmediateChildMessagesForGivenMessageBbId" />
      <output message="tns:getImmediateChildMessagesForGivenMessageBbIdResponse" />
    </operation>
    <operation name="getAllMessagesForGivenThreadInGivenForumBbId">
      <input message="tns:getAllMessagesForGivenThreadInGivenForumBbId" />
      <output message="tns:getAllMessagesForGivenThreadInGivenForumBbIdResponse" />
    </operation>
    <operation name="addMessageToGivenForumBbIdOrMessageBbId">
      <input message="tns:addMessageToGivenForumBbIdOrMessageBbId" />
      <output message="tns:addMessageToGivenForumBbIdOrMessageBbIdResponse" />
    </operation>
    <operation name="deleteAllForumsInGivenConferenceBbId">
      <input message="tns:deleteAllForumsInGivenConferenceBbId" />
      <output message="tns:deleteAllForumsInGivenConferenceBbIdResponse" />
    </operation>
    <operation name="deleteGivenForumAndSubThreads">
      <input message="tns:deleteGivenForumAndSubThreads" />
      <output message="tns:deleteGivenForumAndSubThreadsResponse" />
    </operation>
    <operation name="deleteAllThreadsInGivenForumBbId">
      <input message="tns:deleteAllThreadsInGivenForumBbId" />
      <output message="tns:deleteAllThreadsInGivenForumBbIdResponse" />
    </operation>
    <operation name="deleteMessageAndAllSubMessages">
      <input message="tns:deleteMessageAndAllSubMessages" />
      <output message="tns:deleteMessageAndAllSubMessagesResponse" />
    </operation>
    <operation name="addForumToGivenConferenceBbId">
      <input message="tns:addForumToGivenConferenceBbId" />
      <output message="tns:addForumToGivenConferenceBbIdResponse" />
    </operation>
    <operation name="addConference">
      <input message="tns:addConference" />
      <output message="tns:addConferenceResponse" />
    </operation>
    <operation name="deleteAllConferencesInGivenCourseBbId">
      <input message="tns:deleteAllConferencesInGivenCourseBbId" />
      <output message="tns:deleteAllConferencesInGivenCourseBbIdResponse" />
    </operation>
    <operation name="deleteGivenConferenceAndSubForums">
      <input message="tns:deleteGivenConferenceAndSubForums" />
      <output message="tns:deleteGivenConferenceAndSubForumsResponse" />
    </operation>
  </portType>
  <binding name="BBDiscussionBoardWebServicePortBinding" type="tns:BBDiscussionBoardWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getConferenceDetailsForGivenConferenceBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getGroupConferenceDetailsForGivenGroupBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCourseConferenceDetailsForGivenCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllGroupConferenceDetailsForGivenCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllTypesOfConferencesForGivenCourseId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getForumDetailsForGivenConferenceBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTopLevelMessageForGivenForumBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getImmediateChildMessagesForGivenMessageBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllMessagesForGivenThreadInGivenForumBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addMessageToGivenForumBbIdOrMessageBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteAllForumsInGivenConferenceBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteGivenForumAndSubThreads">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteAllThreadsInGivenForumBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteMessageAndAllSubMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addForumToGivenConferenceBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addConference">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteAllConferencesInGivenCourseBbId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteGivenConferenceAndSubForums">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BBDiscussionBoardWebServiceService">
    <port name="BBDiscussionBoardWebServicePort" binding="tns:BBDiscussionBoardWebServicePortBinding">
      <soap:address location="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBDiscussionBoardWebService" />
    </port>
  </service>
</definitions>