TestClients/DotNetProxy/bbIDLA/Web References/BBGradebookService/BBGradebookWebService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bbgbws/" xmlns:ns1="http://jaxb.dev.java.net/array" targetNamespace="http://bbgbws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://idlatestbb.com:80/webapps/IDLA-BbWebservices-BB_bb60/BBGradebookWebService?xsd=1" namespace="http://jaxb.dev.java.net/array" />
  <xs:element name="WebServiceException" type="tns:WebServiceException" />
  <xs:element name="addLineitemToGivenCourseId" type="tns:addLineitemToGivenCourseId" />
  <xs:element name="addLineitemToGivenCourseIdResponse" type="tns:addLineitemToGivenCourseIdResponse" />
  <xs:element name="addLineitemToGivenCourseIdXML" type="tns:addLineitemToGivenCourseIdXML" />
  <xs:element name="addLineitemToGivenCourseIdXMLResponse" type="tns:addLineitemToGivenCourseIdXMLResponse" />
  <xs:element name="deleteGivenAttemptByAttemptBbId" type="tns:deleteGivenAttemptByAttemptBbId" />
  <xs:element name="deleteGivenAttemptByAttemptBbIdResponse" type="tns:deleteGivenAttemptByAttemptBbIdResponse" />
  <xs:element name="deleteGivenAttemptByAttemptBbIdXML" type="tns:deleteGivenAttemptByAttemptBbIdXML" />
  <xs:element name="deleteGivenAttemptByAttemptBbIdXMLResponse" type="tns:deleteGivenAttemptByAttemptBbIdXMLResponse" />
  <xs:element name="deleteLineItemByLineItemBbId" type="tns:deleteLineItemByLineItemBbId" />
  <xs:element name="deleteLineItemByLineItemBbIdResponse" type="tns:deleteLineItemByLineItemBbIdResponse" />
  <xs:element name="deleteLineItemByLineItemBbIdXML" type="tns:deleteLineItemByLineItemBbIdXML" />
  <xs:element name="deleteLineItemByLineItemBbIdXMLResponse" type="tns:deleteLineItemByLineItemBbIdXMLResponse" />
  <xs:element name="deleteOutcomeDefinitionByOutcomeDefBbId" type="tns:deleteOutcomeDefinitionByOutcomeDefBbId" />
  <xs:element name="deleteOutcomeDefinitionByOutcomeDefBbIdResponse" type="tns:deleteOutcomeDefinitionByOutcomeDefBbIdResponse" />
  <xs:element name="deleteOutcomeDefinitionByOutcomeDefBbIdXML" type="tns:deleteOutcomeDefinitionByOutcomeDefBbIdXML" />
  <xs:element name="deleteOutcomeDefinitionByOutcomeDefBbIdXMLResponse" type="tns:deleteOutcomeDefinitionByOutcomeDefBbIdXMLResponse" />
  <xs:element name="getAllLineItemsForCourseId" type="tns:getAllLineItemsForCourseId" />
  <xs:element name="getAllLineItemsForCourseIdResponse" type="tns:getAllLineItemsForCourseIdResponse" />
  <xs:element name="getAllLineItemsForCourseIdWithNamedElements" type="tns:getAllLineItemsForCourseIdWithNamedElements" />
  <xs:element name="getAllLineItemsForCourseIdWithNamedElementsAndParams" type="tns:getAllLineItemsForCourseIdWithNamedElementsAndParams" />
  <xs:element name="getAllLineItemsForCourseIdWithNamedElementsAndParamsResponse" type="tns:getAllLineItemsForCourseIdWithNamedElementsAndParamsResponse" />
  <xs:element name="getAllLineItemsForCourseIdWithNamedElementsResponse" type="tns:getAllLineItemsForCourseIdWithNamedElementsResponse" />
  <xs:element name="getAllLineItemsForCourseIdXML" type="tns:getAllLineItemsForCourseIdXML" />
  <xs:element name="getAllLineItemsForCourseIdXMLResponse" type="tns:getAllLineItemsForCourseIdXMLResponse" />
  <xs:element name="getAllOutcomeDefinitionsForGivenCourse" type="tns:getAllOutcomeDefinitionsForGivenCourse" />
  <xs:element name="getAllOutcomeDefinitionsForGivenCourseResponse" type="tns:getAllOutcomeDefinitionsForGivenCourseResponse" />
  <xs:element name="getAllOutcomeDefinitionsForGivenCourseWithNamedElements" type="tns:getAllOutcomeDefinitionsForGivenCourseWithNamedElements" />
  <xs:element name="getAllOutcomeDefinitionsForGivenCourseWithNamedElementsResponse" type="tns:getAllOutcomeDefinitionsForGivenCourseWithNamedElementsResponse" />
  <xs:element name="getAllOutcomeDefinitionsForGivenCourseXML" type="tns:getAllOutcomeDefinitionsForGivenCourseXML" />
  <xs:element name="getAllOutcomeDefinitionsForGivenCourseXMLResponse" type="tns:getAllOutcomeDefinitionsForGivenCourseXMLResponse" />
  <xs:element name="getAllOutcomesForGivenOutcomeDefBbIdWithNamedElements" type="tns:getAllOutcomesForGivenOutcomeDefBbIdWithNamedElements" />
  <xs:element name="getAllOutcomesForGivenOutcomeDefBbIdWithNamedElementsResponse" type="tns:getAllOutcomesForGivenOutcomeDefBbIdWithNamedElementsResponse" />
  <xs:element name="getAllOutcomesForGivenOutcomeDefBbIdXML" type="tns:getAllOutcomesForGivenOutcomeDefBbIdXML" />
  <xs:element name="getAllOutcomesForGivenOutcomeDefBbIdXMLResponse" type="tns:getAllOutcomesForGivenOutcomeDefBbIdXMLResponse" />
  <xs:element name="getAllScoreDetailsForGivenLineItemBbIdWithNamedElements" type="tns:getAllScoreDetailsForGivenLineItemBbIdWithNamedElements" />
  <xs:element name="getAllScoreDetailsForGivenLineItemBbIdWithNamedElementsResponse" type="tns:getAllScoreDetailsForGivenLineItemBbIdWithNamedElementsResponse" />
  <xs:element name="getAllScoreDetailsForGivenLineItemBbIdXML" type="tns:getAllScoreDetailsForGivenLineItemBbIdXML" />
  <xs:element name="getAllScoreDetailsForGivenLineItemBbIdXMLResponse" type="tns:getAllScoreDetailsForGivenLineItemBbIdXMLResponse" />
  <xs:element name="getAllScoresForGivenLineItemBbId" type="tns:getAllScoresForGivenLineItemBbId" />
  <xs:element name="getAllScoresForGivenLineItemBbIdResponse" type="tns:getAllScoresForGivenLineItemBbIdResponse" />
  <xs:element name="getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElements" type="tns:getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElements" />
  <xs:element name="getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElementsResponse" type="tns:getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElementsResponse" />
  <xs:element name="getAttemptDetailsByGivenOutcomeDefBbIdXML" type="tns:getAttemptDetailsByGivenOutcomeDefBbIdXML" />
  <xs:element name="getAttemptDetailsByGivenOutcomeDefBbIdXMLResponse" type="tns:getAttemptDetailsByGivenOutcomeDefBbIdXMLResponse" />
  <xs:element name="getAttemptsByGivenOutcomeDefBbId" type="tns:getAttemptsByGivenOutcomeDefBbId" />
  <xs:element name="getAttemptsByGivenOutcomeDefBbIdResponse" type="tns:getAttemptsByGivenOutcomeDefBbIdResponse" />
  <xs:element name="getGradebookSettingsForGivenCourseId" type="tns:getGradebookSettingsForGivenCourseId" />
  <xs:element name="getGradebookSettingsForGivenCourseIdResponse" type="tns:getGradebookSettingsForGivenCourseIdResponse" />
  <xs:element name="getGradebookSettingsForGivenCourseIdWithNamedElements" type="tns:getGradebookSettingsForGivenCourseIdWithNamedElements" />
  <xs:element name="getGradebookSettingsForGivenCourseIdWithNamedElementsResponse" type="tns:getGradebookSettingsForGivenCourseIdWithNamedElementsResponse" />
  <xs:element name="getGradebookSettingsForGivenCourseIdXML" type="tns:getGradebookSettingsForGivenCourseIdXML" />
  <xs:element name="getGradebookSettingsForGivenCourseIdXMLResponse" type="tns:getGradebookSettingsForGivenCourseIdXMLResponse" />
  <xs:element name="getLineitemDetailsForGivenLineitemBbIdWithNamedElements" type="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElements" />
  <xs:element name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParams" type="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParams" />
  <xs:element name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParamsResponse" type="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParamsResponse" />
  <xs:element name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsResponse" type="tns:getLineitemDetailsForGivenLineitemBbIdWithNamedElementsResponse" />
  <xs:element name="getLineitemDetailsForGivenLineitemBbIdXML" type="tns:getLineitemDetailsForGivenLineitemBbIdXML" />
  <xs:element name="getLineitemDetailsForGivenLineitemBbIdXMLResponse" type="tns:getLineitemDetailsForGivenLineitemBbIdXMLResponse" />
  <xs:element name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElements" type="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElements" />
  <xs:element name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElementsResponse" type="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElementsResponse" />
  <xs:element name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXML" type="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXML" />
  <xs:element name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXMLResponse" type="tns:getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXMLResponse" />
  <xs:element name="getOutcomeDetailsFromOutcomeBbIdWithNamedElements" type="tns:getOutcomeDetailsFromOutcomeBbIdWithNamedElements" />
  <xs:element name="getOutcomeDetailsFromOutcomeBbIdWithNamedElementsResponse" type="tns:getOutcomeDetailsFromOutcomeBbIdWithNamedElementsResponse" />
  <xs:element name="getOutcomeDetailsFromOutcomeBbIdXML" type="tns:getOutcomeDetailsFromOutcomeBbIdXML" />
  <xs:element name="getOutcomeDetailsFromOutcomeBbIdXMLResponse" type="tns:getOutcomeDetailsFromOutcomeBbIdXMLResponse" />
  <xs:element name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElements" type="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElements" />
  <xs:element name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElementsResponse" type="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElementsResponse" />
  <xs:element name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXML" type="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXML" />
  <xs:element name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXMLResponse" type="tns:getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXMLResponse" />
  <xs:element name="getScoreDetailsForGivenScoreBbIdWithNamedElements" type="tns:getScoreDetailsForGivenScoreBbIdWithNamedElements" />
  <xs:element name="getScoreDetailsForGivenScoreBbIdWithNamedElementsResponse" type="tns:getScoreDetailsForGivenScoreBbIdWithNamedElementsResponse" />
  <xs:element name="getScoreDetailsForGivenScoreBbIdXML" type="tns:getScoreDetailsForGivenScoreBbIdXML" />
  <xs:element name="getScoreDetailsForGivenScoreBbIdXMLResponse" type="tns:getScoreDetailsForGivenScoreBbIdXMLResponse" />
  <xs:element name="getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElements" type="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElements" />
  <xs:element name="getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElementsResponse" type="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElementsResponse" />
  <xs:element name="getScoreDetailsForGivenUserIdAndLineItemBbIdXML" type="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdXML" />
  <xs:element name="getScoreDetailsForGivenUserIdAndLineItemBbIdXMLResponse" type="tns:getScoreDetailsForGivenUserIdAndLineItemBbIdXMLResponse" />
  <xs:element name="getScoreForGivenCourseMembershipBbIdAndLineItemBbId" type="tns:getScoreForGivenCourseMembershipBbIdAndLineItemBbId" />
  <xs:element name="getScoreForGivenCourseMembershipBbIdAndLineItemBbIdResponse" type="tns:getScoreForGivenCourseMembershipBbIdAndLineItemBbIdResponse" />
  <xs:element name="getScoreForGivenUserIdAndLineItemBbId" type="tns:getScoreForGivenUserIdAndLineItemBbId" />
  <xs:element name="getScoreForGivenUserIdAndLineItemBbIdResponse" type="tns:getScoreForGivenUserIdAndLineItemBbIdResponse" />
  <xs:element name="setLineItemWeightByLineItemBbId" type="tns:setLineItemWeightByLineItemBbId" />
  <xs:element name="setLineItemWeightByLineItemBbIdResponse" type="tns:setLineItemWeightByLineItemBbIdResponse" />
  <xs:element name="setLineItemWeightByLineItemBbIdXML" type="tns:setLineItemWeightByLineItemBbIdXML" />
  <xs:element name="setLineItemWeightByLineItemBbIdXMLResponse" type="tns:setLineItemWeightByLineItemBbIdXMLResponse" />
  <xs:element name="setWeightByItemOrCategoryForGradebookInGivenCourseId" type="tns:setWeightByItemOrCategoryForGradebookInGivenCourseId" />
  <xs:element name="setWeightByItemOrCategoryForGradebookInGivenCourseIdResponse" type="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdResponse" />
  <xs:element name="setWeightByItemOrCategoryForGradebookInGivenCourseIdXML" type="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdXML" />
  <xs:element name="setWeightByItemOrCategoryForGradebookInGivenCourseIdXMLResponse" type="tns:setWeightByItemOrCategoryForGradebookInGivenCourseIdXMLResponse" />
  <xs:complexType name="getAllScoreDetailsForGivenLineItemBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllScoreDetailsForGivenLineItemBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:scoreDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scoreDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="attemptBbId" type="xs:string" />
      <xs:element minOccurs="0" name="attemptLocation" type="xs:string" />
      <xs:element minOccurs="0" name="courseMembershipBbId" type="xs:string" />
      <xs:element minOccurs="0" name="dataType" type="xs:string" />
      <xs:element minOccurs="0" name="dateAdded" type="xs:string" />
      <xs:element minOccurs="0" name="dateChanged" type="xs:string" />
      <xs:element minOccurs="0" name="dateModified" type="xs:string" />
      <xs:element minOccurs="0" name="grade" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
      <xs:element minOccurs="0" name="scoreBbId" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WebServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllScoreDetailsForGivenLineItemBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllScoreDetailsForGivenLineItemBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenUserIdAndLineItemBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenUserIdAndLineItemBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGivenAttemptByAttemptBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="attemptBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGivenAttemptByAttemptBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutcomeDetailsFromOutcomeBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutcomeDetailsFromOutcomeBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:outcomeDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outcomeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="averageGrade" type="xs:string" />
      <xs:element minOccurs="0" name="averageScore" type="xs:float" />
      <xs:element minOccurs="0" name="courseMembershipBbId" type="xs:string" />
      <xs:element minOccurs="0" name="firstAttemptBbId" type="xs:string" />
      <xs:element minOccurs="0" name="grade" type="xs:string" />
      <xs:element minOccurs="0" name="gradebookStatus" type="xs:string" />
      <xs:element minOccurs="0" name="highestAttemptBbId" type="xs:string" />
      <xs:element minOccurs="0" name="instructorComments" type="xs:string" />
      <xs:element minOccurs="0" name="lastAttemptBbId" type="xs:string" />
      <xs:element minOccurs="0" name="lowestAttemptBbId" type="xs:string" />
      <xs:element minOccurs="0" name="manualGrade" type="xs:string" />
      <xs:element minOccurs="0" name="manualScore" type="xs:float" />
      <xs:element minOccurs="0" name="outcomeBbId" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefinitionBbId" type="xs:string" />
      <xs:element minOccurs="0" name="score" type="xs:float" />
      <xs:element minOccurs="0" name="studentComments" type="xs:string" />
      <xs:element minOccurs="0" name="totalScore" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllScoresForGivenLineItemBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllScoresForGivenLineItemBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomeDefinitionsForGivenCourseWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomeDefinitionsForGivenCourseWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:outcomeDefinitionDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outcomeDefinitionDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="asiDataBbId" type="xs:string" />
      <xs:element minOccurs="0" name="category" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="numOfOutcomes" type="xs:int" />
      <xs:element minOccurs="0" name="outcomeDefinitionBbId" type="xs:string" />
      <xs:element minOccurs="0" name="position" type="xs:int" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="weight" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenScoreBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="scoreBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenScoreBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setWeightByItemOrCategoryForGradebookInGivenCourseIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="itemOrCategory" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setWeightByItemOrCategoryForGradebookInGivenCourseIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseMembershipBbId" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:scoreDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAttemptDetailsByGivenOutcomeDefBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAttemptDetailsByGivenOutcomeDefBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseMembershipBbId" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenCourseMembershipBbIdAndLineItemBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:outcomeDefinitionDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setWeightByItemOrCategoryForGradebookInGivenCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="itemOrCategory" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setWeightByItemOrCategoryForGradebookInGivenCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addLineitemToGivenCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="pointsPossible" type="xs:float" />
      <xs:element minOccurs="0" name="weight" type="xs:float" />
      <xs:element minOccurs="0" name="available" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addLineitemToGivenCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllLineItemsForCourseIdWithNamedElementsAndParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineitemParams" type="tns:lineitemParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineitemParams">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:commonParams">
        <xs:sequence>
          <xs:element minOccurs="0" name="courseId" type="xs:string" />
          <xs:element minOccurs="0" name="lineitemBbId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="commonParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="apiToUse" type="xs:string" />
      <xs:element minOccurs="0" name="commonEmptyValue" type="xs:string" />
      <xs:element minOccurs="0" name="commonErrorValue" type="xs:string" />
      <xs:element minOccurs="0" name="logVerbosity" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllLineItemsForCourseIdWithNamedElementsAndParamsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineitemDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineitemDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:dataDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="assessmentBbId" type="xs:string" />
          <xs:element minOccurs="0" name="assessmentLocation" type="xs:string" />
          <xs:element minOccurs="0" name="available" type="xs:string" />
          <xs:element minOccurs="0" name="columnPosition" type="xs:string" />
          <xs:element minOccurs="0" name="dateAdded" type="xs:string" />
          <xs:element minOccurs="0" name="dateChanged" type="xs:string" />
          <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
          <xs:element minOccurs="0" name="pointsPossible" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="weight" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dataDetails" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dataLog" nillable="true" type="tns:dataLogRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataLogRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="apiUsed" type="xs:string" />
      <xs:element minOccurs="0" name="dateTime" type="xs:string" />
      <xs:element minOccurs="0" name="fieldName" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="severityLevel" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGivenAttemptByAttemptBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="attemptBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteGivenAttemptByAttemptBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllLineItemsForCourseIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="commonParams" type="tns:commonParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllLineItemsForCourseIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineitemDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addLineitemToGivenCourseIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="Name" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="pointsPossible" type="xs:float" />
      <xs:element minOccurs="0" name="weight" type="xs:float" />
      <xs:element minOccurs="0" name="available" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addLineitemToGivenCourseIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenScoreBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="scoreBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenScoreBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:scoreDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAttemptDetailsByGivenOutcomeDefBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:attemptDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attemptDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="attemptBbId" type="xs:string" />
      <xs:element minOccurs="0" name="attemptedDate" type="xs:string" />
      <xs:element minOccurs="0" name="dataType" type="xs:string" />
      <xs:element minOccurs="0" name="dateCreated" type="xs:string" />
      <xs:element minOccurs="0" name="dateModified" type="xs:string" />
      <xs:element minOccurs="0" name="grade" type="xs:string" />
      <xs:element minOccurs="0" name="instructorComments" type="xs:string" />
      <xs:element minOccurs="0" name="instructorNotes" type="xs:string" />
      <xs:element minOccurs="0" name="linkRefBbId" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeBbId" type="xs:string" />
      <xs:element minOccurs="0" name="publicComments" type="xs:boolean" />
      <xs:element minOccurs="0" name="resultObjectBbId" type="xs:string" />
      <xs:element minOccurs="0" name="score" type="xs:float" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="studentComments" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteLineItemByLineItemBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineitemBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteLineItemByLineItemBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreForGivenCourseMembershipBbIdAndLineItemBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseMembershipBbId" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreForGivenCourseMembershipBbIdAndLineItemBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreForGivenUserIdAndLineItemBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreForGivenUserIdAndLineItemBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomesForGivenOutcomeDefBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomesForGivenOutcomeDefBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:outcomeDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLineitemDetailsForGivenLineitemBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineitemBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLineitemDetailsForGivenLineitemBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteOutcomeDefinitionByOutcomeDefBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteOutcomeDefinitionByOutcomeDefBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllLineItemsForCourseIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllLineItemsForCourseIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGradebookSettingsForGivenCourseIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGradebookSettingsForGivenCourseIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGradebookSettingsForGivenCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGradebookSettingsForGivenCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutcomeDefinitionDetailsFromOutcomeDefinitionBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomeDefinitionsForGivenCourseXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomeDefinitionsForGivenCourseXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutcomeDetailsFromOutcomeBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOutcomeDetailsFromOutcomeBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLineitemDetailsForGivenLineitemBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineitemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="tns:commonParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:lineitemDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllLineItemsForCourseId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllLineItemsForCourseIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomesForGivenOutcomeDefBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomesForGivenOutcomeDefBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setLineItemWeightByLineItemBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="weight" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setLineItemWeightByLineItemBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setLineItemWeightByLineItemBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="weight" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setLineItemWeightByLineItemBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineitemParams" type="tns:lineitemParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLineitemDetailsForGivenLineitemBbIdWithNamedElementsAndParamsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:lineitemDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomeDefinitionsForGivenCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllOutcomeDefinitionsForGivenCourseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="lineItemBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getScoreDetailsForGivenUserIdAndLineItemBbIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:scoreDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGradebookSettingsForGivenCourseIdWithNamedElements">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="courseId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getGradebookSettingsForGivenCourseIdWithNamedElementsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:gradeBookSettingsDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradeBookSettingsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="averageDisplayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="commentsDisplayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="firstLastDisplayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="gradeBookSettingBbId" type="xs:string" />
      <xs:element minOccurs="0" name="lastFirstDisplayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="studentIdDisplayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="userIdDisplayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="weightType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAttemptsByGivenOutcomeDefBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
      <xs:element minOccurs="0" name="extendedDetails" type="xs:boolean" />
      <xs:element minOccurs="0" name="headerDesc" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAttemptsByGivenOutcomeDefBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ns1:stringArray" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteOutcomeDefinitionByOutcomeDefBbIdXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="outcomeDefBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteOutcomeDefinitionByOutcomeDefBbIdXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteLineItemByLineItemBbId">
    <xs:sequence>
      <xs:element minOccurs="0" name="pwd" type="xs:string" />
      <xs:element minOccurs="0" name="lineitemBbId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteLineItemByLineItemBbIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>